<include file="./Apps/Home/View/default/common_head.html"/>
<div id="main">
    <div class="container">
        <div class="major clearfix">
            <div class="quan-main">
                <div class="quan-block">
                    <div class="page-nav">
                        <a href="{:U('Home/Forum/index')}">
                            财税圈
                        </a>&gt;
                        <a href="{:U('Home/Forum/quan',array('id'=>$article['parentCatId']))}">
                            {$article.parentCatName}
                        </a>&gt;
                        <a href="{:U('Home/Forum/quan',array('id'=>$article['parentCatId'],'cat'=>$article['catId']))}">
                            {$article.catName}
                        </a>&gt;
                        <a href="javascript:;">帖子</a>
                    </div>
                    <div class="quan-post">
                        <div class="quan-post-item border-b-none clearfix">
                            <div class="fl">
                                <a href="{:U('Home/Users/index',array('id'=>$article['staffId']))}" target="_blank" class="block-head common-avatar">
                                    <img src="{$article.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="65" width="65">
                                </a>
                            </div>
                            <div class="r-content">
                                <!-- 分享收藏 -->
                                <div class="post-share-collect">
                                    <!--如果是点击用户自己发表的会显示修改和删除-->
                                    <div class="del-edit" style="float: left;">
                                        <a href="{:U('Home/Forum/mod',array('id'=>$article['articleId']))}" target="_blank">修改</a>
                                        <em>|</em>
                                        <a class="del-thread" href="javascript:;">删除</a>
                                    </div>
                                    <div class="share-tooltip">
                                        <span><i class="iconfont">&#xe653;</i>分享</span>
                                        <div class="wx-qq" style="display: none;">
                                            <a href="javascript:" class="iconfont wx">&#xe61f;</a>
                                            <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3A%2F%2Fclub.xiucai.com%2Fquan%2Fthread%2F1471004043%2F&site=&title=财税圈同行们在讨论：「导师问答」精选问题——汇总系列（不断更新）&pics=http://assets.xiucai.com/assets/img/logo50.png?v=1.10.5&summary=1、「精选问答 · 考证」2、「精选问答 · 职业发展」 3、「精选问答 · 工具软技能」4、「精选问答 · 管理会计」 5、「精选问答 · 财务管理」 6、「精选问答 · 财务会计1」 7、「精选问…"
                                               class="iconfont qq qqkj" target="_blank">&#xe602;</a>
                                        </div>
                                    </div>
                                    <script>
                                        $('.share-tooltip').hover(
                                            function () {
                                            $('.wx-qq').show();
                                        },
                                            function () {
                                                $('.wx-qq').hide();
                                        })
                                    </script>
                                    <!--<div class="collect-r">
                                        <span class="collect"  data-option-type="collect" id="collect-thread">
                                            <em class="iconfont">&#xe652;</em>收藏
                                        </span>
                                    </div>-->
                                </div>
                                <span class="quan-post-title">
                                <!-- 标题30个字符 -->
                                <h2>{$article.articleTitle}</h2>
                                </span>
                                <if condition="$article['isTop'] eq 1">
                                    <span id="quan-post-tag1471004043" class="quan-post-tag">
                                        <i class="tag-w tag-top" title="全部置顶"></i>
                                    </span>
                                </if>
                                <input type="hidden" id="y-j-d" value="http://assets.xiucai.com/assets/img/icon/yjd.png?v=1.10.5">
                                <div class="quan-post-info">
                                    <div class="">
                                        <span>阅读量：<i>{$article.readNum}</i></span>
                                        <span>回复量：<i class="thread-floor-count">{$article.commentNum}</i></span>
                                        <!-- level -->
                                        <a href="/help/6/#q28" target="_blank" class="" title="经验值：907，等级头衔：意见领袖，了解经验值等级">
			                    <span class="tag-level tag-level-LV10">
			                    <i>LV10</i></span>
                                        </a>
                                        <!-- 马甲 -->
                                        <a href="{:U('Home/Users/index',array('id'=>$article['staffId']))}" target="_blank" class="user">{$article.userName}</a><span class="post-time">发表于：{$article.createTime|date='Y-m-d H:i',###}</span>
                                    </div>
                                </div>
                                <div id="thread-info-content" class="quan-post-content">

                                </div>

                                <!-- 问答详情 导师问答 -->
                                <!-- 帖子附件显示 -->
                                <!-- 分类标签 -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 回复列表 start-->
                <div class="quan-block block-pagination">
                    <h1>最赞回复</h1>
                    <div class="all-post">
                        <div class="quan-post-item clearfix">
                            <div class="fl">
                                <a href="http://www.xiucai.com/user/313164/" class="block-head common-avatar" target="_blank">
                                    <img src="http://assets.xiucai.com/assets/img/caiduoduo.png?v=1.10.5" height="65" width="65">
                                </a>
                            </div>
                            <div class="r-content">
                                <div class="quan-post-info quan-post-info-top clearfix">
                                    <div class="fl">
                                        <!-- level -->
                                        <a href="/help/6/#q28" target="_blank" class="" title="经验值：16，等级头衔：中级粉丝，了解经验值等级">
			                    <span class="tag-level tag-level-LV2">
			                    <i>LV2</i></span>
                                        </a>
                                        <!-- 马甲 -->
                                        <a href="http://www.xiucai.com/user/313164/" class="user" target="_blank">kang</a>
                                        <span class="post-time">回复于：1个月前</span>
                                    </div>
                                    <div class="fr">
                                        <span class="tag-most-great">最赞回复</span>
                                        <span class="tag-floor ">1楼</span>
                                    </div>
                                </div>
                                <!-- 帖子部分内容设置不可见 -->
                                <div class="quan-post-content" id="reply-post-content-121697">
                                    <p>感谢</p>
                                </div>
                                <div class="quan-post-info ie7-parent-position clearfix">
                                    <span class="fl" id="reply-modify-time-121697">最后编辑于：2016-08-30 17:28</span>
                                    <div class="fr r-phaise-reply">
                                        <!--编辑回复操作-->

                                        <a href="javascript:;" class="post-praise agree-reply" data-reply-id="121697">
                                            <i></i>赞（8）
                                        </a>
                                        <a href="javascript:;" id="reply-one-reply-121697" class="post-reply reply-one-reply" data-reply-count="1"><i></i>回复</a>
                                    </div>
                                </div>

                                <div id="reply-board-121697" class="reply-board ">
                                    <i class="triangle6-red"></i>
                                    <div class="reply-level1">
                                        <div class="quan-post-item clearfix">
                                            <div class="fl">
                                                <a href="http://www.xiucai.com/user/318438/" class="block-head common-avatar" target="_blank">
                                                    <img src="http://assets.xiucai.com/assets/img/caiduoduo.png?v=1.10.5" height="50" width="50">
                                                </a>
                                            </div>
                                            <div class="r-content">
                                                <div><input type="text" class="input-field"></div>
                                                <div class="posting-box reply-ipt-bar clearfix">
                                                    <a href="javascript:;" data-reply-id="121697" data-reply-member-id="313164"
                                                       data-reply-member-name=""
                                                       class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 最多显示五条回复 -->
                                    <div class="quan-post-item clearfix">
                                        <div class="fl">
                                            <a href="http://www.xiucai.com/user/405/" class="block-head common-avatar" target="_blank">
                                                <img src="http://assets.xiucai.com/assets/uploads/avatar/2015/1224/99b97b3d-309c-540f-4395-5d190bbd3c10.jpg?v=0.058550095185637474" height="50" width="50">
                                            </a>
                                        </div>
                                        <div class="r-content">
                                            <div class="quan-post-info quan-post-info-top">
                                                <!-- level -->
                                                <a href="/help/6/#q28" target="_blank" class="" title="经验值：907，等级头衔：意见领袖，了解经验值等级">
			                    <span class="tag-level tag-level-LV10">
			                    <i>LV10</i></span></a>

                                                <!-- 马甲 -->

                                                <a href="http://www.xiucai.com/user/405/" class="user" target="_blank">秀财网</a><span class="post-time">回复于：1个月前</span>
                                            </div>
                                            <div class="quan-post-content" id="reply-two-post-content-122737">
                                                我就知道o(*￣▽￣*)o
                                            </div>

                                            <div class="fr level2-reply">
                                                <a href="javascript:;" class="hp-reply reply-two-reply"><i></i>回复</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reply-level2">
                                        <div class="quan-post-item clearfix">
                                            <div class="fl">
                                                <a href="http://www.xiucai.com/user/318438/" class="block-head common-avatar" target="_blank">
                                                    <img src="http://assets.xiucai.com/assets/img/caiduoduo.png?v=1.10.5" height="50" width="50">
                                                </a>
                                            </div>
                                            <div class="r-content">
                                                <div>
                                                    <input type="text" class="input-field" placeholder="回复秀财网：" value="">
                                                </div>
                                                <div class="posting-box reply-ipt-bar clearfix">
                                                    <a href="javascript:;" data-child-id="122737" data-reply-member-id="405"
                                                       data-reply-member-name="回复秀财网："
                                                       class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="thread-all-reply-list" class="quan-block block-pagination ">
                    <h1>全部回复<span>（<span class="thread-floor-count">{$article.commentNum}</span>）</span></h1>
                    <div id="all-post-list" class="all-post reletive">
                        <volist name="comment" id="v">
                        <div class="quan-post-item clearfix">
                            <div class="fl">
                                <a href="{:U('Home/Users/index',array('id'=>$v['uid']))}" class="block-head common-avatar" target="_blank">
                                    <img src="{$v.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="65" width="65">
                                </a>
                            </div>
                            <div class="r-content">
                                <div class="quan-post-info quan-post-info-top clearfix">
                                    <div class="fl">
                                        <!-- level -->
                                        <a href="/help/6/#q28" target="_blank" class="" title="经验值：16，等级头衔：中级粉丝，了解经验值等级">
			                    <span class="tag-level tag-level-LV2">
			                    <i>LV2</i></span></a>
                                        <!-- 马甲 -->
                                        <a href="http://www.xiucai.com/user/313164/" class="user" target="_blank">kang</a>
                                        <span class="post-time">回复于：{$v['ctime']|mdate}</span>
                                    </div>
                                    <div class="fr">
			                <span class="tag-floor">
                                <if condition="$_GET['p'] eq '' or $_GET['p'] eq 1">{$i+1}楼<else/>{($i+1)+($_GET['p']-1)*20}</if>
			                </span>
                                    </div>
                                </div>
                                <!-- 帖子部分内容设置不可见 -->
                                <div class="quan-post-content" id="reply-post-content-121697"><p>{$v.content}</p></div>
                                <div class="quan-post-info ie7-parent-position clearfix">
                                    <div class="fr r-phaise-reply">
                                        <!--编辑回复操作-->
                                        <a href="javascript:;" class="post-praise agree-reply" data-reply-id="121697">
                                            <i></i>赞（{$v.laud}）
                                        </a>
                                        <a href="javascript:;" id="reply-one-reply-121697" class="post-reply reply-one-reply" data-reply-count="1"><i></i>回复</a>
                                    </div>
                                </div>


                                <volist name="v['children']" id="vv">
                                    <div id="reply-board-121697" class="reply-board ">
                                        <i class="triangle6-red"></i>
                                        <div class="reply-level1">
                                            <div class="quan-post-item clearfix">
                                                <div class="fl">
                                                    <a href="{:U('Home/Users/index',array('id'=>$v['uid']))}" class="block-head common-avatar" target="_blank">
                                                        <img src="{$v.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="50" width="50">
                                                    </a>
                                                </div>
                                                <div class="r-content">
                                                    <div><input type="text" class="input-field"></div>
                                                    <div class="posting-box reply-ipt-bar clearfix">
                                                        <a href="javascript:;" data-reply-id="121697" data-reply-member-id="313164" data-reply-member-name="" class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 最多显示五条回复 -->
                                        <div class="quan-post-item clearfix">
                                            <div class="fl">
                                                <a href="http://www.xiucai.com/user/405/" class="block-head common-avatar" target="_blank">
                                                    <img src="http://assets.xiucai.com/assets/uploads/avatar/2015/1224/99b97b3d-309c-540f-4395-5d190bbd3c10.jpg?v=0.058550095185637474" height="50" width="50">
                                                </a>
                                            </div>
                                            <div class="r-content">
                                                <div class="quan-post-info quan-post-info-top">
                                                    <!-- level -->
                                                    <a href="/help/6/#q28" target="_blank" class="" title="经验值：907，等级头衔：意见领袖，了解经验值等级">
					                    <span class="tag-level tag-level-LV10">
					                    <i>LV10</i></span></a>

                                                    <!-- 马甲 -->

                                                    <a href="http://www.xiucai.com/user/405/" class="user" target="_blank">秀财网</a><span class="post-time">回复于：1个月前</span>
                                                </div>
                                                <div class="quan-post-content" id="reply-two-post-content-122737">
                                                    我就知道o(*￣▽￣*)o
                                                </div>
                                                <div class="fr level2-reply">
                                                    <a href="javascript:;" class="hp-reply reply-two-reply"><i></i>回复</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply-level2">
                                            <div class="quan-post-item clearfix">
                                                <div class="fl">
                                                    <a href="http://www.xiucai.com/user/318438/" class="block-head common-avatar" target="_blank">
                                                        <img src="http://assets.xiucai.com/assets/img/caiduoduo.png?v=1.10.5" height="50" width="50">
                                                    </a>
                                                </div>
                                                <div class="r-content">
                                                    <div>
                                                        <input type="text" class="input-field" placeholder="回复秀财网：" value="">
                                                    </div>
                                                    <div class="posting-box reply-ipt-bar clearfix">
                                                        <a href="javascript:;" data-child-id="122737" data-reply-member-id="405"
                                                           data-reply-member-name="回复秀财网："
                                                           class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </div>
                        </volist>

                        <div class="quan-post-item clearfix">
                            <div class="fl">
                                <a href="http://www.xiucai.com/user/3012/" class="block-head common-avatar" target="_blank">
                                    <img src="http://assets.xiucai.com/assets/uploads/pic/2015/0902/af35b5e8-0941-4602-ad80-a808fede8717.jpg" height="65" width="65">
                                </a>
                            </div>
                            <div class="r-content">
                                <div class="quan-post-info quan-post-info-top clearfix">
                                    <div class="fl">
                                        <!-- level -->
                                        <a href="/help/6/#q28" target="_blank" class="" title="经验值：65，等级头衔：入门会员，了解经验值等级">
			                    <span class="tag-level tag-level-LV4">
			                    <i>LV4</i></span>
                                        </a>
                                        <!-- 马甲 -->
                                        <a href="http://www.xiucai.com/user/3012/" class="user" target="_blank">梁问风</a>
                                        <span class="post-time">回复于：1个月前</span>
                                    </div>
                                    <div class="fr">
			                <span class="tag-floor floor-top-three">
			                    2楼
			                </span>
                                    </div>
                                </div>
                                <!-- 帖子部分内容设置不可见 -->
                                <div class="quan-post-content" id="reply-post-content-121898"><p>好像发现了个好东西</p></div>
                                <div class="quan-post-info ie7-parent-position clearfix">
                                    <span class="fl" id="reply-modify-time-121898">最后编辑于：2016-08-30 17:29</span>
                                    <div class="fr r-phaise-reply">
                                        <!--编辑回复操作-->
                                        <a href="javascript:;" class="post-praise agree-reply" data-reply-id="121898">
                                            <i></i>赞（3）
                                        </a>
                                        <a href="javascript:;" id="reply-one-reply-121898" class="post-reply reply-one-reply" data-reply-count="1"><i></i>回复</a>
                                    </div>
                                </div>
                                <div id="reply-board-121898" class="reply-board ">
                                    <i class="triangle6-red"></i>
                                    <div class="reply-level1">
                                        <div class="quan-post-item clearfix">
                                            <div class="fl">
                                                <a href="http://www.xiucai.com/user/318438/" class="block-head common-avatar" target="_blank">
                                                    <img src="http://assets.xiucai.com/assets/img/caiduoduo.png?v=1.10.5" height="50" width="50">
                                                </a>
                                            </div>
                                            <div class="r-content">
                                                <div><input type="text" class="input-field"></div>
                                                <div class="posting-box reply-ipt-bar clearfix">
                                                    <a href="javascript:;" data-reply-id="121898" data-reply-member-id="3012" data-reply-member-name="" class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 最多显示五条回复 -->
                                    <div class="quan-post-item clearfix">
                                        <div class="fl">
                                            <a href="http://www.xiucai.com/user/405/" class="block-head common-avatar" target="_blank">
                                                <img src="http://assets.xiucai.com/assets/uploads/avatar/2015/1224/99b97b3d-309c-540f-4395-5d190bbd3c10.jpg?v=0.058550095185637474" height="50" width="50">
                                            </a>
                                        </div>
                                        <div class="r-content">
                                            <div class="quan-post-info quan-post-info-top">
                                                <!-- level -->
                                                <a href="/help/6/#q28" target="_blank" class="" title="经验值：907，等级头衔：意见领袖，了解经验值等级">
					                    <span class="tag-level tag-level-LV10">
					                    <i>LV10</i></span>
                                                </a>
                                                <!-- 马甲 -->
                                                <a href="http://www.xiucai.com/user/405/" class="user" target="_blank">秀财网</a>
                                                <span class="post-time">回复于：1个月前</span>
                                            </div>
                                            <div class="quan-post-content" id="reply-two-post-content-122738">
                                                有人夸你眼光不错吗？
                                            </div>
                                            <div class="fr level2-reply">
                                                <a href="javascript:;" class="hp-reply reply-two-reply"><i></i>回复</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reply-level2">
                                        <div class="quan-post-item clearfix">
                                            <div class="fl">
                                                <a href="http://www.xiucai.com/user/318438/" class="block-head common-avatar" target="_blank">
                                                    <img src="http://assets.xiucai.com/assets/img/caiduoduo.png?v=1.10.5" height="50" width="50">
                                                </a>
                                            </div>
                                            <div class="r-content">
                                                <div>
                                                    <input type="text" class="input-field" placeholder="回复秀财网：" value="">
                                                </div>
                                                <div class="posting-box reply-ipt-bar clearfix">
                                                    <a href="javascript:;" data-child-id="122738" data-reply-member-id="405"
                                                       data-reply-member-name="回复秀财网："
                                                       class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="quan-post-item clearfix">
                            <div class="fl">
                                <a href="http://www.xiucai.com/user/316170/" class="block-head common-avatar" target="_blank">
                                    <img src="http://q.qlogo.cn/qqapp/101209063/779B9F38DF73735DE4AC3618D2BEAF69/100" height="65" width="65">
                                </a>
                            </div>
                            <div class="r-content">
                                <div class="quan-post-info quan-post-info-top clearfix">
                                    <div class="fl">
                                        <!-- level -->
                                        <a href="/help/6/#q28" target="_blank" class="" title="经验值：11，等级头衔：中级粉丝，了解经验值等级">
			                    <span class="tag-level tag-level-LV2">
			                    <i>LV2</i></span>
                                        </a>
                                        <!-- 马甲 -->
                                        <a href="http://www.xiucai.com/user/316170/" class="user" target="_blank">CC</a>
                                        <span class="post-time">回复于：1个月前</span>
                                    </div>
                                    <div class="fr">
			                <span class="tag-floor ">
			                    4楼
			                </span>
                                    </div>
                                </div>
                                <!-- 帖子部分内容设置不可见 -->
                                <div class="quan-post-content" id="reply-post-content-122652"><p>这个不错</p></div>
                                <div class="quan-post-info ie7-parent-position clearfix">
                                    <span class="fl" id="reply-modify-time-122652">最后编辑于：2016-08-30 17:29</span>
                                    <div class="fr r-phaise-reply">
                                        <!--编辑回复操作-->
                                        <a href="javascript:;" class="post-praise agree-reply" data-reply-id="122652">
                                            <i></i>赞（2）
                                        </a>
                                        <a href="javascript:;" id="reply-one-reply-122652" class="post-reply reply-one-reply" data-reply-count="1"><i></i>回复</a>
                                    </div>
                                </div>

                                <div id="reply-board-122652" class="reply-board ">
                                    <i class="triangle6-red"></i>
                                    <div class="reply-level1">
                                        <div class="quan-post-item clearfix">
                                            <div class="fl">
                                                <a href="http://www.xiucai.com/user/318438/" class="block-head common-avatar" target="_blank">
                                                    <img src="http://assets.xiucai.com/assets/img/caiduoduo.png?v=1.10.5" height="50" width="50">
                                                </a>
                                            </div>
                                            <div class="r-content">
                                                <div><input type="text" class="input-field"></div>
                                                <div class="posting-box reply-ipt-bar clearfix">
                                                    <a href="javascript:;" data-reply-id="122652" data-reply-member-id="316170" data-reply-member-name="" class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 最多显示五条回复 -->
                                    <div class="quan-post-item clearfix">
                                        <div class="fl">
                                            <a href="http://www.xiucai.com/user/405/" class="block-head common-avatar" target="_blank">
                                                <img src="http://assets.xiucai.com/assets/uploads/avatar/2015/1224/99b97b3d-309c-540f-4395-5d190bbd3c10.jpg?v=0.058550095185637474" height="50" width="50">
                                            </a>
                                        </div>
                                        <div class="r-content">
                                            <div class="quan-post-info quan-post-info-top">
                                                <!-- level -->
                                                <a href="/help/6/#q28" target="_blank" class="" title="经验值：907，等级头衔：意见领袖，了解经验值等级">
					                    <span class="tag-level tag-level-LV10">
					                    <i>LV10</i></span>
                                                </a>
                                                <!-- 马甲 -->
                                                <a href="http://www.xiucai.com/user/405/" class="user" target="_blank">秀财网</a>
                                                <span class="post-time">回复于：1个月前</span>
                                            </div>
                                            <div class="quan-post-content" id="reply-two-post-content-122740">
                                                必须o(*≧▽≦)ツ
                                            </div>
                                            <div class="fr level2-reply">
                                                <a href="javascript:;" class="hp-reply reply-two-reply"><i></i>回复</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reply-level2">
                                        <div class="quan-post-item clearfix">
                                            <div class="fl">
                                                <a href="http://www.xiucai.com/user/318438/" class="block-head common-avatar" target="_blank">
                                                    <img src="http://assets.xiucai.com/assets/img/caiduoduo.png?v=1.10.5" height="50" width="50">
                                                </a>
                                            </div>
                                            <div class="r-content">
                                                <div>
                                                    <input type="text" class="input-field" placeholder="回复秀财网：" value="">
                                                </div>
                                                <div class="posting-box reply-ipt-bar clearfix">
                                                    <a href="javascript:;" data-child-id="122740" data-reply-member-id="405"
                                                       data-reply-member-name="回复秀财网："
                                                       class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <if condition="$_SESSION['WSTMALL']['WST_USER']['userId'] neq ''">
                    <div class="quan-block quan-block-all clearfix">
                        <div class="fl">
                            <a href="javascript:;" class="block-head common-avatar">
                                <img src="http://assets.xiucai.com/assets/img/caiduoduo.png?v=1.10.5" height="65" width="65">
                            </a>
                        </div>
                        <div class="r-content">
                            <div class="editor relative">
                                <!-- 未登录时显示 -->
                                <textarea id="answer_content" rows="8" cols="100"> </textarea>
                            </div>
                            <div class="posting-box reply-ipt-bar clearfix">
                                <a id="reply-thread-btn" href="javascript:;" class="globe-btn50 has-icon-btn fr"><i></i>回复</a>
                            </div>
                        </div>
                    </div>
                    <else/>
                    <div class="quan-block quan-block-all clearfix">
                        <div class="editor relative">
                            <div class="editor-tips">您需要登录后才可以回帖
                                <span><a class="a-login" href="javascript:login();">登录</a>|<a class="a-register" href="javascript:zhuce();">注册</a></span>
                            </div>
                        </div>
                    </div>
                </if>
            </div>
            <script src="__PUBLIC__/plugins/kindeditor/kindeditor.js"></script>
            <script src="__PUBLIC__/plugins/kindeditor/lang/zh-CN.js"></script>
            <script>
                $(function () {
                    KindEditor.ready(function (K) {
                        editor1 = K.create('textarea[id="answer_content"]', {
                            height: '170px',
                            allowFileManager: false,
                            allowImageUpload: true,
                            items: [
                                'source', '|', 'undo', 'redo',  '|', 'fullscreen', 'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', 'image',  'emoticons'
                            ],
                            afterBlur: function () {
                                this.sync();
                            }
                        });
                    });
                });
            </script>
            <!-- right -->
            <div class="quan-side-bar">


                <!-- 导师问答 -->
                <div class="quan-block quan-title-block">
                    <h2><em></em>所属圈子</h2>
                    <div class="quan-belong clearfix">
                        <div class="fl">
                            <a href="{:U('Home/Forum/quan',array('id'=>$article['parentCatId']))}" target="_blank" class="link-text">
                                <span class="iconfont  icon-official"></span>
                                <span>{$article.parentCatName}</span>
                            </a>
                        </div>
                        <a href="{:U('Home/Forum/quan',array('id'=>$article['parentCatId']))}" target="_blank" class="link-text fr">进入圈子&raquo;</a>
                    </div>
                    <p class="quan-belong-edit align-c">
                        <a href="{:U('Home/Forum/add')}" target="_blank"
                           class="globe-btn50 edit-btn postThread"><i></i>我要发帖
                        </a>
                    </p>
                </div>

                <div class="quan-block quan-title-block">
                    <h2><em></em>圈子热门帖</h2>
                    <ul class="circle-list">
                        <volist name="hot" id="v" offset="0" length="3" empty="暂无信息~">
                            <li class="rank-top">
                                <a href="{:U('Home/forum/article',array('id'=>$v['articleId']))}" target="_blank" class="clearfix hit_count" title="{$v.articleTitle}">
                                    <span class="rank-num">{$i}</span><span class="rank-discuss">{$v.articleTitle}</span>
                                </a>
                            </li>
                        </volist>
                        <volist name="hot" id="v" offset="3" length="7">
                            <li>
                                <a href="{:U('Home/forum/article',array('id'=>$v['articleId']))}" target="_blank" class="clearfix hit_count" title="{$v.articleTitle}">
                                    <span class="rank-num">{$i+3}</span><span class="rank-discuss">{$v.articleTitle}</span>
                                </a>
                            </li>
                        </volist>
                    </ul>
                </div>


                <!-- wx分享 -->
                <div class="wx-qrcode hide">
                    <i class="wx-close"></i>
                    <span id="wx-code"></span>
                    <p>扫一扫，分享到微信</p>
                </div>
            </div>

        </div>
    </div>



    <!-- 删除帖子 begin -->
    <div id="del-community-layer" class="dialog-board dialog-board-none-title hide">
        <div class="dialog-board-bar">
            <a href="javascript:;" class="close-dialog-board"></a>
        </div>
        <div class="dialog-board-content">
            <div class="box-container">
                <p id="del-community-tips" class="text-c-tips">确认删除此帖吗？</p>
                <div class="btn-col2 clearfix">
                    <a id="del-community-btn" href="javascript:;" class="fl globe-btn50">确认</a>
                    <a id="del-community-cancel" href="javascript:;" class="fr globe-btn50 globe-btn50-nobg">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 删除帖子 end -->

    <!-- 帖子操作 begin -->
    <div id="option-community-layer" class="dialog-board dialog-board-none-title hide">
        <div class="dialog-board-bar">
            <a href="javascript:;" class="close-dialog-board"></a>
        </div>
        <div class="dialog-board-content">
            <div class="box-container">
                <p id="option-community-tips" class="text-c-tips">操作成功</p>
                <div class="btn-single">
                    <a id="option-community-btn" href="javascript:;" class="globe-btn50">确认</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 帖子操作 end -->

    <!-- 回帖加入圈子提醒 begin -->
    <div id="reply-thread-remind-layer" class="dialog-board dialog-board-window dialog-board-red hide">
        <div class="dialog-board-bar">
            <h2>回帖提醒</h2>
            <a href="javascript:;" class="close-dialog-board"></a>
        </div>
        <div class="dialog-board-content">
            <div class="box-container">
                <p class="text-c-tips">对这个话题感兴趣？加入圈子关注更多话题</p>
                <div class="btn-single">
                    <a id="reply-thread-remind-btn" href="javascript:;" class="globe-btn50">加入圈子</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 回帖加入圈子提醒 end -->

    <!-- 下载帖子附件扣除圈币提醒 begin -->
    <div id="down-thread-file-coin-layer" class="dialog-board dialog-board-window dialog-board-red hide">
        <div class="dialog-board-bar">
            <h2>下载提醒</h2>
            <a href="javascript:;" class="close-dialog-board"></a>
        </div>
        <div class="dialog-board-content">
            <div class="box-container">
                <p id="down-thread-file-coin-tips" class="text-c-tips"></p>
                <div class="btn-col2 clearfix">
                    <a id="down-thread-file-coin-btn" href="javascript:;" class="fl globe-btn50" target="_blank">确认</a>
                    <a id="down-thread-file-coin-cancel" href="javascript:;" class="fr globe-btn50 globe-btn50-nobg">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 下载帖子附件扣除圈币提醒 end -->
    <div class="dialog-board dialog-board-m dialog-board-m-notitle hide" id="threadWechatDiv">
        <div class="dialog-board-bar">
            <a href="javascript:" class="close-dialog-board iconfont closeThreadWechatDiv">&#xe644;</a>
        </div>
        <div class="dialog-board-content align-c">
            <div class="service-concern">
                <h2 class="w-main-title">想有回复立刻通知你吗？</h2>
                <div class="w-qrcode">
                    <img src="http://assets.xiucai.com/assets/img/qrcode/qrcode3.png?v=1.10.5" alt="" height="160" width="160">
                    <p>扫一扫，关注服务号</p>
                </div>
                <div class="multi-btn">
                    <a href="javascript:;" class="none-tips link-close" id="notNoticeWechatFocus">不再提示</a>
                    <a href="javascript:;" class="globe-btn50 globe-btn50-nobg link-close closeThreadWechatDiv">知道了</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery-1.9.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/dialog-plus.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/common4.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.enplaceholder.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/focusUser.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/icheck.min.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/login.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/login_register.js"></script>

<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.SuperSlide.2.1.1.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/select.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/alert.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/thread_detail.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/communityManage.js?v=1.10.5"></script>

<include file="./Apps/Home/View/default/common_foot.html"/>