<include file="./Apps/Home/View/default/common_head.html"/>
<div id="main">
    <div class="container">
        <div class="major clearfix">
            <div class="quan-main">
                <div class="quan-block">
                    <div class="page-nav">
                        <a href="{:U('Home/Forum/index')}">
                            财税圈
                        </a>&gt;
                        <a href="{:U('Home/Forum/quan',array('id'=>$article['parentCatId']))}">
                            {$article.parentCatName}
                        </a>&gt;
                        <a href="{:U('Home/Forum/quan',array('id'=>$article['parentCatId'],'cat'=>$article['catId']))}">
                            {$article.catName}
                        </a>&gt;
                        <a href="javascript:;">帖子</a>
                    </div>
                    <div class="quan-post">
                        <div class="quan-post-item border-b-none clearfix">
                            <div class="fl">
                                <a href="{:U('Home/Users/index',array('id'=>$article['staffId']))}" target="_blank" class="block-head common-avatar">
                                    <img src="{$article.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="65" width="65">
                                </a>
                            </div>
                            <div class="r-content">
                                <!-- 分享收藏 -->
                                <div class="post-share-collect">
                                    <if condition="$article['staffId'] eq $user['userId']">
                                    <!--如果是点击用户自己发表的会显示修改和删除-->
                                    <div class="del-edit" style="float: left;">
                                        <a href="{:U('Home/Forum/mod',array('id'=>$article['articleId']))}" target="_blank">修改</a>
                                        <em>|</em>
                                        <a class="del-thread" href="javascript:;">删除</a>
                                    </div>
                                    </if>
                                    <div class="share-tooltip">
                                        <span><i class="iconfont">&#xe653;</i>分享</span>
                                        <div class="wx-qq" style="display: none;">
                                            <a href="javascript:" class="iconfont wx">&#xe61f;</a>
                                            <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3A%2F%2Fclub.xiucai.com%2Fquan%2Fthread%2F1471004043%2F&site=&title=财税圈同行们在讨论：「导师问答」精选问题——汇总系列（不断更新）&pics=http://assets.xiucai.com/assets/img/logo50.png?v=1.10.5&summary=1、「精选问答 · 考证」2、「精选问答 · 职业发展」 3、「精选问答 · 工具软技能」4、「精选问答 · 管理会计」 5、「精选问答 · 财务管理」 6、「精选问答 · 财务会计1」 7、「精选问…"
                                               class="iconfont qq qqkj" target="_blank">&#xe602;</a>
                                        </div>
                                    </div>
                                    <script>
                                        $('.share-tooltip').hover(
                                            function () {
                                            $('.wx-qq').show();
                                        },
                                            function () {
                                                $('.wx-qq').hide();
                                        })
                                    </script>
                                    <!--<div class="collect-r">
                                        <span class="collect"  data-option-type="collect" id="collect-thread">
                                            <em class="iconfont">&#xe652;</em>收藏
                                        </span>
                                    </div>-->
                                </div>
                                <span class="quan-post-title">
                                <!-- 标题30个字符 -->
                                <h2>{$article.articleTitle}</h2>
                                </span>
                                <if condition="$article['isTop'] eq 1">
                                    <span id="quan-post-tag1471004043" class="quan-post-tag">
                                        <i class="tag-w tag-top" title="全部置顶"></i>
                                    </span>
                                </if>
                                <input type="hidden" id="y-j-d" value="http://assets.xiucai.com/assets/img/icon/yjd.png?v=1.10.5">
                                <div class="quan-post-info">
                                    <div class="">
                                        <span>阅读量：<i>{$article.readNum}</i></span>
                                        <span>回复量：<i class="thread-floor-count">{$article.commentNum}</i></span>
                                        <!-- level -->
                                        <a href="/help/6/#q28" target="_blank" class="" title="经验值：{$article.userScore}，等级头衔：{$article.userRankName}，了解经验值等级">
			                    <span class="tag-level tag-level-LV{$article.userRankId}">
			                    <i>LV{$article.userRankId}</i></span>
                                        </a>
                                        <!-- 马甲 -->
                                        <a href="{:U('Home/Users/index',array('id'=>$article['staffId']))}" target="_blank" class="user">{$article.userName}</a><span class="post-time">发表于：{$article.createTime|date='Y-m-d H:i',###}</span>
                                    </div>
                                </div>
                                <div id="thread-info-content" class="quan-post-content">
                                    {$article.articleContent}
                                </div>

                                <!-- 问答详情 导师问答 -->
                                <!-- 帖子附件显示 -->
                                <!-- 分类标签 -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 回复列表 start-->

                <!--最赞回复-->
                <if condition="$laudest neq null">
                <div class="quan-block block-pagination">
                    <h1>最赞回复</h1>
                    <div class="all-post">
                        <div class="quan-post-item clearfix">
                            <div class="fl">
                                <a href="{:U('Home/Users/index',array('id'=>$laudest[0]['uid']))}" class="block-head common-avatar" target="_blank">
                                    <img src="{$laudest[0].userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="65" width="65">
                                </a>
                            </div>
                            <div class="r-content">
                                <div class="quan-post-info quan-post-info-top clearfix">
                                    <div class="fl">
                                        <!-- level -->
                                        <a href="/help/6/#q28" target="_blank" class="" title="经验值：{$laudest[0]['userTotalScore']}，等级头衔：{$laudest[0]['rank']['rankName']}，了解经验值等级">
			                    <span class="tag-level tag-level-LV{$laudest[0]['rank']['rankId']}">
			                    <i>LV{$laudest[0]['rank']['rankId']}</i></span></a>
                                        <!-- 马甲 -->
                                        <a href="{:U('Home/Users/index',array('id'=>$laudest[0]['uid']))}" class="user" target="_blank">{$laudest[0]['loginName']}</a>
                                        <span class="post-time">回复于：{$laudest[0]['ctime']|mdate}</span>
                                    </div>
                                    <div class="fr">
                                        <span class="tag-most-great">最赞回复</span>
                                    </div>
                                </div>
                                <!-- 帖子部分内容设置不可见 -->
                                <div class="quan-post-content" id="reply-post-content-{$laudest[0].id}"><p>{$laudest[0]['content']}</p></div>
                                <div class="quan-post-info ie7-parent-position clearfix">
                                    <div class="fr r-phaise-reply">
                                        <if condition="$laudest[0]['islaud'] eq null">
                                            <a href="javascript:;" class="post-praise agree-reply" data-reply-id="{$laudest[0].id}">
                                                <i></i>赞（<span>{$laudest[0].laud}</span>）
                                            </a>
                                        <else/>
                                            <a href="javascript:;" class="post-praise disagree-reply" data-reply-id="{$laudest[0].id}">
                                                <i></i>取消赞（<span>{$laudest[0].laud}</span>）
                                            </a>
                                        </if>
                                        <a href="javascript:;" id="reply-one-reply-{$laudest[0].id}" class="post-reply reply-one-reply" data-reply-count="{$laudest[0]['children']|count}" name="zan{$laudest[0]['id']}"><i></i>回复</a>
                                    </div>
                                </div>

                                <div id="reply-board-{$laudest[0]['id']}" class="reply-board ">
                                    <i class="triangle6-red"></i>
                                    <div class="reply-level1" id="reply-zan{$laudest[0]['id']}">
                                        <div class="quan-post-item clearfix">
                                            <div class="fl">
                                                <a href="{:U('Home/Users/index')}" class="block-head common-avatar" target="_blank">
                                                    <img src="{$user.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="50" width="50">
                                                </a>
                                            </div>
                                            <div class="r-content">
                                                <div><input type="text" class="input-field"></div>
                                                <div class="posting-box reply-ipt-bar clearfix">
                                                    <a href="javascript:;" data-reply-id="{$laudest[0]['id']}" data-reply-member-id="{$laudest[0].uid}" data-type="0" data-reply-member-name="" class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <volist name="laudest[0]['children']" id="vv" key="k">
                                        <!-- 最多显示五条回复 -->
                                        <div class="quan-post-item clearfix">
                                            <div class="fl">
                                                <a href="{:U('Home/Users/index',array('id'=>$vv['uid']))}" class="block-head common-avatar" target="_blank">
                                                    <img src="{$vv.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="50" width="50">
                                                </a>
                                            </div>
                                            <div class="r-content">
                                                <div class="quan-post-info quan-post-info-top">
                                                    <!-- level -->
                                                    <a href="/help/6/#q28" target="_blank" class="" title="经验值：{$vv.userTotalScore}，等级头衔：{$vv.rank.rankName}，了解经验值等级">
			                                            <span class="tag-level tag-level-LV{$vv.rank.rankId}">
			                                                <i>LV{$vv.rank.rankId}</i>
                                                        </span>
                                                    </a>

                                                    <!-- 马甲 -->

                                                    <a href="{:U('Home/Users/index',array('id'=>$vv['uid']))}" class="user" target="_blank">{$vv.loginName}</a><span class="post-time">回复于：{$vv['ctime']|mdate}</span>
                                                </div>
                                                <div class="quan-post-content" id="reply-two-post-content-{$vv.id}">
                                                    {$vv.content}
                                                </div>
                                                <div class="fr level2-reply">
                                                    <a href="javascript:;" class="hp-reply reply-two-reply" name="zan{$vv.id}"><i></i>回复</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply-level2" id="reply-zan{$vv.id}">
                                            <div class="quan-post-item clearfix">
                                                <div class="fl">
                                                    <a href="{:U('Home/Users/index')}" class="block-head common-avatar" target="_blank">
                                                        <img src="{$user.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="50" width="50">
                                                    </a>
                                                </div>
                                                <div class="r-content">
                                                    <div>
                                                        <input type="text" class="input-field" placeholder="回复{$vv.loginName}：" value="">
                                                    </div>
                                                    <div class="posting-box reply-ipt-bar clearfix">
                                                        <a href="javascript:;" data-reply-id="{$laudest[0]['id']}" data-reply-member-id="{$vv.uid}" data-type="1" data-reply-member-name="回复{$vv.loginName}：" class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </volist>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--最赞回复-->
                </if>
                <!--全部回复-->
                <if condition="$comment neq null">
                <div id="thread-all-reply-list" class="quan-block block-pagination ">
                    <h1>全部回复<span>（<span class="thread-floor-count">{$article.commentNum}</span>）</span></h1>
                    <div id="all-post-list" class="all-post reletive">
                        <volist name="comment" id="v" key="i">
                        <div class="quan-post-item clearfix">
                            <div class="fl">
                                <a href="{:U('Home/Users/index',array('id'=>$v['uid']))}" class="block-head common-avatar" target="_blank">
                                    <img src="{$v.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="65" width="65">
                                </a>
                            </div>
                            <div class="r-content">
                                <div class="quan-post-info quan-post-info-top clearfix">
                                    <div class="fl">
                                        <!-- level -->
                                        <a href="/help/6/#q28" target="_blank" class="" title="经验值：{$v.userTotalScore}，等级头衔：{$v.rank.rankName}，了解经验值等级">
			                    <span class="tag-level tag-level-LV{$v.rank.rankId}">
			                    <i>LV{$v.rank.rankId}</i></span></a>
                                        <!-- 马甲 -->
                                        <a href="{:U('Home/Users/index',array('id'=>$v['uid']))}" class="user" target="_blank">{$v.loginName}</a>
                                        <span class="post-time">回复于：{$v['ctime']|mdate}</span>
                                    </div>
                                    <div class="fr">
			                            <span class="tag-floor">
                                        <if condition="$_GET['p'] eq '' or $_GET['p'] eq 1">{$i}楼<else/>{$i+($_GET['p']-1)*20}楼</if>
			                            </span>
                                    </div>
                                </div>
                                <!-- 帖子部分内容设置不可见 -->
                                <div class="quan-post-content" id="reply-post-content-{$v.id}"><p>{$v.content}</p></div>
                                <div class="quan-post-info ie7-parent-position clearfix">
                                    <div class="fr r-phaise-reply">
                                        <if condition="$v['islaud'] eq null">
                                            <a href="javascript:;" class="post-praise agree-reply" data-reply-id="{$v.id}" data-reply-uid="{$v.uid}">
                                                <i></i>赞（<span>{$v.laud}</span>）
                                            </a>
                                            <a href="javascript:;" class="post-praise disagree-reply" data-reply-id="{$v.id}" data-reply-uid="{$v.uid}" style="display:none;">
                                                <i></i>取消赞（<span>{$v['laud']+1}</span>）
                                            </a>
                                            <else/>
                                            <a href="javascript:;" class="post-praise disagree-reply" data-reply-id="{$v.id}" data-reply-uid="{$v.uid}">
                                                <i></i>取消赞（<span>{$v.laud}</span>）
                                            </a>
                                            <a href="javascript:;" class="post-praise agree-reply" data-reply-id="{$v.id}" data-reply-uid="{$v.uid}" style="display:none;">
                                                <i></i>赞（<span>{$v['laud']-1}</span>）
                                            </a>
                                        </if>
                                        <a href="javascript:;" id="reply-one-reply-{$v.id}" class="post-reply reply-one-reply" data-reply-count="1" name="{$v.id}"><i></i>回复</a>
                                    </div>
                                </div>
                                <div id="reply-board-{$v.id}" class="reply-board ">
                                    <i class="triangle6-red"></i>

                                    <!--一级回复ss-->
                                    <div class="reply-level1" id="reply-{$v.id}">
                                        <div class="quan-post-item clearfix">
                                            <div class="fl">
                                                <a href="{:U('Home/Users/index')}" class="block-head common-avatar" target="_blank">
                                                    <img src="{$user.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="50" width="50">
                                                </a>
                                            </div>
                                            <div class="r-content">
                                                <div><input type="text" class="input-field"></div>
                                                <div class="posting-box reply-ipt-bar clearfix">
                                                    <a href="javascript:;" data-reply-id="{$v.id}" data-reply-member-id="{$v.uid}" data-reply-member-name="" data-type="0" class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--一级回复ee-->

                                    <volist name="v['children']" id="vv" key="k">
                                        <!-- 最多显示五条回复 -->
                                        <div class="quan-post-item clearfix">
                                            <div class="fl">
                                                <a href="{:U('Home/Users/index',array('id'=>$vv['uid']))}" class="block-head common-avatar" target="_blank">
                                                    <img src="{$vv.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="50" width="50">
                                                </a>
                                            </div>
                                            <div class="r-content">
                                                <div class="quan-post-info quan-post-info-top">
                                                    <!-- level -->
                                                    <a href="/help/6/#q28" target="_blank" class="" title="经验值：{$vv.userTotalScore}，等级头衔：{$vv.rank.rankName}，了解经验值等级">
			                                            <span class="tag-level tag-level-LV{$vv.rank.rankId}">
			                                                <i>LV{$vv.rank.rankId}</i>
                                                        </span>
                                                    </a>

                                                    <!-- 马甲 -->

                                                    <a href="{:U('Home/Users/index',array('id'=>$vv['uid']))}" class="user" target="_blank">{$vv.loginName}</a><span class="post-time">回复于：{$vv['ctime']|mdate}</span>
                                                </div>
                                                <div class="quan-post-content" id="reply-two-post-content-{$vv.id}">
                                                    {$vv.content}
                                                </div>
                                                <div class="fr level2-reply">
                                                    <a href="javascript:;" class="hp-reply reply-two-reply" name="{$vv.id}"><i></i>回复</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply-level2" id="reply-{$vv.id}">
                                            <div class="quan-post-item clearfix">
                                                <div class="fl">
                                                    <a href="{:U('Home/Users/index')}" class="block-head common-avatar" target="_blank">
                                                        <img src="{$user.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="50" width="50">
                                                    </a>
                                                </div>
                                                <div class="r-content">
                                                    <div>
                                                        <input type="text" class="input-field" placeholder="回复{$vv.loginName}：" value="">
                                                    </div>
                                                    <div class="posting-box reply-ipt-bar clearfix">
                                                        <a href="javascript:;" data-reply-id="{$v.id}" data-reply-member-id="{$vv.uid}" data-type="1" data-reply-member-name="回复{$vv.loginName}：" class="globe-btn50 has-icon-btn fr reply-to-reply-btn"><i></i>回复
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </volist>
                                </div>
                            </div>
                        </div>
                        </volist>
                    <!--全部回复-->
                        <div class="pagination">{$pages}</div>
                    </div>
                    <script>
                        var uid = '';
                        $('.reply-one-reply,.reply-two-reply,.reply-to-reply-btn').click(function () {
                            if (uid == '') {
                                login();
                                return false;
                            } else {
                                id = $(this).attr('name');
//                                alert(id);
                                if ($('#reply-' + id).is(":hidden")) {
                                    $('#reply-' + id).show();
                                } else {
                                    $('#reply-' + id).hide();
                                }
                            }
                        })
                    </script>
                </div>
                </if>
                <!--全部回复-->
                <if condition="$_SESSION['WSTMALL']['WST_USER']['userId'] neq ''">
                    <div class="quan-block quan-block-all clearfix">
                        <div class="fl">
                            <a href="javascript:;" class="block-head common-avatar">
                                <img src="{$user.userPhoto|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="65" width="65">
                            </a>
                        </div>
                        <div class="r-content">
                            <div class="editor relative">
                                <textarea id="answer_content" rows="8" cols="100"> </textarea>
                            </div>
                            <div class="posting-box reply-ipt-bar clearfix">
                                <a id="reply-thread-btn" href="javascript:;" class="globe-btn50 has-icon-btn fr"><i></i>回复</a>
                            </div>
                        </div>
                    </div>
                    <else/>
                    <!-- 未登录时显示 -->
                    <div class="quan-block quan-block-all clearfix">
                        <div class="editor relative">
                            <div class="editor-tips">您需要登录后才可以回帖
                                <span><a class="a-login" href="javascript:login();">登录</a>|<a class="a-register" href="javascript:zhuce();">注册</a></span>
                            </div>
                        </div>
                    </div>
                </if>
            </div>
            <script>
                $('#reply-thread-btn').click(function () {
                    var exist = {$exist};
                    if (exist == 0) {
                        $('#reply-thread-remind-layer').show();
                    } else {
                        var content = $('#answer_content').val();
                        if (content == '') {
                            WST.msg('内容不能为空');
                            return false;
                        }else{
                            $.ajax({
                                type: 'post',
                                url: "{:U('Home/Forum/addReply')}",
                                data: "aid={$_GET['id']}&uid={$user['userId']}&content="+content,
                                success: function (data) {
                                    if (data == 1) {
                                        WST.msg('发布成功');
                                        location.reload();
                                    }
                                }
                            })
                        }
                    }
                });
                $('.reply-to-reply-btn').click(function () {
                    var node = $(this).parent().prev().children('input');
                    var content = node.val();
                    var ctype = $(this).attr('data-type');
                    var parentId = $(this).attr('data-reply-id');
                    var cuid = $(this).attr('data-reply-member-id');
                    $.ajax({
                        type: 'post',
                        url: "{:U('Home/Forum/addReply')}",
                        data: "aid={$_GET['id']}&uid={$user['userId']}&content=" + content + "&parentId="+parentId+"&cuid="+cuid+"&type="+ctype,
                        success: function (data) {
                            if (data == 1) {
                                WST.msg('发布成功');
                                location.reload();
                            }
                        }
                    })
                });
                $('.agree-reply').click(function () {
                    var cid = $(this).attr('data-reply-id');
                    var luid = $(this).attr('data-reply-uid');
                    $.ajax({
                        type: 'post',
                        url: "{:U('Home/Forum/addLaud')}",
                        data: "uid={$user['userId']}&cid=" + cid + "&luid="+luid,
                        success: function (data) {
                            if (data == 1) {
                                WST.msg('点赞成功');
                                $('.agree-reply').hide();
                                $('.disagree-reply').show();

                            }
                        }
                    })
                });
                $('.disagree-reply').click(function () {
                    var cid = $(this).attr('data-reply-id');
                    var luid = $(this).attr('data-reply-uid');
                    $.ajax({
                        type: 'post',
                        url: "{:U('Home/Forum/delLaud')}",
                        data: "uid={$user['userId']}&cid=" + cid + "&luid=" + luid,
                        success: function (data) {
                            if (data == 1) {
                                WST.msg('取消成功');
                                $('.disagree-reply').hide();
                                $('.agree-reply').show();
                            }
                        }
                    })
                })
            </script>
            <script src="__PUBLIC__/plugins/kindeditor/kindeditor.js"></script>
            <script src="__PUBLIC__/plugins/kindeditor/lang/zh-CN.js"></script>
            <script>
                $(function () {
                    KindEditor.ready(function (K) {
                        editor1 = K.create('textarea[id="answer_content"]', {
                            height: '170px',
                            allowFileManager: false,
                            allowImageUpload: true,
                            items: [
                                'source', '|', 'undo', 'redo',  '|', 'fullscreen', 'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', 'image',  'emoticons'
                            ],
                            afterBlur: function () {
                                this.sync();
                            }
                        });
                    });
                });
            </script>
            <!-- right -->
            <div class="quan-side-bar">

                <!-- 导师问答 -->
                <div class="quan-block quan-title-block">
                    <h2><em></em>所属圈子</h2>
                    <div class="quan-belong clearfix">
                        <div class="fl">
                            <a href="{:U('Home/Forum/quan',array('id'=>$article['parentCatId']))}" target="_blank" class="link-text">
                                <span class="iconfont  icon-official"></span>
                                <span>{$article.parentCatName}</span>
                            </a>
                        </div>
                        <a href="{:U('Home/Forum/quan',array('id'=>$article['parentCatId']))}" target="_blank" class="link-text fr">进入圈子&raquo;</a>
                    </div>
                    <p class="quan-belong-edit align-c">
                        <a href="{:U('Home/Forum/add')}" target="_blank"
                           class="globe-btn50 edit-btn postThread"><i></i>我要发帖
                        </a>
                    </p>
                </div>

                <div class="quan-block quan-title-block">
                    <h2><em></em>圈子热门帖</h2>
                    <ul class="circle-list">
                        <volist name="hot" id="v" offset="0" length="3" empty="暂无信息~">
                            <li class="rank-top">
                                <a href="{:U('Home/forum/article',array('id'=>$v['articleId']))}" target="_blank" class="clearfix hit_count" title="{$v.articleTitle}">
                                    <span class="rank-num">{$i}</span><span class="rank-discuss">{$v.articleTitle}</span>
                                </a>
                            </li>
                        </volist>
                        <volist name="hot" id="v" offset="3" length="7">
                            <li>
                                <a href="{:U('Home/forum/article',array('id'=>$v['articleId']))}" target="_blank" class="clearfix hit_count" title="{$v.articleTitle}">
                                    <span class="rank-num">{$i+3}</span><span class="rank-discuss">{$v.articleTitle}</span>
                                </a>
                            </li>
                        </volist>
                    </ul>
                </div>


                <!-- wx分享 -->
                <div class="wx-qrcode hide">
                    <i class="wx-close"></i>
                    <span id="wx-code"></span>
                    <p>扫一扫，分享到微信</p>
                </div>
            </div>

        </div>
    </div>


    <!-- 删除帖子 begin -->
    <div id="del-community-layer" class="dialog-board dialog-board-none-title hide">
        <div class="dialog-board-bar">
            <a href="javascript:;" class="close-dialog-board"></a>
        </div>
        <div class="dialog-board-content">
            <div class="box-container">
                <p id="del-community-tips" class="text-c-tips">确认删除此帖吗？</p>
                <div class="btn-col2 clearfix">
                    <a id="del-community-btn" href="javascript:;" class="fl globe-btn50">确认</a>
                    <a id="del-community-cancel" href="javascript:;" class="fr globe-btn50 globe-btn50-nobg">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 删除帖子 end -->

    <!-- 帖子操作 begin -->
    <div id="option-community-layer" class="dialog-board dialog-board-none-title hide">
        <div class="dialog-board-bar">
            <a href="javascript:;" class="close-dialog-board"></a>
        </div>
        <div class="dialog-board-content">
            <div class="box-container">
                <p id="option-community-tips" class="text-c-tips">操作成功</p>
                <div class="btn-single">
                    <a id="option-community-btn" href="javascript:;" class="globe-btn50">确认</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 帖子操作 end -->
    <script>
        $('.del-thread').click(function () {
            $('#del-community-layer').show();
        })
        $('#del-community-btn').click(function () {
            $.ajax({
                type: 'post',
                url: "{:U('Home/Forum/doDel')}",
                data: "aid={$_GET['id']}&uid={$user['userId']}",
                success: function (data) {
                    if (data == 1) {
                        $('#option-community-layer').show();
                    } else {
                        WST.msg('删除失败');
                    }
                }
            })
        })
        $('#option-community-btn').click(function () {
            $('#del-community-layer').hide();
            location.href = "{:U('Home/Forum/index')}";
        })
    </script>

    <script>

    </script>
    <!-- 回帖加入圈子提醒 begin -->
    <div id="reply-thread-remind-layer" class="dialog-board dialog-board-window dialog-board-red hide">
        <div class="dialog-board-bar">
            <h2>回帖提醒</h2>
            <a href="javascript:;" class="close-dialog-board"></a>
        </div>
        <div class="dialog-board-content">
            <div class="box-container">
                <p class="text-c-tips">对这个话题感兴趣？加入圈子关注更多话题</p>
                <div class="btn-single">
                    <a id="reply-thread-remind-btn" href="javascript:;" class="globe-btn50">加入圈子</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#reply-thread-remind-btn').click(function () {
            $.ajax({
                type: 'post',
                url: "{:U('Home/Forum/addquan')}",
                data: "cid={$_GET['pid']}&uid={$_SESSION['WSTMALL']['WST_USER']['userId']}",
                success: function (data) {
                    if (data == 1) {
                        WST.msg('加入成功');
                        location.reload();
                    }
                }
            })
        })
    </script>
    <!-- 回帖加入圈子提醒 end -->

    <div class="dialog-board dialog-board-m dialog-board-m-notitle hide" id="threadWechatDiv">
        <div class="dialog-board-bar">
            <a href="javascript:" class="close-dialog-board iconfont closeThreadWechatDiv">&#xe644;</a>
        </div>
        <div class="dialog-board-content align-c">
            <div class="service-concern">
                <h2 class="w-main-title">想有回复立刻通知你吗？</h2>
                <div class="w-qrcode">
                    <img src="http://assets.xiucai.com/assets/img/qrcode/qrcode3.png?v=1.10.5" alt="" height="160" width="160">
                    <p>扫一扫，关注服务号</p>
                </div>
                <div class="multi-btn">
                    <a href="javascript:;" class="none-tips link-close" id="notNoticeWechatFocus">不再提示</a>
                    <a href="javascript:;" class="globe-btn50 globe-btn50-nobg link-close closeThreadWechatDiv">知道了</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery-1.9.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/dialog-plus.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/common4.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.enplaceholder.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/focusUser.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/icheck.min.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/login.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/login_register.js"></script>

<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.SuperSlide.2.1.1.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/select.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/alert.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/thread_detail.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/communityManage.js?v=1.10.5"></script>

<include file="./Apps/Home/View/default/common_foot.html"/>