
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no" />
    <meta property="qc:admins" content="271536151160153116375711747716765216160454" />
    <meta name="keywords" content="秀财网,秀财,秀才网,财税圈,财务培训,财务在线学习,财务视频,财务网络教育,会计培训,会计视频,会计学习,税务课程,税务培训,税务教程,企业会计培训"/>
    <meta name="description" content="秀财网是上海达哈那网络科技有限公司旗下在线教育网站，专注于高端财税领域提供在线互动课程和社区圈子交流。具有独家特色的课程且皆由业界权威教师授课；社区圈子里不仅提供内容干货，感受财税知识的同时，并发现交流之美"/>
    <meta itemprop="image" content="http://assets.xiucai.com/assets/__ROOT__/Apps/Home/View/default/img/logo-hide.png?v=1.10.5" />
    <title>秀财网-领先的互联网财税学习平台</title>   
    <link type="text/css" href="__ROOT__/Apps/Home/View/default/css/base.css-v=1.10.1.css"  rel="stylesheet"/>
    <link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/iconfont/iconfont.css-v=1.10.1.css"/>
    <link type="text/css" href="__ROOT__/Apps/Home/View/default/css/common.css-v=1.10.1.css" rel="stylesheet"/>
    <link type="text/css" href="__ROOT__/Apps/Home/View/default/css/style.css-v=1.10.1.css" rel="stylesheet"/>
    <link type="text/css" href="__ROOT__/Apps/Home/View/default/css/minimal.css-v=1.10.1.css"rel="stylesheet"/>
    <link type="text/css" href="__ROOT__/Apps/Home/View/default/css/ui-dialog.css-v=1.10.1.css" rel="stylesheet"/>
    <link type="text/css" href="__ROOT__/Apps/Home/View/default/css/bottom-register.css-v=1.10.1.css" rel="stylesheet" />
    <link type="text/css" href="__ROOT__/Apps/Home/View/default/css/quaner.css-v=1.10.1.css"   rel="stylesheet"/>   
    <link type="text/css" href="__ROOT__/Apps/Home/View/default/css/buy.css-v=1.10.1.css" rel="stylesheet" />
    <link type="text/css" href="__ROOT__/Apps/Home/View/default/iconfont/iconfont.css" rel="stylesheet" />
    <link type="text/css" href="__ROOT__/Apps/Home/View/default/css/login2.css" rel="stylesheet" /> 
    <link type="text/css" href="__ROOT__/Apps/Home/View/default/css/style.css" rel="stylesheet" /> 
   
</head>

<body>
       
<div id="main">
    <div class="container shopping-cart cart-box cart_container1 ">
        <div class="cart-header">
            <span class="title">购物车</span><span class="small">快速购买，开启在线学习之旅</span>
        </div>
        <div class="cart-body">
            <div class="cart-table">
                <div class="cart-table-header">
                    <div class="cart-table-col">                  	                   	               	
                    	<input type="checkbox" id="select-all" class="select-all" >
                    	<label for="select-all" class="label-fr">全选</label>
                    </div>
                    <div class="cart-table-col pic-txt">课程信息</div>
                    <div class="cart-table-col">数量</div>
                    <div class="cart-table-col">单价（元）</div>
                    <div class="cart-table-col">小计（元）</div>
                    <div class="cart-table-col">有效期</div>
                    <div class="cart-table-col">操作</div>
                </div>
                <div class="cart-table-body">
                    <div class="cart-table-row" data-price="49.00" data-original-price="49.00" data-id="3166" data-product-id="104">
                        <div class="cart-table-col">
                            <label><input type="checkbox" ></label>
                        </div>
                        <div class="cart-table-col pic-txt">
                            <span>
                            	<em class="tag-discount">有优惠</em>
                            	<span>此课程打包到专题购买，即可享受超值优惠</span>
	                            <a href="zhuanti_kc_list.html" target="_blank">去看看>></a>
                            </span>                           
                            <a href="shuiwuguanli_chouhua.html" target="_blank" class="pic">
                            	<img src="__ROOT__/Apps/Home/View/default/img/cart_/cart_img.jpg" height="68" width="120" alt="">
                            </a>
                            <div class="txt">
                                <a href="" target="_blank" class="c-title">企业会计准则解释第7号（三）</a>
                            </div>
                        </div>
                        <div class="cart-table-col"><span class="course-number">1</span></div>
                        <div class="cart-table-col">￥49.00</div>
                        <div class="cart-table-col"><b>￥49.00</b></div>
                        <div class="cart-table-col">365天</div>
                        <div class="cart-table-col">
                            <a href="javascript:" class="del">删除</a>
                            <div class="deleted hide">删除成功</div>
                        </div>
                    </div>
                    <div class="cart-table-row" data-price="49.00" data-original-price="49.00" data-id="3166" data-product-id="104">
                        <div class="cart-table-col">
                            <label><input type="checkbox" ></label>
                        </div>
                        <div class="cart-table-col pic-txt">
                            <span>
                            	<em class="tag-discount">有优惠</em>
                            	<span>此课程打包到专题购买，即可享受超值优惠</span>
	                            <a href="zhuanti_kc_list.html" target="_blank">去看看>></a>
                            </span>                           
	                            <a href="shuiwuguanli_chouhua.html" target="_blank" class="pic">
	                            	<img src="__ROOT__/Apps/Home/View/default/img/cart_/cart_img.jpg" height="68" width="120" alt="">
	                            </a>
                            <div class="txt">
                                <a href="" target="_blank" class="c-title">企业会计准则解释第7号（三）</a>
                            </div>
                        </div>
                        <div class="cart-table-col"><span class="course-number">1</span></div>
                        <div class="cart-table-col">￥49.00</div>
                        <div class="cart-table-col"><b>￥49.00</b></div>
                        <div class="cart-table-col">365天</div>
                        <div class="cart-table-col">
                            <a href="javascript:" class="del">删除</a>
                            <div class="deleted hide">删除成功</div>
                        </div>
                    </div>
                </div>
                <div class="cart-table-footer">
                    <div class="left">
                        <input type="checkbox" id="select-all-2" class="select-all" ><label for="select-all-2">全选</label>
                    </div>
                    <div class="left">
                        <a href="javascript:" class="c-title del">删除</a>
                    </div>
                    <div class="right">
                        <a href="javascript:" class="btn-default" id="billing">去结算</a>
                        <span class="count">已选<em>1</em>门课程  总价：<b>￥49</b>&nbsp;<i></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog-board dialog-board-m hide" id="confirmDeleteDiv">
        <div class="dialog-board-bar">
            <a href="javascript:;" class="close-dialog-board closeConfirmDeleteDiv"></a>
        </div>
        <div class="c-text-btn">
            <p class="txt-tips">删除后将不再享受专题优惠价格<br/>确定吗？</p>
            <div class="btn-col2 clearfix">
                <a class="fr globe-btn50 deleted">删除</a>
                <a href="javascript:;" class="fl globe-btn50 globe-btn50-nobg closeConfirmDeleteDiv">取消</a>
            </div>
        </div>
    </div>
    <div class="container shopping-cart cart-box order-page cart_container2 hide">
	    <div class="cart-header">
	        <span class="title">确认订单</span>
	        <ul class="buy-step">
	            <li class="first selected">1、确认订单</li>
	            <li class="second">2、支付订单</li>
	            <li class="end">3、支付成功</li>
	        </ul>
	    </div>
	    <div class="cart-body">
	        <div class="order-table-div">
	            <div class="order-table-header">
	                <div class="order-table-col">课程信息</div>
	                <div class="order-table-col">数量</div>
	                <div class="order-table-col">小计（元）</div>
	                <div class="order-table-col">有效期</div>
	            </div>
	            <div class="order-table-body">
	                <div class="order-table-row">
	                    <div class="order-table-col">
	                        <a href="/course/248/" class="pic">
	                        	<img src="http://assets.xiucai.com/assets/uploads/pic/2015/1225/cae8729c-4a69-6c6a-c818-6e669093dbe5.jpg" height="68" width="120" alt="企业会计准则解释第7号（三）">
	                        </a>
	                        <div class="txt">
	                            <a href="/course/248/" target="_blank" class="c-title">企业会计准则解释第7号（三）</a>
	                            <p></p>
	                        </div>
	                    </div>
	                    <div class="order-table-col"><b>1</b></div>
	                    <div class="order-table-col "><b>￥49.00</b></div>
	                    <div class="order-table-col">365天</div>
	                </div>
	                <div class="order-table-footer">
	                    <div class="order-table-row">
	                        <div class="right">
	                            <a href="http://www.xiucai.com/cart/" class="back-cart">返回购物车修改</a>
	                        </div>
	                    </div>
	                    <div class="order-table-row">
	                        <div class="left">
	                            <div class="member-link">
	                                <a target="_blank" href="vip.html" >
	                                	<span>开通会员</span> 
	                                	即刻畅享全部优质课程、知识技能和岗位特训专题  >>
	                                </a>
	                            </div>                                                                                                          
	                        </div>
	                        <div class="right">
	                            <a href="tijiaodd.html" class="btn-default" id="submit-order" >提交订单</a>
	                            <span class="count">已选<em>1</em>门课程  订单总额：<b>￥49.00</span>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>  
</div>








   <script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery-1.9.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/common4.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.enplaceholder.js"></script>
<script type="text/javascript">
    jQuery(function(){
        $.fn.hoverDelay = function(options){
            var defaults = {
                hoverDuring: 200,
                outDuring: 200,
                hoverEvent: function(){
                    $.noop();
                },
                outEvent: function(){
                    $.noop();
                }
            };
            var sets = $.extend(defaults,options || {});
            var hoverTimer, outTimer;
            return $(this).each(function(){
                $(this).hover(function(){
                    clearTimeout(outTimer);
                    hoverTimer = setTimeout(sets.hoverEvent, sets.hoverDuring);
                },function(){
                    clearTimeout(hoverTimer);
                    outTimer = setTimeout(sets.outEvent, sets.outDuring);
                });
            });
        }
    });
</script>
    <script src="http://assets.xiucai.com/assets/__ROOT__/Apps/Home/View/default/js/icheck.min.js?v=1.10.5"></script>
    
    <script>
        $(document).ready(function(){
            $("body").on('click', ".closeConfirmDeleteDiv",function(){
                $(this).parents(".dialog-board-m").remove();
                $('.overlay').hide();

            });
            $('.cart-table input').iCheck({
                checkboxClass: 'icheckbox_minimal-orange',
                radioClass: 'iradio_minimal',
                increaseArea: '20%'
            });
            $(".cart-table").on('ifChanged', '.select-all',function () { //全选checkbox的change事件
                if(checkbox_flag){//条件用于判断点击普通checkbox时取消全选状态，防止取消全部
                    var flag = $(this).is(':checked');
                    var status = flag ? 'check' : 'uncheck';
                    $(this).parents(".cart-table").find('input[type=checkbox]').iCheck(status);
                    if(!flag){
                        $(".cart-table #billing").addClass("disabled").attr("title","请勾选您需要结算的课程");
                    }else{
                        var selected = $(".cart-table .cart-table-row input:checked");
                        if(selected.length == 0){
                            $(".cart-table #billing").addClass("disabled").attr("title","请勾选您需要结算的课程");
                        }else{
                            $(".cart-table  #billing").removeClass("disabled").removeAttr("title");
                        }
                    }
                }
            });
            var _tabel = $(".cart-table "),checkbox_flag=true;
            _tabel.on('ifChanged', 'input[type=checkbox]',function () {
                var status = $(this).is(':checked');
                var selected = $(".cart-table .cart-table-row input:checked");
                if(!status){//取消checkbook选中状态
                    checkbox_flag = false;
                    $(".cart-table .select-all").iCheck('uncheck');
                    checkbox_flag = true;
                    if(selected.length == 0){
                        $(".cart-table #billing").addClass("disabled").attr("title","请勾选您需要结算的课程");
                    }
                }else{//选中checkbook
                    var unselected =  $(".cart-table .cart-table-row input").not(':checked');
                    if(unselected.length == 0){
                        $(".cart-table .select-all").iCheck('check');
                    }
                    if(selected.length == 0){
                        $(".cart-table #billing").addClass("disabled").attr("title","请勾选您需要结算的课程");
                    }else{
                        $(".cart-table #billing").removeClass("disabled").removeAttr("title");
                    }
                }
                countPrice();
            });
            _tabel.on("click", "a.del", function () {
                deleteItem($(this));
                return false;
            });
            function countPrice(){//统计选中课程的价格
                var selected = $(".cart-table .cart-table-row input:checked");
                var count = 0, price = 0.00, count_price = 0.00;
                selected.each(function (index, element) {
                    var tr = $(element).parents(".cart-table-row");
                    var money = parseFloat(tr.data("price"));
                    var original = parseFloat(tr.data("original-price"));
                    var zt = tr.next(".inner-table");
                    money = isNaN(money) ? 0 : money;
                    original = isNaN(original) ? 0 : original;
                    price += money;
                    count_price += original;
                    if(zt.length>0){
                        count += parseInt(tr.find(".course-number").html());
                    }else{
                        count ++;
                    }
                });
                var Preferential = count_price - price;
                $(".cart-table-footer .count em").text(count);
                $(".cart-table-footer .count b:first").text('￥'+price.toFixed(2));
                if(Preferential>0)
                    $(".cart-table-footer .count i").html("已优惠：<b>￥"+Preferential.toFixed(2)+"</b>");
                else
                    $(".cart-table-footer .count i").html("");
            }
            var isSubmitDeleteCart = false;
            function deleteItem(element){//删除购物车中的课程
                var innerTable = $(element).parents(".inner-table"), id = [];
                if(!!innerTable.length){
                    deleteChildrenTable(element);
                }else{
                    deleteParentTable(element);
                }
                function deleteParentTable (obj) {
                    var tr = $(obj).parents(".cart-table-row");
                    var nextTr = tr.next(".inner-table"), courseId = tr.data("id");
                    var tfoot = $(obj).parents(".cart-table-footer").length < 1;
                    if(tfoot){
                        id.push(courseId);
                        //alert(id);return false;
                        if(id == ''){
                            $.xcDialog.alert({'content':'请选择课程'});
                            return false;
                        }
                        if (!isSubmitDeleteCart) {
                            isSubmitDeleteCart = true;
                            $.post("http://www.xiucai.com/cart/cart/delete",{cart_id:id.join(',')},
                                 function(result){
                                     if(result.code == 200){
                                         tr.find(".del").hide().siblings(".deleted").fadeIn(100);
                                         setTimeout(function () {
                                             tr.fadeOut(300,function () {
                                                 tr.remove();
                                                 countPrice();
                                             });
                                             if(nextTr.hasClass("inner-table")){
                                                 nextTr.fadeOut(300,function () {
                                                     nextTr.remove();
                                                     countPrice();
                                                 });
                                             }
                                             setTimeout(updateSelectedStatus,450);
                                         },400);
                                     }else{
                                         $.xcDialog.alert({'content':'删除失败'});
                                     }
                                     isSubmitDeleteCart = false;
                                 }
                            );
                        }
                    }else{ //删除选中项
                        var selectedItem = $(".cart-table .cart-table-row input:checked");
                        selectedItem.each(function (index, element) {
                            var _tr = $(element).parents(".cart-table-row"),
                                _id = _tr.data("id");
                            id.push(_id);
                        });
                        if(id == ''){
                            $.xcDialog.alert({'content':'请选择课程'});
                            return false;
                        }
                        //alert(id);return false;
                        if (!isSubmitDeleteCart) {
                            isSubmitDeleteCart = true;
                            $.post("http://www.xiucai.com/cart/cart/delete",{cart_id:id.join(',')},
                                function(result){
                                    if(result.code == 200){
                                        selectedItem.each(function (index, element) {
                                            var _tr = $(element).parents(".cart-table-row"),
                                              _next = _tr.next(".inner-table");
                                            _tr.find(".del").hide().siblings(".deleted").fadeIn(100);
                                            setTimeout(function () {
                                                _tr.fadeOut(300,function () {
                                                    _tr.remove();
                                                    countPrice();
                                                });
                                                if(!!_next.length){
                                                    _next.fadeOut(300,function () {
                                                        _next.remove();
                                                        countPrice();
                                                    });
                                                }
                                                setTimeout(updateSelectedStatus,450);
                                            },400);
                                        });
                                        setTimeout(function () {
                                            updateSelectedStatus();
                                        },400);
                                    }else{
                                        $.xcDialog.alert({'content':'删除失败'});
                                    }
                                    isSubmitDeleteCart = false;
                                }
                            );
                        }
                    }
                };
                function deleteChildrenTable(element) {
                    var obj = element;
                    var _confirm = $('#confirmDeleteDiv').clone();
                    $("body").append(_confirm);
                    _confirm.show();
                    $('.overlay').show();
                    _confirm.find(".deleted").on("click", function (){
                        var tr = $(obj).parents(".cart-table-row");//最近一层的tr，防止取到最外层tr
                        var siblings = tr.siblings(".cart-table-row"), filter = [];
                        var _id = tr.data("id");
                        var _prev = tr.parents(".inner-table").prev(".cart-table-row");
                        var cart_id = tr.parents(".inner-table").prev(".cart-table-row").data("id");
                        id.push(_id);
                        if(id == ''){
                            $.xcDialog.alert({'content':'请选择课程'});
                            return false;
                        }
                        //alert(id);return false;
                        if (!isSubmitDeleteCart) {
                            isSubmitDeleteCart = true;
                            $.post("http://www.xiucai.com/cart/pack/delete",{cart_id:cart_id, pack_product_id:_id},
                                    function(result){
                                        if(result.code == 200){
                                            window.location.reload();
                                            return false;
                                        }else{
                                            $.xcDialog.alert({'content':'删除失败'});
                                        }
                                        //_confirm.remove();
                                        //$('.overlay').hide();
                                        isSubmitDeleteCart = false;
                                    }
                            );
                        }
                    });
                }
                function updateSelectedStatus(){
                    var unselected = $(".cart-table .cart-table-row input[type=checkbox]").not(':checked');
                    var selectedItem = $(".cart-table .cart-table-row input[type=checkbox]:checked");
                    if(unselected.length == 0 && selectedItem.length > 0){
                        $(".cart-table .select-all").iCheck('check');
                    }else{
                        checkbox_flag = false;
                        $(".cart-table .select-all").iCheck('uncheck');
                        checkbox_flag = true;
                    }
                    if(selectedItem.length == 0){
                        $(".cart-table #billing").addClass("disabled").attr("title","请勾选您需要结算的课程");
                    }else{
                        $(".cart-table #billing").removeClass("disabled").removeAttr("title");
                    }
                    if(unselected.length == 0 && selectedItem.length == 0){
                        window.location.href="http://www.xiucai.com/cart/";
                    }
                }
            }
            countPrice();
            var isSubmitCheckOut = false;
            $("#billing").on("click", function () {
                if($(this).hasClass("disabled")){
                    return false;
                }else{
                    if(needBindPhone == 1){
                        showBindPhone();
                        return false;
                    }
                    var selectedItem = $(".cart-table .cart-table-row input[type=checkbox]:checked");
                    var id = [];
                    selectedItem.each(function (index, element) {
                        var _id = $(element).parents(".cart-table-row").data("id");
                        id.push(_id);
                    });
                    if (!isSubmitCheckOut) {
                        isSubmitCheckOut = true;
                        $.post("http://www.xiucai.com/cart/check",{cart_id:id.join(',')},
                                function(result){
                                    if(result.code == 200){
                                        window.location.href="http://www.xiucai.com/cart/confirm";
                                    }else{
                                        $.xcDialog.alert({'content':'失败'});
                                    }
                                    isSubmitCheckOut = false;
                                }
                        );
                    }
                }
                //console.log(id.join(','));
            })
        });
    </script>

</body>
</html>
