<include file="./Apps/Home/View/default/common_head.html"/>
<div id="main">
    <div class="container">
        <div class="major clearfix">
            <div class="quan-main">
                <!-- quan-slider begin -->
                <div class="quan-slider">
                    <div class="hd">
                        <!--<ul>
                            <li class="on"></li>
                            <li ></li>
                            <li ></li>
                            <li ></li>
                        </ul>-->
                    </div>
                    <div class="bd">
                        <ul>
                            <li>
                                <a data-id="89" href="http://www.xiucai.com/live/652/" target="_blank" class="hit_count clearfix">
                                    <div class="fl">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2016/0919/62215ef6-b9a4-1696-956d-3edc16861ea3.jpg"/>
                                    </div>
                                    <div class="intro-detail">
                                        <h2>困境中扭亏为盈——看财务分析如何助力决策</h2>
                                        <p>
                                            财务分析人员在公司里就像迷一般的存在，他们隶属于财务部却从来不做凭证，然而他们具有最全面的知识，能读懂所谓“数据背后的故事”，能恰如其分地运用财务知识帮助企业达成目标。 </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a data-id="88" href="http://www.xiucai.com/course/zt/yyzj/" target="_blank" class="hit_count clearfix">
                                    <div class="fl">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2016/0914/4fd8ac21-e056-df41-89c0-eaa5ded55925.jpg"/>
                                    </div>
                                    <div class="intro-detail">
                                        <h2>营运资金管理分析专题</h2>
                                        <p>本次课程，我们专门从营运资金管理的角度，学习洞察营运能力的分析方法与关键指标，以及如何为企业的营运管理把脉建言，大量公司案例，等你一起来分析。 </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a data-id="80" href="http://www.xiucai.com/vocation/aptitude/" target="_blank" class="hit_count clearfix">
                                    <div class="fl">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2016/0829/2250775b-638a-ce3e-9da2-3184e31f985a.jpg"/>
                                    </div>
                                    <div class="intro-detail">
                                        <h2>职业资质课程</h2>
                                        <p>初级会计实务、中级会计实务、CMA、ACCA，为不同阶段的你，量身定制。</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a data-id="73" href="http://www.xiucai.com/zt/cma/" target="_blank" class="hit_count clearfix">
                                    <div class="fl">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2016/0815/8ca3f9e3-b4f0-4430-43ac-9c6c71380233.jpg"/>
                                    </div>
                                    <div class="intro-detail">
                                        <h2>秀财网CMA注册管理会计师项目</h2>
                                        <p>
                                            CMA逐渐成为全球财务管理者的职业典范的象征，世界500强企业更视CMA资格为衡量专业财务管理者职业水准和职业道德的最佳标准。2009年CMA刚登陆中国就被财政部、国资委、商务部、总会计师…</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                </div>
                <!-- quan-slider end -->
                <!-- 导师问答 -->
                <div class="quan-block">
                    <a href="zhuanjiawenda.html" target="_blank">
                        <img src="__ROOT__/Apps/Home/View/default/img/quan/tutor_banner.png" width="900" height="123" style="display: block;">
                    </a>
                </div>

                <div class="quan-block block-pagination relative">
                    <div class="quan-tab quan-tab-auto  quan_middle_nav">
                        <ul class="clearfix">
                            <li class="cur">
                                <a href="#e" name="hot_">最热帖子</a>
                            </li>
                            <li class="">
                                <a href="#e" name="new_">最新发布</a>
                            </li>
                            <li class="">
                                <a href="#e" name="huif_">最后回复</a>
                            </li>
                        </ul>
                        <a href="http://www.xiucai.com/user/quan/feed/" class="link-mine-circle" target="_blank">
                            <span>我的圈子</span>
                            <b>GO!</b>
                        </a>
                    </div>
                    <div class="quan_post_">
                        <div class="quan-post hot_">
                            <!-- 全部圈子动态 -->
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href="#" class="block-head common-avatar" target="_blank">
                                        <img src="http://assets.xiucai.com/assets/uploads/avatar/2015/1224/99b97b3d-309c-540f-4395-5d190bbd3c10.jpg?v=0.058550095185637474" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="#" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1471004043" style="color: #996600;">
                                            「导师问答」精选问题——汇总系列（不断更新）</h2>
                                    </a>
                                    <span id="quan-post-tag1471004043" class="quan-post-tag">
                        <i class="tag-top" title="置顶"></i>
                    </span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">官方圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>3066</i></span>
                                            <span class="m20 post-data">回复<i>22</i></span>
                                            <span class="devide-line"></span>
                                            <a href="http://www.xiucai.com/user/291227/" class="user" target="_blank">无邪</a>
                                            <span class="post-time">于2天前</span>
                                            <span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href="#" class="block-head common-avatar" target="_blank">
                                        <img src="http://assets.xiucai.com/assets/uploads/avatar/2015/1224/99b97b3d-309c-540f-4395-5d190bbd3c10.jpg?v=0.058550095185637474" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1458298965" style="color: #fd6440;">
                                            【官方公告】秀财网财务QQ交流群汇总，快来对号入座啦！</h2>
                                    </a>
                                    <span id="quan-post-tag1458298965" class="quan-post-tag">
			                <i class="tag-top" title="置顶"></i>
			            </span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">官方圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>10725</i></span>
                                            <span class="m20 post-data">回复<i>81</i></span>
                                            <span class="devide-line"></span>
                                            <a href="" class="user" target="_blank">秀财网</a>
                                            <span class="post-time">于1个月前</span>
                                            <span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href=" " class="block-head common-avatar" target="_blank">
                                        <img src="__ROOT__/Apps/Home/View/default/img/avatar/avatar92.jpg?v=1.10.5" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1469714250" style="color: #2897c5;">秀财说直播课回看及笔记汇总帖</h2>
                                    </a>
                                    <span id="quan-post-tag1469714250" class="quan-post-tag">
                        <i class="tag-top" title="置顶"></i>
                    </span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">财务圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>14211</i></span>
                                            <span class="m20 post-data">回复<i>42</i></span>
                                            <span class="devide-line"></span>
                                            <a href="" class="user" target="_blank">朱幽兰</a>
                                            <span class="post-time">于6天前</span>
                                            <span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href="http://www.xiucai.com/user/18016/" class="block-head common-avatar" target="_blank">
                                        <img src="http://assets.xiucai.com/assets/uploads/avatar/2016/0122/0a6ccf0e-c0b8-38b6-a940-13bb62946964.jpg" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="http://club.xiucai.com/quan/thread/1458803917/" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1458803917" style="color: #fd6440;">【专家坐阵解答】 营改增
                                            常见问题应对方案（不断更新）</h2>
                                    </a>
                                    <span id="quan-post-tag1458803917" class="quan-post-tag">
                        <i class="tag-top" title="置顶"></i>
                        <i class="tag-hot" title="热帖"></i>
                    </span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">税务圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>91386</i></span>
                                            <span class="m20 post-data">回复<i>172</i></span>
                                            <span class="devide-line"></span>
                                            <a href="http://www.xiucai.com/user/237073/" class="user" target="_blank">138****0332</a><span class="post-time">于1个月前</span><span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href="http://www.xiucai.com/user/2951/" class="block-head common-avatar" target="_blank">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2015/1021/92989051-89af-7471-a3df-70909b448454.jpg" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="http://club.xiucai.com/quan/thread/1442826103/" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1442826103">我的10年EXCEL经验【干货】</h2>
                                    </a>
                                    <span id="quan-post-tag1442826103" class="quan-post-tag"> </span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">工作圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>245850</i></span>
                                            <span class="m20 post-data">回复<i>5722</i></span>
                                            <span class="devide-line"></span>
                                            <a href="/vip/" target="_blank" class="vip" title="了解秀财会员">
                                                <img src="__ROOT__/Apps/Home/View/default/img/vip.png" width="16" height="12" alt="会员特权" border="0">
                                            </a>
                                            <a href="http://www.xiucai.com/user/318445/" class="user" target="_blank">张同学</a>
                                            <span class="post-time">于2小时前</span>
                                            <span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href="http://www.xiucai.com/user/169/" class="block-head common-avatar" target="_blank">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2015/1020/2228b77c-bda9-44b1-371a-ac2f0ca6778c.jpg" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="http://club.xiucai.com/quan/thread/1439897754/" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1439897754">一个会计的每月“做账流程”，不要小瞧！</h2>
                                    </a>
                                    <span id="quan-post-tag1439897754" class="quan-post-tag"></span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">财务圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>146678</i></span>
                                            <span class="m20 post-data">回复<i>4628</i></span>
                                            <span class="devide-line"></span>
                                            <a href="http://www.xiucai.com/user/31179/" class="user" target="_blank">轻语</a>
                                            <span class="post-time">于4小时前</span>
                                            <span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quan-post new_ ">
                            <!-- 最新发布 -->
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href="#" class="block-head common-avatar" target="_blank">
                                        <img src="http://assets.xiucai.com/assets/uploads/avatar/2015/1224/99b97b3d-309c-540f-4395-5d190bbd3c10.jpg?v=0.058550095185637474" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="#" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1471004043" style="color: #996600;">
                                            「导师问答」精选问题——汇总系列（不断更新）</h2>
                                    </a>
                                    <span id="quan-post-tag1471004043" class="quan-post-tag">
	                        <i class="tag-top" title="置顶"></i>
	                    </span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">官方圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>3066</i></span>
                                            <span class="m20 post-data">回复<i>22</i></span>
                                            <span class="devide-line"></span>
                                            <a href="http://www.xiucai.com/user/291227/" class="user" target="_blank">无邪</a>
                                            <span class="post-time">于2天前</span>
                                            <span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href="#" class="block-head common-avatar" target="_blank">
                                        <img src="http://assets.xiucai.com/assets/uploads/avatar/2015/1224/99b97b3d-309c-540f-4395-5d190bbd3c10.jpg?v=0.058550095185637474" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1458298965" style="color: #fd6440;">
                                            【官方公告】秀财网财务QQ交流群汇总，快来对号入座啦！</h2>
                                    </a>
                                    <span id="quan-post-tag1458298965" class="quan-post-tag">
				                <i class="tag-top" title="置顶"></i>
				            </span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">官方圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>10725</i></span>
                                            <span class="m20 post-data">回复<i>81</i></span>
                                            <span class="devide-line"></span>
                                            <a href="" class="user" target="_blank">秀财网</a>
                                            <span class="post-time">于1个月前</span>
                                            <span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href=" " class="block-head common-avatar" target="_blank">
                                        <img src="__ROOT__/Apps/Home/View/default/img/avatar/avatar92.jpg?v=1.10.5" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1469714250" style="color: #2897c5;">秀财说直播课回看及笔记汇总帖</h2>
                                    </a>
                                    <span id="quan-post-tag1469714250" class="quan-post-tag">
	                        <i class="tag-top" title="置顶"></i>
	                    </span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">财务圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>14211</i></span>
                                            <span class="m20 post-data">回复<i>42</i></span>
                                            <span class="devide-line"></span>
                                            <a href="" class="user" target="_blank">朱幽兰</a>
                                            <span class="post-time">于6天前</span>
                                            <span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="quan-post huif_ ">
                            <!-- 最后回复 -->
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href="#" class="block-head common-avatar" target="_blank">
                                        <img src="http://assets.xiucai.com/assets/uploads/avatar/2015/1224/99b97b3d-309c-540f-4395-5d190bbd3c10.jpg?v=0.058550095185637474" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="#" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1471004043" style="color: #996600;">
                                            「导师问答」精选问题——汇总系列（不断更新）</h2>
                                    </a>
                                    <span id="quan-post-tag1471004043" class="quan-post-tag">
	                        <i class="tag-top" title="置顶"></i>
	                    </span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">官方圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>3066</i></span>
                                            <span class="m20 post-data">回复<i>22</i></span>
                                            <span class="devide-line"></span>
                                            <a href="http://www.xiucai.com/user/291227/" class="user" target="_blank">无邪</a>
                                            <span class="post-time">于2天前</span>
                                            <span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href="#" class="block-head common-avatar" target="_blank">
                                        <img src="http://assets.xiucai.com/assets/uploads/avatar/2015/1224/99b97b3d-309c-540f-4395-5d190bbd3c10.jpg?v=0.058550095185637474" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1458298965" style="color: #fd6440;">
                                            【官方公告】秀财网财务QQ交流群汇总，快来对号入座啦！</h2>
                                    </a>
                                    <span id="quan-post-tag1458298965" class="quan-post-tag">
				                <i class="tag-top" title="置顶"></i>
				            </span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">官方圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>10725</i></span>
                                            <span class="m20 post-data">回复<i>81</i></span>
                                            <span class="devide-line"></span>
                                            <a href="" class="user" target="_blank">秀财网</a>
                                            <span class="post-time">于1个月前</span>
                                            <span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quan-post-item clearfix">
                                <div class="fl">
                                    <a href=" " class="block-head common-avatar" target="_blank">
                                        <img src="__ROOT__/Apps/Home/View/default/img/avatar/avatar92.jpg?v=1.10.5" height="50" width="50">
                                    </a>
                                </div>
                                <div class="r-content">
                                    <a class="quan-post-title" href="" target="_blank">
                                        <!-- 标题30个字符 -->
                                        <h2 id="quan-post-title1469714250" style="color: #2897c5;">秀财说直播课回看及笔记汇总帖</h2>
                                    </a>
                                    <span id="quan-post-tag1469714250" class="quan-post-tag">
	                        <i class="tag-top" title="置顶"></i>
	                    </span>
                                    <div class="quan-post-info">
                                        <div class="">
                                            <span class="toppic-type">财务圈</span>
                                            <span class="devide-line"></span>
                                            <span class="post-data">阅读<i>14211</i></span>
                                            <span class="m20 post-data">回复<i>42</i></span>
                                            <span class="devide-line"></span>
                                            <a href="" class="user" target="_blank">朱幽兰</a>
                                            <span class="post-time">于6天前</span>
                                            <span class="post-type">最后回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div style="width: 100%;height: 80px;text-align: center;box-sizing: border-box;">
                        <div class="page_course">
                            <a href="#e" class="page_course_a">首页</a>
                            <a href="#e" class="page_course_a">＜</a>
                            <a href="#e" class="page_course_a">1</a>
                            <a href="#e" class="page_course_a">2</a>
                            <a href="#e" class="page_course_a">3</a>
                            <a href="#e" class="page_course_a">4</a>
                            <a href="#e" class="page_course_a">5</a>
                            <a href="#e" class="page_course_a">6</a>
                            <a href="#e" class="page_course_a">7</a>
                            <a href="#e" class="page_course_a">8</a>
                            <a href="#e" class="page_course_a">9</a>
                            <a href="#e" class="page_course_a">10</a>
                            <a href="#e" class="page_course_a">＞</a>
                            <a href="#e" class="page_course_a">尾页</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- right -->
            <div class="quan-side-bar">
                <div class="quan-block quan-sign-block sign1" style="display:none;">
                    <!-- 已签到添加样式 signed -->
                    <div class="btn-sign-in basic-transit clearfix <if condition="$can eq 1">qiandao<else/>signed</if>" data-is-sign="1">
                        <div class="fl"><i></i><span><if condition="$can eq 1">签到<else/>已签到</if></span></div>
                        <!-- 未登录只显示日期，添加single-p样式 -->
                        <div class="fr">
                            <p><span class="month"></span>月<span class="day"></span>日</p>
                            <p id="continue-sign-times" class="border-t-c1">
                                连续<span class="point-red" id="continue_sign_count_box"><if condition="$sign['rows'] neq null">{$sign['rows']}<else/>0</if></span>天</p>
                        </div>
                    </div>
                    <!-- 未登录不显示 -->
                    <p class="total-sign" id="total-sign-times">
                        共签到
                        <span class="point-red" id="total_sign_count_box"><if condition="$sign['days'] neq null">{$sign['days']}<else/>0</if></span>天
                        <span class="signed-qb">
                		<img src="__ROOT__/Apps/Home/View/default/img/quan/qb.png?v=1.10.5" alt="圈币" height="14" width="20">
                		<em id="addCoin">7</em>
                	</span>
                    </p>
                    <div class="num-display">
                        <span class="border-r-e6" id="today-sign-count">今日签到<b>{$todaySign}</b></span>
                        <span>总帖量<b>284014</b></span>
                    </div>
                </div>


                <div class="quan-block quan-sign-block sign2">
                    <div class="btn-sign-in basic-transit clearfix qiandao" data-is-sign="1">
                        <div class="fl"><i></i>签到</div>
                        <!--未登录-->
                        <div class="fr single-p">
                            <p><span class="month"></span>月<span class="day"></span>日</p>
                        </div>
                        <!--未登录-->
                    </div>
                    <!--未登录-->
                    <p class="total-sign" id="total-sign-times">
                        <a class="a-login" href="javascript:login();">登录</a>签到送圈币哦！
                    </p>
                    <p id="sign-user-score-coins"></p>
                    <!--未登录-->
                    <div class="num-display">
                        <span class="border-r-e6" id="today-sign-count">今日签到<b>{$todaySign}</b></span>
                        <span>总帖量<b>284014</b></span>
                    </div>
                </div>


                <script>
                    var uid = '{$_SESSION['WSTMALL']['WST_USER']['userId']}';
                    var time = new Date();
                    var Mon = time.getMonth() + 1;
                    var Day = time.getDate();
                    $('.month').html(Mon);
                    $('.day').html(Day);
                    if (uid != '') {
                        $('.sign2').hide();
                        $('.sign1').show();
                    }
                    $('.qiandao').click(function () {
                        if ($('.btn-sign-in').hasClass('qiandao')) {
                            if (uid != '') {
                                $.ajax({
                                    type: 'post',
                                    url: '{:U("Home/Forum/sign")}',
                                    data: "userId=" + uid,
                                    success: function (re) {
                                        if (re == 1) {
//                                          WST.msg('签到成功');
                                            $('.btn-sign-in').removeClass('qiandao');
                                            $('.btn-sign-in').addClass('signed');
                                            $('.btn-sign-in .fl span').html('已签到');
                                            var now = $('#continue_sign_count_box').html();
                                            now = parseInt(now);
                                            $('#continue_sign_count_box').html(now + 1);
                                            var now = $('#total_sign_count_box').html();
                                            now = parseInt(now);
                                            $('#total_sign_count_box').html(now + 1);
                                        } else {
                                            WST.msg('签到失败');
                                        }
                                    }
                                })
                            } else {
                                login();
                            }
                        }
                    })
                </script>


                <div class="quan-block quan-block-all quaner-name-parent">
                    <p class="align-c">
                        <a href="{:U('home/forum/add')}" target="_blank" class="globe-btn50 edit-btn postThread"><i></i>
                            我要发帖
                        </a>
                        <a href="{:U('home/forum/add')}" class="globe-btn50 edit-btn hide" target="_blank">
                            <i></i>我要发帖
                        </a>
                        <span class="posting-tips">提问或分享，与同行讨论</span>
                    </p>
                </div>
                <!-- 推荐圈子 -->
                <div class="quan-block">
                    <h2><em></em>推荐圈子</h2>
                    <ul class="quan-more-list">
                        <li>
                            <a href="http://club.xiucai.com/quan/cw/" class="clearfix" target="_blank">
                                <span class="fl"><i class="iconfont icon-accounting"></i>财务圈</span>
                                <span class="fr">434320人</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://club.xiucai.com/quan/sw/" class="clearfix" target="_blank">
                                <span class="fl"><i class="iconfont icon-tax_planning"></i>税务圈</span>
                                <span class="fr">452574人</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://club.xiucai.com/quan/gz/" class="clearfix" target="_blank">
                                <span class="fl"><i class="iconfont icon-tool"></i>工作圈</span>
                                <span class="fr">432712人</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://club.xiucai.com/quan/gf/" class="clearfix" target="_blank">
                                <span class="fl"><i class="iconfont icon-official"></i>官方圈</span>
                                <span class="fr">54950人</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://club.xiucai.com/quan/ks/" class="clearfix" target="_blank">
                                <span class="fl"><i class="iconfont icon-kaoshiquan"></i>考试圈</span>
                                <span class="fr">66400人</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://club.xiucai.com/quan/sh/" class="clearfix" target="_blank">
                                <span class="fl"><i class="iconfont icon-shenghuoquan"></i>生活圈</span>
                                <span class="fr">46600人</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://club.xiucai.com/quan/hbcahome/" class="clearfix" target="_blank">
                                <span class="fl"><i class="iconfont icon-circlehbca"></i>河北CA家园</span>
                                <span class="fr">16人</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- 热门讨论 -->
                <div class="quan-block quan-title-block">
                    <h2><em></em>精华推荐</h2>
                    <ul class="circle-list">
                        <li class="rank-top">
                            <a data-id="53" href="/quan/thread/1464606283/" target="_blank" class="clearfix hit_count" title="营改增实用落地锦囊—【申报表辅导】+【实务操作】+【填写案例】">
                                <span class="rank-num">1</span><span class="rank-discuss">营改增实用落地锦囊—【申报表辅导】+【实务操作】+【填写案例】</span>
                            </a>
                        </li>
                        <li class="rank-top">
                            <a data-id="42" href="/quan/thread/1446533821/" target="_blank" class="clearfix hit_count" title="零基础一次过初级的心经  ">
                                <span class="rank-num">2</span><span class="rank-discuss">零基础一次过初级的心经  </span>
                            </a>
                        </li>
                        <li class="rank-top">
                            <a data-id="41" href="/quan/thread/1455438430/" target="_blank" class="clearfix hit_count" title="Excel就是你制胜职场的核武器  ">
                                <span class="rank-num">3</span><span class="rank-discuss">Excel就是你制胜职场的核武器  </span>
                            </a>
                        </li>
                        <li>
                            <a data-id="37" href="/quan/thread/1446198678/" target="_blank" class="clearfix hit_count" title="【课件资料案例·下载提供】Excel高手之路">
                                <span class="rank-num">4</span><span class="rank-discuss">【课件资料案例·下载提供】Excel高手之路</span>
                            </a>
                        </li>
                        <li>
                            <a data-id="34" href="/quan/thread/1445311860/" target="_blank" class="clearfix hit_count" title="2016初级考试早准备——学习资料汇总">
                                <span class="rank-num">5</span><span class="rank-discuss">2016初级考试早准备——学习资料汇总</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- 后台推送直播课程，如果没有则提取最新 -->
                <div class="quan-block quan-title-block">
                    <h2 class="relative">
                        <em></em>
                        近期直播
                        <a href="" target="_blank" class="link-more">更多 &raquo;</a>
                    </h2>
                    <div class="live-slider">
                        <div class="bd">
                            <ul class="clearfix">
                                <li>
                                    <a data-id="655" href="/live/655/" target="_blank" class="hit_count">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2016/0111/e58b3252-ac54-6439-3bfe-457e7b4431b2.jpg" width="224" height="128">
                                        <div class="quan-course">
                                            <p class="quan-course-title">非居民企业税收政策分析之投资所得处理</p>
                                            <p class="quan-course-date">10月10日<span>14:00~15:00</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a data-id="660" href="/live/660/" target="_blank" class="hit_count">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2016/0928/9dfa803c-cc32-5cd1-1d02-42d77f32ebc1.jpg" width="224" height="128">
                                        <div class="quan-course">
                                            <p class="quan-course-title">关于股权激励和技术出资的重大优惠政策解析</p>
                                            <p class="quan-course-date">10月11日<span>14:00~15:00</span></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a data-id="657" href="/live/657/" target="_blank" class="hit_count">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2016/0930/12007425-1f59-6501-4048-8061b6ee4154.jpg" width="224" height="128">
                                        <div class="quan-course">
                                            <p class="quan-course-title">财税战略之如何建立防控风险的税务管理体系</p>
                                            <p class="quan-course-date">10月12日<span>14:00~15:00</span></p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="hd">
                            <ul>
                                <li class="on"></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<include file="./Apps/Home/View/default/common_foot.html"/>