<include file="./Apps/Home/View/default/common_head.html"/>
<div id="main">
    <div class="container">
        <div class="major clearfix">
            <form action="" method="" id="myform">
                <div class="quan-body white-bg">
                    <div class="page-nav">
                        <a href="{:U('Home/Forum/index')}" target="_blank">财税圈</a>&gt;<a href="javascript:;">发布新帖</a>
                    </div>
                    <div class="content-m clearfix">
                        <!-- 发帖 -->
                        <div class="posting-box ">

                            <input type="text" placeholder="请输入帖子标题" class="input-field" id="thread_title" name="articleTitle" value=""/>
                            <div class="editor">
                                <textarea name="articleContent" id="content" cols="110" rows="10"></textarea>
                            </div>
                            <div class="posting-choose clearfix">
                                <div class="diy_select">
                                    <input type="hidden" id="quan_id" class="diy_select_input" name="parentCatId"/>
                                    <div class="diy_select_txt">选择圈子</div>
                                    <div class="diy_select_btn triangle6-red"></div>
                                    <ul class="diy_select_list" id="quan_ul">
                                        <foreach name="cateArr1" item="v">
                                            <li id="{$v.catId}">{$v.catName}</li>
                                        </foreach>
                                    </ul>
                                </div>
                                <div class="diy_select toppic-sel">
                                    <input type="hidden" id="topic_id" class="diy_select_input" name="catId"/>
                                    <div class="diy_select_txt" id="topicTitle">选择话题分类</div>
                                    <div class="diy_select_btn triangle6-red"></div>
                                    <ul class="diy_select_list" id="topic_ul">
                                    </ul>
                                </div>
                            </div>
                            <div class="posting-btn" style="margin-top: 10px">
                                <input type="button" value="发布" id="ask_question_btn" class="globe-ipt-btn"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/select.js"></script>
<script type="text/javascript">
    var TTDiy_select = new diy_select({  //参数可选
        TTContainer: 'diy_select',//控件的class
        TTDiy_select_input: 'diy_select_input',//用于提交表单的class
        TTDiy_select_txt: 'diy_select_txt',//diy_select用于显示当前选中内容的容器class
        TTDiy_select_btn: 'diy_select_btn',//diy_select的打开按钮
        TTDiv_select_list: 'diy_select_list',//要显示的下拉框内容列表class
        TTFcous: 'focus'//得到焦点时的class
    });//如同时使用多个时请保持各class一致.
</script>
<script>
    $('#quan_ul li').click(function () {
        var id = $(this).attr('id');
        $.ajax({
            type:'post',
            url:"{:U('Home/forum/cats')}",
            data:"catId=" + id,
            success:function (data) {
                $('#topic_ul').html(data);
            }
        })
    })
    $('#ask_question_btn').click(function () {
        var title = $('#thread_title').val();
        if (title == '') {
            alert('请输入标题!');
            return false;
        }
        var content = $('#content').val();
        if (content == '') {
            alert('请输入内容!');
            return false;
        }
        var value = $('#quan_id').val();
        if (value == '') {
            alert('请选择圈子!');
            return false;
        }else{
            var value = $('#topic_id').val();
            if (value == '') {
                alert('请选择话题分类!');
                return false;
            }
        }
        $.ajax({
            type:'post',
            url:"{:U('Home/forum/doAdd')}",
            data:"articleTitle="+$('#thread_title').val()+"&articleContent=" + $('#content').val() + "&catId="+ $('#topic_id').val() + "&parentCatId=" + $('#quan_id').val(),
            success:function (data) {
                if (data == 1){
                    WST.msg('发布成功');
                    location.href="{:U('Home/forum/index')}";
                }else{
                    WST.msg('发布失败');
                }
            }
        })
    })
</script>
<script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
<script src="__PUBLIC__/plugins/kindeditor/kindeditor.js"></script>
<script src="__PUBLIC__/plugins/kindeditor/lang/zh-CN.js"></script>
<script>
    $(function () {
        KindEditor.ready(function (K) {
            editor1 = K.create('textarea[name="articleContent"]', {
                height: '260px',
                allowFileManager: false,
                allowImageUpload: true,
                items: [
                    'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                    'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                    'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                    'anchor', 'link', 'unlink', '|', 'about'
                ],
                afterBlur: function () {
                    this.sync();
                }
            });
        });
        $.formValidator.initConfig({
            theme: 'Default',
            mode: 'AutoTip',
            formID: "myform",
            debug: false,
            submitOnce: false,
            onError: function (msg) {
            }
        });
        $("#thread_title").formValidator({onFocus: "请输入帖子标题"}).inputValidator({
            min: 1,
            max: 100,
            onError: "请输入100字以内帖子标题",
        });
        $("#content").formValidator({onFocus: "请输入帖子详情"}).inputValidator({
            min: 1,
            max: 1000000,
            onError: "请输入帖子详情"
        });
    });

</script>
<include file="./Apps/Home/View/default/common_foot.html"/>