<include file="./Apps/Home/View/default/common_head.html"/>
<div id="main">
    <div class="container">
        <div class="major clearfix">
            <div class="quan-main">
                <!-- quan-slider begin -->
                <div class="quan-slider">
                    <div class="hd">
                        <!--<ul>
                            <li class="on"></li>
                            <li ></li>
                            <li ></li>
                            <li ></li>
                        </ul>-->
                    </div>
                    <div class="bd">
                        <ul>
                            <li>
                                <a data-id="89" href="http://www.xiucai.com/live/652/" target="_blank" class="hit_count clearfix">
                                    <div class="fl">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2016/0919/62215ef6-b9a4-1696-956d-3edc16861ea3.jpg"/>
                                    </div>
                                    <div class="intro-detail">
                                        <h2>困境中扭亏为盈——看财务分析如何助力决策</h2>
                                        <p>
                                            财务分析人员在公司里就像迷一般的存在，他们隶属于财务部却从来不做凭证，然而他们具有最全面的知识，能读懂所谓“数据背后的故事”，能恰如其分地运用财务知识帮助企业达成目标。 </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a data-id="88" href="http://www.xiucai.com/course/zt/yyzj/" target="_blank" class="hit_count clearfix">
                                    <div class="fl">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2016/0914/4fd8ac21-e056-df41-89c0-eaa5ded55925.jpg"/>
                                    </div>
                                    <div class="intro-detail">
                                        <h2>营运资金管理分析专题</h2>
                                        <p>本次课程，我们专门从营运资金管理的角度，学习洞察营运能力的分析方法与关键指标，以及如何为企业的营运管理把脉建言，大量公司案例，等你一起来分析。 </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a data-id="80" href="http://www.xiucai.com/vocation/aptitude/" target="_blank" class="hit_count clearfix">
                                    <div class="fl">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2016/0829/2250775b-638a-ce3e-9da2-3184e31f985a.jpg"/>
                                    </div>
                                    <div class="intro-detail">
                                        <h2>职业资质课程</h2>
                                        <p>初级会计实务、中级会计实务、CMA、ACCA，为不同阶段的你，量身定制。</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a data-id="73" href="http://www.xiucai.com/zt/cma/" target="_blank" class="hit_count clearfix">
                                    <div class="fl">
                                        <img src="http://assets.xiucai.com/assets/uploads/pic/2016/0815/8ca3f9e3-b4f0-4430-43ac-9c6c71380233.jpg"/>
                                    </div>
                                    <div class="intro-detail">
                                        <h2>秀财网CMA注册管理会计师项目</h2>
                                        <p>
                                            CMA逐渐成为全球财务管理者的职业典范的象征，世界500强企业更视CMA资格为衡量专业财务管理者职业水准和职业道德的最佳标准。2009年CMA刚登陆中国就被财政部、国资委、商务部、总会计师…</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                </div>
                <!-- quan-slider end -->
                <!-- 导师问答 -->
                <div class="quan-block">
                    <a href="{:U('Home/specialist/index')}" target="_blank">
                        <img src="__ROOT__/Apps/Home/View/default/img/quan/tutor_banner.png" width="900" height="123" style="display: block;">
                    </a>
                </div>

                <div class="quan-block block-pagination relative">
                    <div class="quan-tab quan-tab-auto  quan_middle_nav">
                        <ul class="clearfix">
                            <li <if condition="$_GET['type'] eq 'hot' or $_GET['type'] eq ''"> class="cur"</if>>
                                <a href="{:U('Home/forum/index',array('type'=>'hot'))}" name="hot_">最热帖子</a>
                            </li>
                            <li <if condition="$_GET['type'] eq 'new'"> class="cur"</if>>
                                <a href="{:U('Home/forum/index',array('type'=>'new'))}" name="new_">最新发布</a>
                            </li>
                            <li <if condition="$_GET['type'] eq 'reply'"> class="cur" </if>>
                                <a href="{:U('Home/forum/index',array('type'=>'reply'))}" name="huif_">最后回复</a>
                            </li>
                        </ul>
                        <a href="{:U('Home/Users/quan')}" class="link-mine-circle" target="_blank">
                            <span>我的圈子</span>
                            <b>GO</b>
                        </a>
                    </div>
                    <div class="quan_post_">
                        <div class="quan-post hot_">
                            <!-- 全部圈子动态 -->
                            <!--只有首页展示置顶信息-->
                            <if condition="$_GET['p'] eq '' or $_GET['p'] eq 1">
                                <foreach name="top" item="v">
                                    <div class="quan-post-item clearfix">
                                        <div class="fl">
                                            <a href="{:U('Home/Users/index',array('id'=>$v['staffId']))}" class="block-head common-avatar" target="_blank">
                                                <img src="__ROOT__/{$v['userPhoto']|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="50" width="50">
                                            </a>
                                        </div>
                                        <div class="r-content">
                                            <a class="quan-post-title" href="{:U('Home/forum/article',array('cid'=>$v['catId'],'pid'=>$v['parentCatId'],'id'=>$v['articleId']))}" target="_blank">
                                                <!-- 标题30个字符 -->
                                                <h2 id="quan-post-title{$v['createTime']}" style="color: #fd6440;">
                                                    {$v['articleTitle']|WSTMSubstr=###,0,30}</h2>
                                            </a>
                                            <span id="quan-post-tag{$v['createTime']}" class="quan-post-tag">
                        <i class="tag-top" title="置顶"></i>
                    </span>
                                            <div class="quan-post-info">
                                                <div class="">
                                                    <span class="toppic-type">{$v['catName']}</span>
                                                    <span class="devide-line"></span>
                                                    <span class="post-data">阅读<i>{$v['readNum']}</i></span>
                                                    <span class="m20 post-data">回复<i>{$v['commentNum']}</i></span>
                                                    <span class="devide-line"></span>
                                                    <if condition="$v['lastId'] neq null">
                                                        <a href="{:U('Home/Users/index',array('id'=>$v['lastId']))}" class="user" target="_blank">{$v['lastName']}</a>
                                                        <span class="post-time">{$v['lastTime']|mdate}</span>
                                                        <span class="post-type">最后回复</span>
                                                        <else/>
                                                        <span class="post-time">{$v['createTime']|mdate}</span>
                                                        <span class="post-type">发表</span>
                                                    </if>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </foreach>
                            </if>

                            <!--文章列表-->
                            <volist name="article" id="v">
                                <div class="quan-post-item clearfix">
                                    <div class="fl">
                                        <a href="{:U('Home/Users/index',array('id'=>$v['staffId']))}" class="block-head common-avatar" target="_blank">
                                            <img src="__ROOT__/{$v['userPhoto']|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="50" width="50">
                                        </a>
                                    </div>
                                    <div class="r-content">
                                        <a class="quan-post-title" href="{:U('Home/forum/article',array('cid'=>$v['catId'],'pid'=>$v['parentCatId'],'id'=>$v['articleId']))}" target="_blank">
                                            <!-- 标题30个字符 -->
                                            <h2 id="quan-post-title1442826103">
                                                {$v['articleTitle']|WSTMSubstr=###,0,30}</h2>
                                        </a>
                                        <span id="quan-post-tag1442826103" class="quan-post-tag"> </span>
                                        <div class="quan-post-info">
                                            <div class="">
                                                <span class="toppic-type">{$v['catName']}</span>
                                                <span class="devide-line"></span>
                                                <span class="post-data">阅读<i>{$v['readNum']}</i></span>
                                                <span class="m20 post-data">回复<i>{$v['commentNum']}</i></span>
                                                <span class="devide-line"></span>
                                                <!--会员图标-->
                                                <!--<a href="/vip/" target="_blank" class="vip" title="了解秀财会员">-->
                                                    <!--<img src="__ROOT__/Apps/Home/View/default/img/vip.png" width="16" height="12" alt="会员特权" border="0">-->
                                                <!--</a>-->
                                                <if condition="$v['lastId'] neq null">
                                                    <a href="{:U('Home/Users/index',array('id'=>$v['lastId']))}" class="user" target="_blank">{$v['lastName']}</a>
                                                    <span class="post-time">{$v['lastTime']|mdate}</span>
                                                    <span class="post-type">最后回复</span>
                                                    <else/>
                                                    <span class="post-time">{$v['createTime']|mdate}</span>
                                                    <span class="post-type">发表</span>
                                                </if>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </volist>
                        </div>
                    </div>

                    <div style="width: 100%;height: 80px;text-align: center;box-sizing: border-box;">
                        {$pages}
                    </div>
                </div>
            </div>

            <!-- right -->
            <div class="quan-side-bar">
                <div class="quan-block quan-sign-block sign1" style="display:none;">
                    <!-- 已签到添加样式 signed -->
                    <div class="btn-sign-in basic-transit clearfix <if condition="$can eq 1">qiandao<else/>signed</if>" data-is-sign="1">
                        <div class="fl"><i></i><span><if condition="$can eq 1">签到<else/>已签到</if></span></div>
                        <!-- 未登录只显示日期，添加single-p样式 -->
                        <div class="fr">
                            <p><span class="month"></span>月<span class="day"></span>日</p>
                            <p id="continue-sign-times" class="border-t-c1">
                                连续<span class="point-red" id="continue_sign_count_box"><if condition="$sign['rows'] neq null">{$sign['rows']}<else/>0</if></span>天</p>
                        </div>
                    </div>
                    <!-- 未登录不显示 -->
                    <p class="total-sign" id="total-sign-times">
                        共签到
                        <span class="point-red" id="total_sign_count_box"><if condition="$sign['days'] neq null">{$sign['days']}<else/>0</if></span>天
                        <span class="signed-qb">
                		<img src="__ROOT__/Apps/Home/View/default/img/quan/qb.png?v=1.10.5" alt="圈币" height="14" width="20">
                		<em id="addCoin">{$quanBi}</em>
                	</span>
                    </p>
                    <div class="num-display">
                        <span class="border-r-e6" id="today-sign-count">今日签到<b>{$todaySign}</b></span>
                        <span>总帖量<b>{$articleNum}</b></span>
                    </div>
                </div>


                <div class="quan-block quan-sign-block sign2">
                    <div class="btn-sign-in basic-transit clearfix qiandao" data-is-sign="1">
                        <div class="fl"><i></i>签到</div>
                        <!--未登录-->
                        <div class="fr single-p">
                            <p><span class="month"></span>月<span class="day"></span>日</p>
                        </div>
                        <!--未登录-->
                    </div>
                    <!--未登录-->
                    <p class="total-sign" id="total-sign-times">
                        <a class="a-login" href="javascript:login();">登录</a>签到送圈币哦！
                    </p>
                    <p id="sign-user-score-coins"></p>
                    <!--未登录-->
                    <div class="num-display">
                        <span class="border-r-e6" id="today-sign-count">今日签到<b>{$todaySign}</b></span>
                        <span>总帖量<b>{$articleNum}</b></span>
                    </div>
                </div>


                <script>
                    var uid = '{$_SESSION['WSTMALL']['WST_USER']['userId']}';
                    var time = new Date();
                    var Mon = time.getMonth() + 1;
                    var Day = time.getDate();
                    $('.month').html(Mon);
                    $('.day').html(Day);
                    if (uid != '') {
                        $('.sign2').hide();
                        $('.sign1').show();
                    }
                    $('.qiandao').click(function () {
                        if ($('.btn-sign-in').hasClass('qiandao')) {
                            if (uid != '') {
                                $.ajax({
                                    type: 'post',
                                    url: '{:U("Home/Forum/sign")}',
                                    data: "userId=" + uid,
                                    success: function (re) {
                                        if (re == 1) {
//                                          WST.msg('签到成功');
                                            $('.btn-sign-in').removeClass('qiandao');
                                            $('.btn-sign-in').addClass('signed');
                                            $('.btn-sign-in .fl span').html('已签到');
                                            var now = $('#continue_sign_count_box').html();
                                            now = parseInt(now);
                                            $('#continue_sign_count_box').html(now + 1);
                                            var now = $('#total_sign_count_box').html();
                                            now = parseInt(now);
                                            $('#total_sign_count_box').html(now + 1);
                                            var now = $('#addCoin').html();
                                            now = parseInt(now);
                                            $('#addCoin').html(now + 1);
                                        } else {
                                            WST.msg('签到失败');
                                        }
                                    }
                                })
                            } else {
                                login();
                                return false;
                            }
                        }
                    });
                </script>


                <div class="quan-block quan-block-all quaner-name-parent">
                    <p class="align-c">
                        <a href="{:U('home/forum/add')}" target="_blank" class="globe-btn50 edit-btn postThread"><i></i>
                            我要发帖
                        </a>
                        <a href="{:U('home/forum/add')}" class="globe-btn50 edit-btn hide" target="_blank">
                            <i></i>我要发帖
                        </a>
                        <span class="posting-tips">提问或分享，与同行讨论</span>
                    </p>
                </div>
                <!-- 推荐圈子 -->
                <div class="quan-block">
                    <h2><em></em>推荐圈子</h2>
                    <ul class="quan-more-list">
                        <foreach name="cats" item="v">
                            <li>
                                <a href="{:U('Home/forum/quan',array('id'=>$v['catId']))}" class="clearfix" target="_blank">
                                    <span class="fl"><i class="iconfont icon-official"></i>{$v['catName']}</span>
                                    <span class="fr">{$v['totalNum']}人</span>
                                </a>
                            </li>
                        </foreach>
                    </ul>
                </div>

                <!-- 热门讨论 -->
                <div class="quan-block quan-title-block">
                    <h2><em></em>精华推荐</h2>
                    <ul class="circle-list">
                        <volist name="tuijian" id="v" offset="0" length="3">
                        <li class="rank-top">
                            <a data-id="{$v.articleId}" href="{:U('Home/forum/article',array('id'=>$v['articleId']))}" target="_blank" class="clearfix hit_count" title="{$v.articleTitle}">
                                <span class="rank-num">{$i}</span><span class="rank-discuss">{$v.articleTitle}</span>
                            </a>
                        </li>
                        </volist>
                        <volist name="tuijian" id="v" offset="3" length="7">
                        <li>
                            <a data-id="{$v.articleId}" href="{:U('Home/forum/article',array('id'=>$v['articleId']))}" target="_blank" class="clearfix hit_count" title="{$v.articleTitle}">
                                <span class="rank-num">{$i+3}</span><span class="rank-discuss">{$v.articleTitle}</span>
                            </a>
                        </li>
                        </volist>
                    </ul>
                </div>

                <!-- 后台推送直播课程，如果没有则提取最新 -->
            <div class="quan-block quan-title-block">
                <h2 class="relative"><em></em>近期直播<a href="{:U('Home/Livecast/index')}" target="_blank" class="link-more">更多 &raquo;</a></h2>
                <div class="live-slider">
                    <div class="bd">
                        <ul class="clearfix">
                            <volist name="relatedArr['root']" id="v" empty="暂无信息~">
                                <li>
                                    <a data-id="{$v.courseId}" href="{:U('Home/Livecast/course',array('id'=>$v['courseId']))}" target="_blank" class="hit_count">
                                        <img src="__ROOT__/{$v.courseThums}" width="224" height="128">
                                        <div class="quan-course">
                                            <p class="quan-course-title">{$v.courseName}</p>
                                            <p class="quan-course-date"><span>{$v['liveStartTime']|Date='y年m月d日 H:i',###}~{$v['liveEndTime']|Date='H:i',###}</span></p>
                                        </div>
                                    </a>
                                </li>
                            </volist>
                        </ul>
                    </div>
                    <div class="hd">
                        <ul>
                            <volist name="relatedArr['root']" id="v">
                                <li></li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.SuperSlide.2.1.1.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/thread_detail.js?v=1.10.5"></script>
<include file="./Apps/Home/View/default/common_foot.html"/>