<include file="./Apps/Home/View/default/common_head.html"/>
<style>
    .user_comment {

    }

    .user_comment li {
        border-bottom: 1px solid #d8d8d8;
    }

    .user_comment .ul_user_comment {

    }

    .user_comment .ul_user_comment td {
        padding: 10px;
        box-sizing: border-box;
    }

    .user_comment .ul_user_comment td .ul_user_img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        overflow: hidden;

    }

    .user_comment .ul_user_comment td .ul_user_img img {
        width: 100%;
    }

    .user_comment .ul_user_comment .haoping_xing {
        font-size: 22px;
        color: #ff7b48;
    }

    .kc_zj {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
    }
</style>
<div id="main">
    <div class="course-details">
        <div class="navigate">
            <p>
                <a href="#">课程大厅</a>
                &gt;
                <a href="javascript:;">{$course.courseName}</a>
            </p>
        </div>
        <!--课程权限显示内容-->
        <div class="course-video read-only">
            <div class="cont-box" style="padding-top: 0;">
                <div class="course-live clearfix">
                    <div class="live-left">
                        <img width="600" height="340" alt="" src="__ROOT__/{$course.courseThums}" class="course_video">
                    </div>
                    <div class="live-right">
                        <div class="hgroup">
                            <h1>{$course.courseName}</h1>
                            <p class="course-biaoqian">
                                <span class="difficulty">
                                    <switch name="course.courseDifficulty">
                                        <case value="2">中级课程</case>
                                        <case value="3">高级课程</case>
                                        <default/>初级课程
                                    </switch>
                                </span>
                                <i>|</i>
                                <b></b>
                                课程标签：
                                <span>[{$course.catName}]</span>
                            </p>
                        </div>
                        <div class="course-time">
                            <div class="course-date"><span>{$course['liveStartTime']|date='y年m月d日 H:i',###}-{$course['liveEndTime']|date='H:i',###}</span> 开课</div>
                            <div class="privileges">
                                <span class="free-public">
                                    <switch name="course.is_free">
                                        <case value="1">免费课</case>
                                        <case value="2">会员专享课</case>
                                    </switch>
                                </span>
                            </div>
                        </div>
                        <ul class="share-enter">
                            <li>
                                <div class="customize">

                                </div>
                                <div class="share">
                                    <span class="fr">({$course.saleCount}人报名)</span>
                                    <em class="iconfont">&#xe653;</em>
                                    分享课程：
                                    <!-- JiaThis Button BEGIN -->
                                    <div class="jiathis_style" style="float:right;">
                                        <a class="jiathis_button_qzone"></a>
                                        <a class="jiathis_button_tsina"></a>
                                        <a class="jiathis_button_weixin"></a>
                                    </div>
                                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                                    <!-- JiaThis Button END -->
                                </div>
                            </li>
                            <li id="live-course-status-btn" class="btn-group  ">
                                <!-- 按课程分是否免费 -->
                                <!-- 免费课程分是否登录 -->
                                <a class="submit-btn a-login" href="javascript:;">报名课程</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="course-tab">
                    <li class="details cur" id="course-detail-info-tab" data-trackEvent="" data-category="detail_descrption" data-action="detail_descrption" data-opt_label="detail_descrption" data-opt_value="课程详情">
                        课程详情
                    </li>
                </ul>
            </div>
        </div>
        <script>
            var uid = '{$_SESSION['WSTMALL']['WST_USER']['userId']}';
            $('.submit-btn').click(function () {
                if (uid == '') {
                    login();
                    return;
                }else {
                    //报名
                }
            })
        </script>
        <div class="details-questions">
            <div id="course-details-box" class="course-details-box jason-details-tab" style="display: block;">
                <div class="article" style="width: 1200px;">
                    {$course['courseDesc']}
                    <div class="course-panel">
                        <h3 class="panel-title"><em></em>老师简介</h3>
                        <div class="panel-body">
                            <div class="pic">
                                <a href="{:U('Home/specialist/tutor',array('id'=>$tutor['shopId']))}">
                                    <img src="__ROOT__/{$tutor['shopImg']|default='Apps/Home/View/default/img/course/dcffd07a-3c3c-363a-ca40-39660b043b28.jpg'}" width="80" height="80">
                                </a>
                            </div>
                            <div class="txt">
                                <a href="{:U('Home/specialist/tutor',array('id'=>$tutor['shopId']))}">
                                    <p class="teacher">{$tutor['shopName']}</p>
                                </a>
                                {$tutor['shopDetails']}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="aside" style="display:none;">
                    <div class="quan-block quan-list3-block">
                        <h2><em></em>导师问答</h2>
                        <ul class="list-no-p">
                            <li>
                                <a href="turtor_info.html" target="_blank">
                                    <div class="clearfix">
                                        <div class="l-avatar block-head">
                                            <img src="img/course/5a8cba2f-7666-dd13-edbd-15c539b3caba.jpg" alt="" height="50" width="50">
                                            <em><img src="img/course/tag-V.png-v=1.10.1.png" alt="" title="认证导师" height="17" width="17"/></em>
                                        </div>
                                        <div class="r-info">
                                            <p class="name">赵珈宜</p>
                                            <p class="job">专业服务/教育/培训</p>
                                        </div>
                                    </div>
                                    <div class="specializes">
                                        <span><em></em><i>会计处理</i></span>
                                        <span><em></em><i>税务稽查</i></span>
                                        <span><em></em><i>税种及政策</i></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="turtor_info.html" target="_blank">
                                    <div class="clearfix">
                                        <div class="l-avatar block-head">
                                            <img src="img/course/5a8cba2f-7666-dd13-edbd-15c539b3caba.jpg" alt="" height="50" width="50">
                                            <em><img src="img/course/tag-V.png-v=1.10.1.png" alt="" title="认证导师" height="17" width="17"/></em>
                                        </div>
                                        <div class="r-info">
                                            <p class="name">马强</p>
                                            <p class="job">专业服务/教育/培训</p>
                                        </div>
                                    </div>
                                    <div class="specializes">
                                        <span><em></em><i>会计处理</i></span>
                                        <span><em></em><i>税会差异</i></span>
                                        <span><em></em><i>税务筹划</i></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="turtor_info.html" target="_blank">
                                    <div class="clearfix">
                                        <div class="l-avatar block-head">
                                            <img src="img/course/5a8cba2f-7666-dd13-edbd-15c539b3caba.jpg" alt="" height="50" width="50">
                                            <em><img src="img/course/tag-V.png-v=1.10.1.png" alt="" title="认证导师" height="17" width="17"/></em>
                                        </div>
                                        <div class="r-info">
                                            <p class="name">黄佩</p>
                                            <p class="job">服务业</p>
                                        </div>
                                    </div>
                                    <div class="specializes">
                                        <span><em></em><i>合并报表</i></span>
                                        <span><em></em><i>管理会计体</i></span>
                                        <span><em></em><i>财务管控</i></span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" style="padding: 0">
                                    <img src="img/course/xgg.png-v=1.10.1.png" width="278" height="145" style="vertical-align: middle">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 推荐的课程 begin -->
        <div class="course-recommend-box">
            <div class="recommend-course-title">
                <!-- 录播课程显示：相关课程。直播课程显示：近期课程。 -->
                <h4>相关课程：</h4>
            </div>
            <!-- 相关课程 begin -->
            <div class="course-list" style="width: 1200px;">
                <!-- 视频课程 begin -->
                <div id="course-list-content">
                    <ul class="clearfix">
                        <volist name="related" id="v" empty="暂无相关课程">
                        <li>
                            <a href="{:U('Home/Livecast/course',array('id'=>$v['courseId']))}" target="_blank" data-opt_value="相关课程">
                                <div class="course-list-img">
                                    <img width="280" height="160" src="__ROOT__/{$v.courseThums}" alt="{$v.courseName}">
                                </div>
                                <h5>
                                    <span>{$v.courseName}</span>
                                </h5>
                                <div class="tips">
                                    <span>
                                        <switch name="v.courseDifficulty">
                                        <case value="2">中级课程</case>
                                        <case value="3">高级课程</case>
                                        <default/>初级课程
                                    </switch>
                                    </span>
                                    <em>|</em>
                                    <span>{$v.saleCount}人已学</span>
                                </div>
                                <if condition="$v['shopPrice'] eq 0">
                                <div class="cost">
                                    <span class="l toll">会员免费看</span>
                                </div>
                                </if>
                            </a>
                        </li>
                        </volist>
                    </ul>
                </div>
            </div>
            <!-- 相关课程 end -->
        </div>
        <!-- 推荐的课程 end -->
    </div>
    <!-- 课程大纲-->
    <div id="add-course-file-layer"></div>
</div>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery-1.9.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/dialog-plus.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/common4.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.enplaceholder.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/memberInfoDialog.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/focusUser.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/icheck.min.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/login.js"></script>
<include file="./Apps/Home/View/default/common_foot.html"/>