<include file="./Apps/Home/View/default/common_head.html" />
<style>

    .bound-phone-tips {
        position: absolute !important;
        top: 50px;
        z-index: 2;
    }

    .recelentzhibo {
        width: 100%;
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        font-size: 20px;
        box-sizing: border-box;
        background: #FAFAFA;
    }

    .teacher {
        padding: 5px 20px;
    }

    .teacher .left, .teacher .center {
        float: left !important;
    }

    .teacher .left > div {
        width: 100px;
        text-align: center;
        padding-top: 10px;
    }

    .teacher .left img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }

    .teacher .center {
        padding-top: 10px;
    }

    .teacher .right {
        float: right !important;
    }

    .specializes dt {
        padding-left: 0 !important;
    }

    .teacher .right ul {
        margin-top: 0 !important;
    }

    .qa-index .qa-teacher-list .right .btn {
        margin-top: 10px;
    }

    .qa-index .qa-teacher-list .right li {
        width: 100%;
    }

    .qa-index .qa-teacher-list .right li:first-child {
        width: 100%;
        border-right: 0;
    }
</style>
<div id="main">
	  <div class="qa-index">
		  <div class="qa-teacher-list" style="padding: 0;min-width: 1024px;width: 60%;margin-top: 100px;">
			  <div class="recelentzhibo">近期直播</div>
			  <div>
				  <div class="list-item" id="tutor-list-content">
                      <volist name="page['root']" id="v">
                          <div class="teacher">
                              <div class="left">
                                  <a target="_blank" href="{:U('Home/specialist/tutor',array('id'=>$v['shopId']))}">
                                      <img src="__ROOT__/{$v['shopImg']|default='Apps/Home/View/default/img/turtor/5242c1db-3d93-a0e7-cd21-53953a79f2f4.jpg'}" width="180" height="180">
                                  </a>
                                  <div>{$v['shopName']}</div>
                              </div>
                              <div class="center">
                                  <p class="name">
                                      <a href="{:U('Home/Livecast/course',array('id'=>$v['courseId']))}">
                                          {$v['courseName']}
                                      </a>
                                  </p>
                                  <p class="position">{$v['courseIntro']}</p>
                                  <dl class="specializes">
                                      <dt>课程标签：</dt>
                                      <dd>
                                          <span><em></em><i>{$v['catName']}</i></span>
                                      </dd>
                                  </dl>
                              </div>
                              <div class="right">
                                  <ul>
                                      <li>
                                          <span>{$v['liveStartTime']|Date='y年m月d日 H:i',###}-{$v['liveEndTime']|Date='H:i',###}</span>
                                      </li>
                                      <li class="btn">
                                          <if condition="$v['invalid'] eq 1">
                                              <a href="{:U('Home/Course/getCourseDetails',array('courseId'=>$v['courseId']))}" class="tw questioning">回看</a>
                                              <else/>
                                              <a href="{:U('Home/Livecast/course',array('id'=>$v['courseId']))}" class="tw questioning">去报名</a>
                                          </if>
                                      </li>
                                      <li>
                                          <span>({$v['saleCount']}人报名)</span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </volist>
				  </div>
                  <div class="page">{$page['pager']}</div>
			  </div>
		  </div>
	  </div>
  </div>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery-1.9.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/dialog-plus.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/common4.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.enplaceholder.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/memberInfoDialog.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/focusUser.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/icheck.min.js"></script>
<include file="./Apps/Home/View/default/common_foot.html" />