<include file="./Apps/Home/View/default/common_head.html"/>
<style>
    .user_comment {

    }

    .user_comment li {
        border-bottom: 1px solid #d8d8d8;
    }

    .user_comment .ul_user_comment {

    }

    .user_comment .ul_user_comment td {
        padding: 10px;
        box-sizing: border-box;
    }

    .user_comment .ul_user_comment td .ul_user_img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        overflow: hidden;

    }

    .user_comment .ul_user_comment td .ul_user_img img {
        width: 100%;
    }

    .user_comment .ul_user_comment .haoping_xing {
        font-size: 22px;
        color: #ff7b48;
    }

    .kc_zj {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
    }
</style>
<div id="main">
    <div class="course-details">
        <div class="navigate">
            <p>
                <a href="#">课程大厅</a>
                &gt;
                <a href="javascript:;">{$course.courseName}</a>
            </p>
        </div>
        <!--课程权限显示内容-->
        <div class="course-video read-only">
            <div class="cont-box" style="padding-top: 0;">
                <div class="course-live clearfix">
                    <div class="live-left">
                        <img width="600" height="340" alt="" src="__ROOT__/{$course.courseThums}" class="course_video">
                    </div>
                    <div class="live-right">
                        <div class="hgroup">
                            <h1>{$course.courseName}</h1>
                            <p class="course-biaoqian">
                                <span class="difficulty">
                                    <switch name="course.courseDifficulty">
                                        <case value="2">中级课程</case>
                                        <case value="3">高级课程</case>
                                        <default/>初级课程
                                    </switch>
                                </span>
                                <i>|</i>
                                <b></b>
                                课程标签：
                                <span>[{$course.catName}]</span>
                            </p>
                            <h1>课程价格：{$course.shopPrice}</h1>
                        </div>
                        <div class="course-time">
                            <div class="course-date"><span>{$course['liveStartTime']|date='y年m月d日 H:i',###}-{$course['liveEndTime']|date='H:i',###}</span> 开课</div>
                            <div class="privileges">
                                <span class="free-public">
                                    <switch name="course.is_free">
                                        <case value="1">免费课</case>
                                        <case value="2">会员专享课</case>
                                    </switch>
                                </span>
                            </div>
                        </div>
                        <ul class="share-enter">
                            <li>
                                <div class="customize">

                                </div>
                                <div class="share">
                                    <span class="fr">({$course.saleCount}人报名)</span>
                                    <em class="iconfont">&#xe653;</em>
                                    分享课程：
                                    <!-- JiaThis Button BEGIN -->
                                    <div class="jiathis_style" style="float:right;">
                                        <a class="jiathis_button_qzone"></a>
                                        <a class="jiathis_button_tsina"></a>
                                        <a class="jiathis_button_weixin"></a>
                                    </div>
                                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                                    <!-- JiaThis Button END -->
                                </div>
                            </li>
                            <li id="live-course-status-btn" class="btn-group ">
                                <if condition="$sign eq 2">
                                    <a class="submit-btn a-login" href="{:U('Home/Livecast/live',array('id'=>$sign_id,'courseId'=>$course['courseId']))}" id="in"  target="_blank">进入直播间</a>
                                    <else/>
                                    <a class="submit-btn a-login" href="javascript:;" id="sign">报名课程</a>
                                </if>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="course-tab">
                    <li class="details cur" id="course-detail-info-tab" data-trackEvent="" data-category="detail_descrption" data-action="detail_descrption" data-opt_label="detail_descrption" data-opt_value="课程详情">
                        课程详情
                    </li>
                </ul>
            </div>
        </div>
        <script>
            var uid = '{$_SESSION['WSTMALL']['WST_USER']['userId']}';
            $('.submit-btn').click(function () {
                if (uid == '') {
                    login();
                    return;
                }else {
                    //报名
                }
            })
        </script>
        <div class="details-questions">
            <div id="course-details-box" class="course-details-box jason-details-tab" style="display: block;">
                <div class="article" style="width: 1200px;">
                    {$course['courseDesc']}
                    <div class="course-panel">
                        <h3 class="panel-title"><em></em>老师简介</h3>
                        <div class="panel-body">
                            <div class="pic">
                                <a href="{:U('Home/specialist/tutor',array('id'=>$tutor['shopId']))}">
                                    <img src="__ROOT__/{$tutor['shopImg']|default='Apps/Home/View/default/img/course/dcffd07a-3c3c-363a-ca40-39660b043b28.jpg'}" width="80" height="80">
                                </a>
                            </div>
                            <div class="txt">
                                <a href="{:U('Home/specialist/tutor',array('id'=>$tutor['shopId']))}">
                                    <p class="teacher">{$tutor['shopName']}</p>
                                </a>
                                {$tutor['shopDetails']}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 推荐的课程 begin -->
        <div class="course-recommend-box">
            <div class="recommend-course-title">
                <!-- 录播课程显示：相关课程。直播课程显示：近期课程。 -->
                <h4>相关课程：</h4>
            </div>
            <!-- 相关课程 begin -->
            <div class="course-list" style="width: 1200px;">
                <!-- 视频课程 begin -->
                <div id="course-list-content">
                    <ul class="clearfix">
                        <volist name="related" id="v" empty="暂无相关课程">
                        <li>
                            <a href="{:U('Home/Livecast/course',array('id'=>$v['courseId']))}" target="_blank" data-opt_value="相关课程">
                                <div class="course-list-img">
                                    <img width="280" height="160" src="__ROOT__/{$v.courseThums}" alt="{$v.courseName}">
                                </div>
                                <h5>
                                    <span>{$v.courseName}</span>
                                </h5>
                                <div class="tips">
                                    <span>
                                        <switch name="v.courseDifficulty">
                                        <case value="2">中级课程</case>
                                        <case value="3">高级课程</case>
                                        <default/>初级课程
                                    </switch>
                                    </span>
                                    <em>|</em>
                                    <span>{$v.saleCount}人已学</span>
                                </div>
                                <if condition="$v['shopPrice'] eq 0">
                                <div class="cost">
                                    <span class="l toll">会员免费看</span>
                                </div>
                                </if>
                            </a>
                        </li>
                        </volist>
                    </ul>
                </div>
            </div>
            <!-- 相关课程 end -->
        </div>
        <!-- 推荐的课程 end -->
    </div>
    <!-- 课程大纲-->
    <div id="add-course-file-layer"></div>
</div>

<div class="dialog-board dialog-board-m dialog-board-m-notitle hide" id="threadWechatDiv">
    <div class="dialog-board-bar">
        <a href="javascript:" class="close-dialog-board iconfont closeThreadWechatDiv">&#xe644;</a>
    </div>
    <div class="dialog-board-content align-c">
        <div class="service-concern">
            <h2 class="w-main-title">报名成功</h2>
            <div class="multi-btn">
                <a href="javascript:;" class="globe-btn50 globe-btn50-nobg link-close closeThreadWechatDiv">知道了</a>
            </div>

        </div>
    </div>
</div>

<div class="dialog-board dialog-board-m dialog-board-m-notitle hide" id="paycode">
    <div class="dialog-board-bar">
        <a href="javascript:" class="close-dialog-board iconfont closeThreadWechatDiv">&#xe644;</a>
    </div>
  <div class="wrp_code" style="position:relative;">
										<div>
											<div style="float:left;width:500px;height:322px;text-align: right;padding-top:20px;" id="qrcode"></div>
											<div style="float:right;width:650px;">
												<img src="__ROOT__/Apps/Home/View/default/images/wxphone.png"/>
											</div>
											<div style="clear:both;"></div>
										</div>
										<div class="info" style="position:absolute;bottom:50px;left:209px;color:#ffffff;">
											<div class="status status_browser js_status normal"
												id="wx_default_tip">
												<p>请使用微信扫描二维码进行支付</p>											
											</div>
										</div>
									</div>
</div>

<script src="__PUBLIC__/js/qrcode.min.js"></script>
	
	
	<script>
	<if condition="$out_trade_no != ''">
	if (<?php echo $wxQrcodePayResult["code_url"] != NULL; ?>) {
		var url = "<?php echo $code_url;?>";
		
	 var qrcode = new QRCode(document.getElementById("qrcode"), {
	   text: url,
	   width : 100,
	   height : 100
       });
		
		
		
		
	}
	</if>

	setInterval(function(){
	var params = {};
	params.trade_no = "{$out_trade_no}";
	$.ajax({
		url:"{:U('Home/Livecast/getPayStatus')}",
		data:params,
		type:"POST",
		dataType:"json",
		success:function(data){
			if(data.status==1){
				location.reload();
			}
		}
	});
},1500);
</script>


<script>
    var uid = '{$_SESSION['WSTMALL']['WST_USER']['userId']}';
    $('#sign').click(function () {
        if (uid == '') {
            login();
            return;
        } else {
			var money = "{$course['shopPrice']}";
			if(parseInt(money) > 0){
			
			$("#paycode").show();
			
			
			
			
			
			
			
			
			//addCart({$course['courseId']},1);
			}else{
			$.ajax({
                url:"{:U('Home/Livecast/sign')}",
                data:"uid="+uid+"&cid="+'{$_GET['id']}',
                type:"post",
                success:function (data) {
                    if (data) {
                        $('#threadWechatDiv').show();
                        $('#live-course-status-btn').html('<a class="submit-btn a-login" href="/index.php?m=Home&c=Livecast&a=live&id='+data+'&courseId={$course['courseId']}" id="in"  target="_blank">进入直播间</a>');
                    } else {
                        WST.msg('报名失败,未知错误...');
                    }
                }
            })
			}
            
            
        }

    });
    $('.closeThreadWechatDiv').click(function () {
        $('#threadWechatDiv').hide();
    })
</script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery-1.9.0.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/qrcode.min.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/dialog-plus.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/common4.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.enplaceholder.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/memberInfoDialog.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/focusUser.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/icheck.min.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/login.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/course.js"></script>
<include file="./Apps/Home/View/default/common_foot.html"/>