<include file="./Apps/Home/View/default/common_head.html"/>
<div id="main">
    <div class="container">
        <div class="major clearfix">
            <div class="quan-main">
                <div class="quan-block quan-top-intro clearfix">
                    <div class="fl l-intro">
                        <div class="intro-pic">
                            <span class="iconfont icon-tax_planning" style="color:#8cd2ad"></span>
                        </div>
                        <p class="quan-top-name">{$cat.catName}</p>
                    </div>
                    <div class="fl r-intro">
                        <p class="quan-top-detail">{$cat.catInfo}</p>
                    </div>
                </div>
                <div class="quan-block quan-title-block block-pagination relative">
                    <div class="dynamic-filtrate">
                        <div class="filter-box"><if condition="$_GET['type'] eq null or $_GET['type'] eq 'new'">最新发布<elseif condition="$_GET['type'] eq 'reply'"/>最后回复<elseif condition="$_GET['type'] eq 'hot'"/>最热帖子</if><i class=" triangle6-red"></i></div>
                        <ul>
                            <li><a href="{:U('Home/Forum/quan',array('id'=>$_GET['id'],'cat'=>$_GET['cat']))}&type=new">最新发布</a></li>
                            <li><a href="{:U('Home/Forum/quan',array('id'=>$_GET['id'],'cat'=>$_GET['cat']))}&type=reply">最后回复</a></li>
                            <li><a href="{:U('Home/Forum/quan',array('id'=>$_GET['id'],'cat'=>$_GET['cat']))}&type=hot">最热帖子</a></li>
                        </ul>
                    </div>
                    <div class="quan-tab quan-tab-auto">
                        <ul class="clearfix">
                            <li <if condition="$_GET['cat'] eq null"> class="cur" </if>>
                                <a href="{:U('Home/Forum/quan',array('id'=>$_GET['id']))}">全部</a>
                            </li>
                            <volist name="catArr" id="v">
                                <li <if condition="$v['catId'] eq $_GET['cat']"> class="cur" </if>>
                                    <a href="{:U('Home/Forum/quan',array('id'=>$_GET['id'],'cat'=>$v['catId']))}">{$v.catName}</a>
                                </li>
                            </volist>
                        </ul>
                    </div>
                    <!-- 三级分类 -->
                    <div class="quan_post_">
                        <div class="quan-post hot_">
                            <!-- 全部圈子动态 -->
                            <!--只有首页展示置顶信息-->
                            <if condition="$_GET['p'] eq '' or $_GET['p'] eq 1">
                                <foreach name="top" item="v">
                                    <div class="quan-post-item clearfix">
                                        <div class="fl">
                                            <a href="{:U('Home/Users/index',array('id'=>$v['staffId']))}" class="block-head common-avatar" target="_blank">
                                                <img src="__ROOT__/{$v['userPhoto']|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="50" width="50">
                                            </a>
                                        </div>
                                        <div class="r-content">
                                            <a class="quan-post-title" href="{:U('Home/forum/article',array('cid'=>$v['catId'],'pid'=>$v['parentCatId'],'id'=>$v['articleId']))}" target="_blank">
                                                <!-- 标题30个字符 -->
                                                <h2 id="quan-post-title{$v['createTime']}" style="color: #fd6440;">
                                                    {$v['articleTitle']|WSTMSubstr=###,0,30}</h2>
                                            </a>
                                            <span id="quan-post-tag{$v['createTime']}" class="quan-post-tag">
                        <i class="tag-top" title="置顶"></i>
                    </span>
                                            <div class="quan-post-info">
                                                <div class="">
                                                    <span class="toppic-type">{$v['catName']}</span>
                                                    <span class="devide-line"></span>
                                                    <span class="post-data">阅读<i>{$v['readNum']}</i></span>
                                                    <span class="m20 post-data">回复<i>{$v['commentNum']}</i></span>
                                                    <span class="devide-line"></span>
                                                    <if condition="$v['lastId'] neq null">
                                                        <a href="{:U('Home/Users/index',array('id'=>$v['lastId']))}" class="user" target="_blank">{$v['lastName']}</a>
                                                        <span class="post-time">{$v['lastTime']|mdate}</span>
                                                        <span class="post-type">最后回复</span>
                                                        <else/>
                                                        <span class="post-time">{$v['createTime']|mdate}</span>
                                                        <span class="post-type">发表</span>
                                                    </if>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </foreach>
                            </if>

                            <!--文章列表-->
                            <volist name="article" id="v" empty="暂无信息~">
                                <div class="quan-post-item clearfix">
                                    <div class="fl">
                                        <a href="{:U('Home/Users/index',array('id'=>$v['staffId']))}" class="block-head common-avatar" target="_blank">
                                            <img src="__ROOT__/{$v['userPhoto']|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="50" width="50">
                                        </a>
                                    </div>
                                    <div class="r-content">
                                        <a class="quan-post-title" href="{:U('Home/forum/article',array('cid'=>$v['catId'],'pid'=>$v['parentCatId'],'id'=>$v['articleId']))}" target="_blank">
                                            <!-- 标题30个字符 -->
                                            <h2 id="quan-post-title1442826103">
                                                {$v['articleTitle']|WSTMSubstr=###,0,30}</h2>
                                        </a>
                                        <span id="quan-post-tag1442826103" class="quan-post-tag"> </span>
                                        <div class="quan-post-info">
                                            <div class="">
                                                <span class="toppic-type">{$v['catName']}</span>
                                                <span class="devide-line"></span>
                                                <span class="post-data">阅读<i>{$v['readNum']}</i></span>
                                                <span class="m20 post-data">回复<i>{$v['commentNum']}</i></span>
                                                <span class="devide-line"></span>
                                                <!--会员图标-->
                                                <!--<a href="/vip/" target="_blank" class="vip" title="了解秀财会员">-->
                                                <!--<img src="__ROOT__/Apps/Home/View/default/img/vip.png" width="16" height="12" alt="会员特权" border="0">-->
                                                <!--</a>-->
                                                <if condition="$v['lastId'] neq null">
                                                    <a href="{:U('Home/Users/index',array('id'=>$v['lastId']))}" class="user" target="_blank">{$v['lastName']}</a>
                                                    <span class="post-time">{$v['lastTime']|mdate}</span>
                                                    <span class="post-type">最后回复</span>
                                                    <else/>
                                                    <span class="post-time">{$v['createTime']|mdate}</span>
                                                    <span class="post-type">发表</span>
                                                </if>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </volist>
                        </div>
                    </div>

                    <div style="width: 100%;height: 80px;text-align: center;box-sizing: border-box;">
                        {$pages}
                    </div>

                </div>
            </div>
            <!-- right -->
            <script>
                $(function () {
                    $(document).on('click', '#join', function () {
                        $.ajax({
                            type:'post',
                            url:"{:U('Home/Forum/addquan')}",
                            data:"cid={$_GET['id']}&uid={$_SESSION['WSTMALL']['WST_USER']['userId']}",
                            success:function (data) {
                                if (data == 1) {
                                    $('.add-quanzi').addClass('active-added');
                                    $('.add-quanzi').attr('id','out');
                                    $('.add-quanzi').children('a').addClass('add-hit').text('退出圈子');
                                    var now = $('#today-user-count').html();
                                    now = parseInt(now);
                                    $('#today-user-count').html(now + 1);
                                    var now = $('#circle-total-user-count').html();
                                    now = parseInt(now);
                                    $('#circle-total-user-count').html(now + 1);
                                }
                            }
                        })
                    });
                    $("#option-community-confirm-layer .queren").click(function () {
                        $.ajax({
                            type: 'post',
                            url: "{:U('Home/Forum/delquan')}",
                            data: "cid={$_GET['id']}&uid={$_SESSION['WSTMALL']['WST_USER']['userId']}",
                            success: function (data) {
                                if (data == 1) {
                                    $("#out").removeClass('active-added');
                                    $("#option-community-confirm-layer").hide();
                                    $("#out").children('a').addClass('add-hit').text('加入圈子');
                                    $("#out").attr('id','join');
                                    var now = $('#today-user-count').html();
                                    now = parseInt(now);
                                    $('#today-user-count').html(now - 1);
                                    var now = $('#circle-total-user-count').html();
                                    now = parseInt(now);
                                    $('#circle-total-user-count').html(now - 1);
                                }
                            }
                        })
                    });

                    $(document).on('click', '#out', function () {
                        $("#option-community-confirm-layer").show();
                    });
                    $(document).on('click', '#cancel-option-community', function () {
                        $('#option-community-confirm-layer').hide();
                    });
                })
            </script>
            <div class="quan-side-bar">
                <div class="quan-block quan-block-all">
                    <if condition="$quanUser eq null">
                        <p class="add-quan  add-quanzi" id="join">
                            <a class="globe-btn50 " href="javascript:;">加入圈子</a>
                        </p>
                        <else/>
                        <p class="add-quan add-quanzi actived-added" id="out">
                            <a class="globe-btn50 add-hit" href="javascript:;">退出圈子</a>
                        </p>
                    </if>
                    <div class="quan-data">
                        <div class="num-display">
                            <span class="border-r-e6">今日帖量<b>{$todayArticle}</b></span>
                            <span>圈子总帖数<b>{$total}</b></span>
                        </div>
                        <div class="num-display border-t-e6">
                            <span class="border-r-e6">今日总成员<b id="today-user-count">{$todayMember}</b></span>
                            <span>圈内总成员<b id="circle-total-user-count">{$cat.totalNum}</b></span>
                        </div>
                    </div>
                </div>

                <div class="quan-block quan-block-all">
                    <p class="align-c">
                        <a href="{:U('Home/Forum/add')}" id="no-login-join-btn" class="globe-btn50 edit-btn postThread"><i></i>我要发帖</a>
                        <span class="posting-tips">提问或分享，与同行讨论</span>
                    </p>
                </div>
                <!-- 最新加入圈子成员  -->
                <div class="quan-block">
                    <h2><em></em>最近加入</h2>
                    <div class="course-attend-list clearfix">
                        <volist name="latest" id="v" empty="暂无信息~">
                            <div>
                                <a href="{:U('Home/Users/index',array('id'=>$v['uid']))}" target="_blank">
                                    <img src="{$v['userPhoto']|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="60" width="60">
                                </a>
                            </div>
                        </volist>
                    </div>
                </div>
                <!-- 更多圈子 -->
                <div class="quan-block">
                    <h2><em></em>更多圈子</h2>
                    <ul class="quan-more-list">
                        <volist name="cats" id="v">
                            <li>
                                <a href="{:U('Home/forum/quan',array('id'=>$v['catId']))}" class="clearfix" target="_blank">
                                    <span class="fl"><i class="iconfont icon-official"></i>{$v['catName']}</span>
                                    <span class="fr">{$v['totalNum']}人</span>
                                </a>
                            </li>
                        </volist>
                    </ul>
                </div>
                <!-- 后台推送直播课程，如果没有则提取最新 -->
                <div class="quan-block quan-title-block">
                    <h2 class="relative">
                        <em></em>近期直播<a href="{:U('Home/Livecast/index')}" target="_blank" class="link-more">更多 &raquo;</a>
                    </h2>
                    <div class="live-slider">
                        <div class="bd">
                            <ul class="clearfix">
                                <volist name="relatedArr['root']" id="v" empty="暂无信息~">
                                    <li>
                                        <a data-id="{$v.courseId}" href="{:U('Home/Livecast/course',array('id'=>$v['courseId']))}" target="_blank" class="hit_count">
                                            <img src="__ROOT__/{$v.courseThums}" width="224" height="128">
                                            <div class="quan-course">
                                                <p class="quan-course-title">{$v.courseName}</p>
                                                <p class="quan-course-date"><span>{$v['liveStartTime']|Date='m月d日 H:i',###}~{$v['liveEndTime']|Date='H:i',###}</span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                        <div class="hd">
                            <ul>
                                <volist name="relatedArr['root']" id="v">
                                    <li></li>
                                </volist>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 退出帖子 begin -->
    <div id="option-community-confirm-layer" class="dialog-board dialog-board-none-title" style="display:none;">
        <div class="dialog-board-bar">
            <a href="javascript:;" class="close-dialog-board"></a>
        </div>
        <div class="dialog-board-content">
            <div class="box-container">
                <p id="option-community-confirm-tips" class="text-c-tips">确认退出该圈子吗？</p>
                <div class="btn-col2 clearfix">
                    <a id="out-circle-confirm-btn" href="javascript:;" class="fl globe-btn50 queren">确认</a>
                    <a id="cancel-option-community" href="javascript:;" class="fr globe-btn50 globe-btn50-nobg quxiao">取消</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 退出帖子 end -->

    <!-- 帖子操作 begin -->
    <div id="option-community-layer" class="dialog-board dialog-board-none-title hide">
        <div class="dialog-board-bar">
            <a href="javascript:;" class="close-dialog-board"></a>
        </div>
        <div class="dialog-board-content">
            <div class="box-container">
                <p id="option-community-tips" class="text-c-tips">操作成功</p>
                <div class="btn-single">
                    <a id="option-community-btn" href="javascript:;" class="globe-btn50">确认</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 帖子操作 end -->

<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery-1.9.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/dialog-plus.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/common4.0.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.enplaceholder.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/memberInfoDialog.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/focusUser.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/icheck.min.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/login.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/login_register.js"></script>

<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.SuperSlide.2.1.1.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/thread_detail.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/alert.js"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/communityManage.js?v=1.10.5"></script>


<script language="JavaScript" type="text/javascript">
    randomQQ();
    $(window).scroll(fixedPosition);
    $(window).resize(fixedPosition);
    function fixedPosition() {
        var s_left = $(window).scrollLeft();
        $(".fixed-head").css("left", ~s_left + 1);
    }
</script>

<include file="./Apps/Home/View/default/common_foot.html"/>