
  <include file="./Apps/Home/View/default/common_head.html" />
<div id="main">
    <div class="major">
    	<div class="special-topic">
    		
        	<h1 style="border-bottom:1px solid #e6e6e6; color:#333333; font-size:26px; font-weight:500; padding-bottom:20px;margin-top: 0;text-align: left;">专题课程</h1>
	        <div class="course">
	            <div class="list-box">
		            <div class="pic-frame">
		                <img src="__ROOT__/Apps/Home/View/default/img/01a5b1f3-29a2-4e5d-bfb8-3336bd8f84b5.jpg"  alt="" width="570px" height="236px"/>
		            </div>
		            <div class="course-name">每周税法速递</div>
		            <div class="hover-layer">
		                <div class="bg-black"></div>
		                <p><span class="count" data-count="4178">0</span>人已参加</p>
		                <a href="zhuanti_kc_list.html" target="_blank" class="click-to-detail">点击查看</a>
		            </div>
		        </div>
	            <div class="list-box">
		            <div class="pic-frame">
		                <img src="__ROOT__/Apps/Home/View/default/img/01a5b1f3-29a2-4e5d-bfb8-3336bd8f84b5.jpg"  alt="" width="570px" height="236px"/>
		            </div>
		            <div class="course-name">Excel效率加速器——函数在财务工作中的应用</div>
		            <div class="hover-layer">
		                <div class="bg-black"></div>
		                <p><span class="count" data-count="2012">0</span>人已参加</p>
		                <a href="zhuanti_kc_list.html"  target="_blank" class="click-to-detail">点击查看</a>
		            </div>
		        </div>
	            <div class="list-box">
		            <div class="pic-frame">
		                <img src="__ROOT__/Apps/Home/View/default/img/01a5b1f3-29a2-4e5d-bfb8-3336bd8f84b5.jpg"  alt="" width="570px" height="236px"/>
		            </div>
		            <div class="course-name">Excel动态图表在销售看板中的应用</div>
		            <div class="hover-layer">
		                <div class="bg-black"></div>
		                <p><span class="count" data-count="6332">0</span>人已参加</p>
		                <a href="zhuanti_kc_list.html" target="_blank" class="click-to-detail">点击查看</a>
		            </div>
		        </div>
	            <div class="list-box">
	            <div class="pic-frame">
	                <img src="__ROOT__/Apps/Home/View/default/img/01a5b1f3-29a2-4e5d-bfb8-3336bd8f84b5.jpg"  alt="" width="570px" height="236px"/>
	            </div>
	            <div class="course-name">信用控制全攻略——管好应收账款，守住真金白银</div>
	            <div class="hover-layer">
	                <div class="bg-black"></div>
	                <p><span class="count" data-count="9217">0</span>人已参加</p>
	                <a href="zhuanti_kc_list.html"  target="_blank" class="click-to-detail">点击查看</a>
	            </div>
	        </div>
	            <div class="list-box">
	            <div class="pic-frame">
	                <img src="__ROOT__/Apps/Home/View/default/img/01a5b1f3-29a2-4e5d-bfb8-3336bd8f84b5.jpg"  alt="" width="570px" height="236px"/>
	            </div>
	            <div class="course-name">预算管理系统专题</div>
	            <div class="hover-layer">
	                <div class="bg-black"></div>
	                <p><span class="count" data-count="5547">0</span>人已参加</p>
	                <a href="zhuanti_kc_list.html" target="_blank" class="click-to-detail">点击查看</a>
	            </div>
	        </div>
	            <div class="list-box">
	            <div class="pic-frame">
	                <img src="__ROOT__/Apps/Home/View/default/img/01a5b1f3-29a2-4e5d-bfb8-3336bd8f84b5.jpg"  alt="" width="570px" height="236px"/>
	            </div>
	            <div class="course-name">成本管理，从入门到精通</div>
	            <div class="hover-layer">
	                <div class="bg-black"></div>
	                <p><span class="count" data-count="9593">0</span>人已参加</p>
	                <a href="zhuanti_kc_list.html"  target="_blank" class="click-to-detail">点击查看</a>
	            </div>
	        </div>
	            <div class="list-box">
	            <div class="pic-frame">
	                <img src="__ROOT__/Apps/Home/View/default/img/01a5b1f3-29a2-4e5d-bfb8-3336bd8f84b5.jpg"  alt="" width="570px" height="236px"/>
	            </div>
	            <div class="course-name">2016保险业应对营改增之实务操作专题</div>
	            <div class="hover-layer">
	                <div class="bg-black"></div>
	                <p><span class="count" data-count="2406">0</span>人已参加</p>
	                <a href="zhuanti_kc_list.html" target="_blank" class="click-to-detail">点击查看</a>
	            </div>
	        </div>
	            <div class="list-box">
	            <div class="pic-frame">
	                <img src="__ROOT__/Apps/Home/View/default/img/01a5b1f3-29a2-4e5d-bfb8-3336bd8f84b5.jpg"  alt="" width="570px" height="236px"/>
	            </div>
	            <div class="course-name">2016银行业应对营改增之实务操作专题</div>
	            <div class="hover-layer">
	                <div class="bg-black"></div>
	                <p><span class="count" data-count="3910">0</span>人已参加</p>
	                <a href="zhuanti_kc_list.html"  target="_blank" class="click-to-detail">点击查看</a>
	            </div>
	        </div>
	            <div class="list-box">
	            <div class="pic-frame">
	                <img src="__ROOT__/Apps/Home/View/default/img/01a5b1f3-29a2-4e5d-bfb8-3336bd8f84b5.jpg"  alt="" width="570px" height="236px"/>
	            </div>
	            <div class="course-name">跨越雷区，系统应对建筑业36号衍生问题</div>
	            <div class="hover-layer">
	                <div class="bg-black"></div>
	                <p><span class="count" data-count="4210">0</span>人已参加</p>
	                <a href="zhuanti_kc_list.html"  target="_blank" class="click-to-detail">点击查看</a>
	            </div>
	        </div>
	            </div>
	    </div>
</div>
</div>
<include file="./Apps/Home/View/default/common_foot.html" />