<!DOCTYPE html>
<html>
<head>
  <include file="./Apps/Home/View/default/common_head.html" />
<div id="main">
    <div class="qa-index">
        <h1>导师问答，免费提问，24小时极速解决实操问题</h1>
        <p>当前：
            <span>3664</span>人提问<span>7184</span>个问题已得到解答
        </p>
        <div class="qa-search">
            <form action="" method="" name="">
                <div class="input">
                	<label>
	                	<input type="text" id="qa-content" placeholder=" 工作遇到难题，找导师解答，24小时极速回复" />
	                </label>
                </div>
                <div class="button">
                    <a href="javascript:" class="submit fast-qa" onclick="tiwen();" name="233">快速提问</a>
                </div>
            </form>
            <div class="search-result">
                <div id="thread-list">
                </div>
            </div>
        </div>
        <script>
        	$(function(){
        		$(".zhuanjiawenda_all a").click(function(){
        			//点击全部的时候触发事件
        			$(this).addClass('cur');
        			$(this).parent().next().children('a').removeClass('cur');
        			//二级全部
        			//if(a_name=="erjiall"){}
        		});
        		//点击一二级子菜单的时候所触发的事件
        		$(document).on("click",".zhuanjia_caidan2 a,.zhuanjia_caidan1 a",function(){
					$(this).addClass('cur');
        			$(this).siblings().removeClass('cur');
        			$(this).parent().prev().children('a').removeClass('cur');
				});
        	})
        </script>
        <div class="qa-teacher-list">
			<dl class="option" id="wst-areas">
				<dt>类别：</dt>
				<dd class="first-dd zhuanjiawenda_all">
					<a <if condition="$c1Id eq 0"> class="cur" </if> data="0" onClick="queryGoods(this,1);" >全部</a>
				</dd>
				<dd class="zhuanjia_caidan1">
                    <volist name=":WSTGoodsCats()" key="k1" id="vo1" offset="0" length="6">
                        <a <if condition="$vo1['catId'] eq $c1Id"> class="cur" </if> data="{$vo1['catId']}" id="cat_{$vo1['catId']}" onClick="queryGoods(this,1);" >{$vo1["catName"]}</a>
                    </volist>
				</dd>
			</dl>
            <dl class="option" id="course_profess">
                <dt>专业：</dt>
                <dd class="first-dd zhuanjiawenda_all ">
                    <a <if condition="$c2Id eq 0"> class="cur"</if> data="0" onClick="queryGoods(this,3);" >全部</a>
                </dd>
                <dd class="zhuanjia_caidan2">
                    <volist name="c2cat" id="vol2">
                        <a <if condition="$vol2['catId']  eq  $c2Id "> class="cur" </if> data="{$vol2['catId']}" onClick="queryGoods(this,3);" > {$vol2["catName"]}</a>
                    </volist>
                </dd>
            </dl>
            <dl class="option">
                <dt class="middle">排序：</dt>
                <dd class="btn-group">
                    <a href="{:U('Home/specialist/index')}" tppabs="http://www.xiucai.com/tutor/" <if condition="$_GET['sort'] eq null"> class="on" </if>><span>综合</span></a>
                    <a href="{:U('Home/specialist/index',array('c1Id'=>$_GET['c1Id'],'c2Id'=>$_GET['c2Id'],'sort'=>1))}" tppabs="http://www.xiucai.com/tutor/?sort=1" <if condition="$_GET['sort'] eq 1"> class="on"</if>><span>解答数</span></a>
                    <a href="{:U('Home/specialist/index',array('c1Id'=>$_GET['c1Id'],'c2Id'=>$_GET['c2Id'],'sort'=>3))}" tppabs="http://www.xiucai.com/tutor/?sort=3" <if condition="$_GET['sort'] eq 3"> class="on"</if>><span>满意度</span></a>
                </dd>
                <dd class="first-dd"></dd>
            </dl>
            <div class="list-item" id="tutor-list-content">
                <foreach name="pages['root']" item="v">
		        <div class="teacher">
		            <div class="left">
		                <a target="_blank" href="{:U('Home/specialist/tutor',array('id'=>$v['shopId']))}" >
		                	<img src="__ROOT__/{$v['shopImg']}" width="180" height="180" >
		                </a>
		            </div>
		            <div class="center">
		                <p class="name">
		                	<a href="{:U('Home/specialist/tutor',array('id'=>$v['shopId']))}" >
                                {$v['shopName']}
		                    </a>
		                    <img src="__ROOT__/Apps/Home/View/default/img/blueV.png-v=1.10.1.png" >
		                </p>
		                <p class="position">{$v['shopIndustry']}</p>
		                <dl class="specializes">
		                    <dt class="sc">擅长解答：</dt>
		                    <dd>
                                <foreach name="v['shopGoodat']" item="vv">
		                            <span><em></em><i>{$vv}</i></span>
                                </foreach>
		                    </dd>
		                </dl>
		                <dl class="recent">
		                    <dt class="zj">最近解答：</dt>
		                    <dd>
                                <foreach name="v['shopQuestions']" item="vv">
		                        <p><a target="_blank" href="{:U('Home/specialist/question',array('id'=>$vv['id']))}">{$vv['title']|WSTMSubstr=###,0,25}</a></p>
                                </foreach>
		                    </dd>
		                </dl>
		            </div>
		            <div class="right">
		                <ul>
		                    <li><strong>{$v['shopAnswers']}个</strong><span>已解答</span></li>
		                    <li><strong>{$v['shopScore']}%</strong><span>满意度</span></li>
		                    <li class="btn">
		                    	<a href="javascript:" class="tw questioning" onclick="tiwen({$v['shopId']});">免费提问</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
                </foreach>
            </div>
            <div style="width: 100%;height: 80px;text-align: center;box-sizing: border-box;">
                <div class="page_course" id="wst-page-items">

                </div>
            </div>
            <div class="quick">
                <a href="javascript:" class="qa-btn" onclick="tiwen();">快速提问</a>
                <p>免费提问，24小时极速回复</p>
            </div>
        </div>
    </div>
</div>
    <script>
        function queryGoods(obj, mark) {
            var params = [];
            var c1Id, c2Id;
            keyWords = $.trim($("#keyword").val());
            if (mark == 1) {
                c1Id = $(obj).attr("data") ? $(obj).attr("data") : '';
            } else if (mark == 2) {
            } else if (mark == 3) {
                c1Id = $("#wst-areas").find(".cur").attr("data");
                c2Id = $(obj).attr("data") ? $(obj).attr("data") : '';
            } else if (mark == 4) {
                c1Id = $("#wst-areas").find(".cur").attr("data");
                c2Id = $("#course_profess").find(".cur").attr("data");
            } else if (mark == 5) {
                c1Id = $("#wst-areas").find(".cur").attr("data");
                c2Id = $("#course_profess").find(".cur").attr("data");
            } else if (mark == 6) {
                c1Id = $("#wst-areas").find(".cur").attr("data");
                c2Id = $("#course_profess").find(".cur").attr("data");
            } else if (mark == 7) {
                c1Id = $("#wst-areas").find(".cur").attr("data");
                c2Id = $("#course_profess").find(".cur").attr("data");
            }
            else {

            }
            if (keyWords != "") params.push("keyWords=" + keyWords);
            if (c1Id && c1Id != '0') params.push("c1Id=" + c1Id);
            if (c2Id && c2Id != '0') params.push("c2Id=" + c2Id);
			window.location = "{:U('Home/specialist/index')}" + "&" + params.join('&');
        }

        <if condition = "$pages['totalPage'] gt 1" >
            $(document).ready(function () {
                laypage({
                    cont: 'wst-page-items',
                    pages: {$pages['totalPage']}, //总页数
                    skip: true, //是否开启跳页
                    skin: '#ff7745',
                    groups: 3, //连续显示分页数
                    curr: function () { //通过url获取当前页，也可以同上（pages）方式获取
                        var page = location.search.match(/p=(\d+)/);
                        return page ? page[1] : 1;
                    }(),
                    jump: function (e, first) { //触发分页后的回调
                        if (!first) { //一定要加此判断，否则初始时会无限刷新
                            var nuewurl = WST.splitURL("p");
                            var ulist = nuewurl.split("?");
                            if (ulist.length > 1) {
                                location.href = nuewurl + '&p=' + e.curr;
                            } else {
                                location.href = '?p=' + e.curr;
                            }
                        }
                    }
                });
            });
        </if>
    </script>
<include file="./Apps/Home/View/default/common_foot.html" />