<include file="./Apps/Home/View/default/common_head.html" />
<script language="javascript" type="text/javascript" src="__PUBLIC__/plugins/My97DatePicker/WdatePicker.js"></script>
<link rel="stylesheet" href="__PUBLIC__/plugins/uploadify/uploadify.css">
 <style>
    	.laoshi_tx{
    		padding: 10px 0;
    	}	 	
		.con4 .btn{
		     width: 50%;
		     height: 30px;
		     line-height:30px;
		     text-align: center;
		     background: #ff8860;
		     display: block;
		     font-size: 14px;
		     border-radius: 5px;
		     margin: 20px auto 0;
		     display: block;
		     color: #fff;
		}
		.upload{
		     position: relative;
		}
		.upload_pic{
		     display: block;
		     width: 100%;
		     height: 30px;
		     position: absolute;
		     left: 0;
		     top: 0;
		     opacity: 0;
		     border-radius: 5px;
		}
		#cvs{
			border-radius: 45px;
			display: block;
			margin: 0 auto;
			z-index: 9555;
		}
		.laoshiinfotable{
			width: 80%;
			text-align: left;
		}
		.laoshiinfotable td{
			padding: 5px;
		}
		.laoshiinfotable td:first-child{
			font-size: 18px;
			text-align: right;
			width: 100px;
		}
		.laoshiinfotable input[type='text']{
			width: 100%;
			padding: 8px 10px ;
			box-sizing: border-box;
			border: 1px solid #ccc;
		}
		.laoshiinfotable input[type='radio']{
			width: 15px;
			height: 15px;
			margin-right: 5px;
		}
		.laoshiinfotable select{
			padding: 8px 10px;
			width: 100%;
		}
		.shanchang>div{
			float: left;
		}
		.shanchang input[type='checkbox']{
			width: 15px;
			height: 15px;
			margin-right: 5px;
			margin-top: 6px;
		}
		.shanchang span{
			display: inline-block;
			margin-right: 15px;
		}
		.shanchang .neirongxianshi{
			max-width: 300px;
			width: 70%;
			min-height: 65px;
			height: auto;
			float: left;
			border: 1px solid #ccc;
			color: #0ff;
		}
		.shanchang .neirongxianshi>span{
			display: block;
			padding: 5px 10px;
			margin: 10px;
			position: relative;			
			word-wrap: break-word;
			color: #000;
			border: 1px solid #d8d8d8;
		}
		.shanchang .neirongxianshi>span>span{
			display: inline-block;
			width: 15px;
			height: 15;
			position: absolute;
			right: -10px;
			top: -15px;
			display: none;
			color: #f00;
		}
		.shanchang .neirongxianshi>span:hover span{
			display: inline-block;
			cursor: pointer;
		}
		.shanchang .shuru-right{
			width: 30%;	
			float: right;
		}
		.shanchang .shuru-right input[type='button']{
			border-style: none;
			padding: 5px 20px;
			display: block;
			margin: 10px auto;
			background: #ff8860;
			color: #fff;
			border-radius: 5px;
		}
		.jianjietext{
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			min-height:100px;
			max-width: 534px;
		}
		.tijiaobtn{
			border-style: none;
			padding: 8px 50px;
			color: #fff;
			border-radius: 5px;
			background: #ff8860;
			display: block;
			margin: 0 auto;
		}
		#uploadvideo{cursor: pointer;}
		.up_progress{
			width: 95%;
			margin: 0 auto;
		}
		.up_progress table{
			width: 100%;
		}
		.up_progress table thead{
			color: #424242;
		}
		.up_progress table td{
			padding: 10px;
			box-sizing: border-box;
		}
		.up_progress table td:first-child{
			width: 150px;
		}
		.up_progress table tbody{
			font-size:16px;
			color: #737373;
		}
		.up_progress table textarea,.up_progress table input,.up_progress table select{
			width: 70%;
			padding: 10px;
			box-sizing: border-box;
		}
		.up_progress_img{
			width: 74.5%;
			border: 1px solid #b5b5b5;
			border-radius: 5px;
			position: relative;
			display: inline-block;
			float: left;
			padding: 10px;
			margin: 15px 0 13px 0;
			box-sizing: border-box;
		}
		.up_progress_img>div{
			background: -moz-linear-gradient(left, #fdac91 0%, #ff8860 100%); 
			background: -webkit-gradient(linear, left left, left right, color-stop(0%,#fdac91), color-stop(100%,#ff8860)); 
			background: -webkit-linear-gradient(left, #fdac91 0%,#ff8860 100%); 
			background: -o-linear-gradient(left, #fdac91 0%,#ff8860 100%);
		    background: -ms-linear-gradient(left, #fdac91 0%,#ff8860 100%);
		    background: linear-gradient(to right, #fdac91 0%,#ff8860 100%);
			width: 100%;
			height: 20px;
		}
		.info_progress{
			margin: 20px 0 13px 0;
			float: left;
			width: 20%;					
		}
		.info_progress>span{
			padding: 5px 20px;
		}
		.info_progress>span:first-child{
			font-size: 20px;
			color: #a4a4a4;
			
		}
		.info_progress span a{
			color: #3f9cfc;
		}
		.info_M{
			width: 74.5%;
			text-align: right;
			color: #a4a4a4;
		}
		.fb_video{
			/*display: block;*/
			float: left;
			width: 120px !important;
			padding: 10px 35px !important;
			border-style: none;
			margin-right: 10%;
			background: #FF8860;
			border-radius: 6px;
			color: #fff;
		}
		
		.uploadvideo{
			padding: 8px 40px;
			border-radius: 6px;
			background: #FF8860;
			color: #fff;
		}
		.uploadvideo1{
			padding: 8px 40px;
			border-radius: 6px;
			background: #FF8860;
			color: #fff;
			display: block;
			margin: 18px 0 0 50px;
			width: 90px;
			height: 20px;
			float: left;
		}
		.uploadify{width:200px;height:30px;line-height:30px;}
		.liveOn{display:none;}
    </style>
    <script>
    	$(function(){
    		$(".ulli-item li").click(function(){
    			//var aitem = $(this).attr('data-href');
    			$(this).children('a').addClass('curr');
    			$(this).children('div').addClass('vertical');
    			$(this).siblings().children('a,div').removeClass('curr').removeClass('vertical');
    			//$(aitem).removeClass('hide');
    			//$(this).siblings().addClass('hide');
    		});		
    		//点击取消订单的时候获取该订单的id   		
    		$(".dingdantabletd .quxiaodd").click(function(){
    			var dataorderid = $(this).parent().parent().attr('data-order-id');
    			$(".overlay").removeClass('hide');
    			$(".cancel-order-layer").removeClass('hide');
    			
    			$(".cancel-order-btn").click(function(){
	    			$(".overlay").addClass('hide');
	    			$(".cancel-order-layer").addClass('hide');
	    			$("#order-status-"+dataorderid+"  .pay-txt").text('订单已取消');
	    			$('#order-option-'+dataorderid).html('--');
	    		});
    		});
    		$(".close-dialog-board,.not-cancel-order").click(function(){
    			$(".overlay").addClass('hide');
    			$(".cancel-order-layer").addClass('hide');
    		});    
    		
    		//点击上传视频
    		$("#uploadvideo").click(function(){
    			$('.ulliitem2_1').addClass('hide');
    			$('.ulliitem2_2').removeClass('hide');
    		});
    		$(".fb_video_fanhui").click(function(){
    			$('.ulliitem2_2').addClass('hide');
    			$('.ulliitem2_1').removeClass('hide');
    		});
    		
    		//点击上传视频
    		$("#videofile").click(function(){
    			//var videofile = $(this).files[0];
    			//alert(videofile);
    		});
    		//点击发布视频(获取视频信息)
    		$('#fabuvideo').click(function(){
    			var videobiaoti = $("#videobiaoti").val();//标题
    			var courseexpress = $("#courseexpress").val();//课程简介
    			var typetext = $("#typetext").val();// 分类
    			var videofile = $("#videofile").files[0];
    			//alert(videofile);
    			//var videofile = $("#videofile").val();//视频文件
    		});
    		
    	})
    </script>

<div id="main">
    <div class="major">
        <div class="container clearfix">
            <!-- 右侧内容 begin -->
            <div class="r about_content">              
            
	<form     action="{:U('Home/Shops/addcourse')}"    method="post"    id="myform"  enctype="multipart/form-data"    >

                 <div class="course-list" id="ulli-item2" style="padding-left: 15px;box-sizing: border-box;">
					 <script src='__PUBLIC__/plugins/uploadify/jquery.uploadify.min.js'/></script>
					<link rel="stylesheet" href="__PUBLIC__/plugins/uploadify/uploadify.css">
						 			
					<div class="up_progress ulliitem2_2 ">
		            	<div class="up_progress_img"   style="width:300px;height:40px;line-height:40px;" >
		             
					    <p>
						    <input id="face_file" name="face_file" type="file" multiple="true"   value="" />
					     </p>
				          
		            	</div>
		             
					    <span class="btn upload uploadvideo1">上传视频封面图<input type="file"   id="courseThums"   name="courseThums"  class="upload_pic" /></span>
				          
		            	<!-- <div class="info_progress">
		            		<span >100%</span>
		            		<span >
		            			<a href="#e">
		            				取消上传
		            			</a>
		            		</span>
		            	</div> -->
		            	<div class="info_M">
		            		小于500M
		            	</div>
						<br>
					
		            
						
						<input    type="hidden" id="jcrop-x1"  name="videodata"      value="" >
		            		<table>
			            		<thead>
			            			<tr>
			            				<td><h2>视频信息</h2></td>
			            			</tr>
			            		</thead>
			            		<tbody>
			            			<tr>
			            				<td>标题</td>
			            				<td>
			            					<input type="text"   name="courseName"  id="courseName" value="" />
			            				</td>
			            			</tr>
			            			<tr>
			            				<td>课程简介</td>
			            				<td>
			            					<textarea     name="courseIntro"    id="courseIntro" value=""   ></textarea>
			            				</td>
			            			</tr>
									
									<tr>
			            				<td>课程时长</td>
			            				<td>
			            					<input type="text"   name="courseTime"  id="courseTime" value="" /><code  style="color:red;">&nbsp;分钟数，如100</code>
			            				</td>
			            			</tr>
									
									<tr>
			            				<td>课程类型</td>
			            				<td>
										<span> 录&nbsp;&nbsp;播</span> <input type="radio"   name="is_live"   value="1" style="width:40px;" onClick=" javascript:nolive();"/>
			            				 <span>直&nbsp;&nbsp;&nbsp;播&nbsp;</span><input type="radio"   name="is_live"   value="2"   onClick=" javascript:livetime();"   style="width:40px;"/>
			            				
										
										</td>
			            			</tr>
									
									<tr   class="liveOn"  id="liveTime" >
			            				<td>直播时间</td>
			            				<td>
			            				 <span  style="font-size:12px;padding-right:4px;">开始时间:</span><input type="text"   name="liveStartTime"   value=""   onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" style="width:180px;padding:0px;height:28px;line-height:28px;"/> 
			            				
										<span  style="font-size:12px;padding-right:4px;">结束时间:</span> <input type="text"   name="liveEndTime"   value=""   onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" style="width:180px;height:28px;padding:0px;line-height:28px;" />
										</td>
			            			</tr>
									<tr  class="liveOn" id="liveNo">
									<td>直播频道号</td>
									    <td>
			            					<input type="text"   name="vid"  id="vid" value="" />
			            			   </td>
									
									
							    	</tr>
									
									<tr>
			            				<td>是否收费</td>
			            				<td>
										
										<span>免费课</span> <input type="radio"   name="is_free"   value="2" style="width:40px;" />
			            				 <span>会员课</span><input type="radio"   name="is_free"   value="1" style="width:40px;"/> 
										
			            				
										</td>
			            			</tr>
									

									<tr  >
			            				<td>课程价格</td>
			            				<td>
										
										<span>市场价</span> <input type="text"   name="marketPrice"   value="" style="width:180px;height:28px;padding:0px;line-height:28px;" />
			            				<span>当前价</span><input type="text"   name="shopPrice"      value="" style="width:180px;height:28px;padding:0px;line-height:28px;"/> 
										
			            				
										</td>
			            			</tr>
									
									<tr>
			            				<td>课程等级</td>
			            				<td>
										
										<span>初级&nbsp;&nbsp;&nbsp;</span> <input type="radio"   name="is_difficulty"   value="1" style="width:40px;" />
			            				<span>&nbsp;&nbsp;&nbsp;中级</span> <input type="radio"   name="is_difficulty"   value="2" style="width:40px;"/>  
										<span>高级&nbsp;&nbsp;&nbsp;</span> <input type="radio"   name="is_difficulty"   value="3" style="width:40px;"/>  
			            				
										</td>
			            			</tr>
									<tr>
			            				<td>适合对象</td>
			            				<td>
			            					<input type="text"   name="courseFor"   value="" />
			            				</td>
			            			</tr>
			            			<tr>
			            				<td>分类</td>
			            				<td>
			            					<select    name="catId"   id="coursecatId">
			            						<option value="0">请选择视频分类</option>
			            					  <volist   name=":WSTGoodsCats()"   id="data" >
											
											  <option   value="{$data['catId']}"  >{$data["catName"]}</option>
											       
 
                                               
														
											    <volist   name="data['catChildren']"   id="data0" >
											          <option   value="{$data0['catId']}"  >&nbsp;&nbsp;|--{$data0["catName"]}</option>
											           
														  <volist   name="data0['catChildren']"   id="data2" >
											                  
											                     <option   value="{$data2['catId']}"  >&nbsp;&nbsp;&nbsp;&nbsp;|--{$data2["catName"]}</option>
											                  
														        </volist> 
														
														
														
														
											            </volist>
											
											</volist>
			            					</select>
			            				</td>
			            			</tr>
			            			<!-- <tr> -->
			            				<!-- <td>上传视频图</td> -->
			            				<!-- <td>		            			 -->
											<!-- <span class="btn upload uploadvideo">上传视频封面图<input type="file"   id="courseThums"   name="courseThums"  class="upload_pic" /></span> -->
			            				<!-- </td> -->
			            			<!-- </tr> -->
			            			<tr>
			            				<td>课程详情</td>
			            				<td>
			            					<textarea value=""   name="courseDetails"    id="courseDetails"   ></textarea>
			            				</td>
			            			</tr>
			            			<tr>
			            				<td></td>
			            				<td>
			            					<input type="submit" value="发布" id="fabuvideo" name="" class="fb_video" />	   
											<input type="button" value="返回" name="" class="fb_video fb_video_fanhui" />	   	           
			            				</td>
			            			</tr>
			            		</tbody>
			            	</table>	            
		            	
					 </div>
        
                </div>  

</form>

			
			
			
             
            </div>
            <!-- 左侧列表 begin -->
            <div class="course-sidebar">
                <div class="course-sidebar-type">
                	<include file="./Apps/Home/View/default/shops/layout.html" />
                	
                    <ul class="ulli-item">                    	
                        <li class="course-category course-category-more" >
                            <a class="course-category-link " href="{:U('Home/Shops/index')}" >
                            	个人资料
                            </a>
                          
                        </li>
                        <li class="course-category course-category-more  " >
                            <a class="course-category-link" href="{:U('Home/Shops/course')}">
                            	我的课程
                            </a>
                             <div class=""></div>
                        </li>
                        <li class="course-category course-category-more" data-href="#ulli-item3">
                            <a class="course-category-link" href="{:U('Home/Shops/order')}">
                            	我的订单
                            </a>
                            <div class=""></div>
                        </li>
                        <li class="course-category course-category-more" data-href="#ulli-item4">
                            <a class="course-category-link" href="{:U('Home/Shops/follow')}">
                            	我的粉丝
                            </a>
                            <div class=""></div>
                        </li>
                        <li class="course-category course-category-more" data-href="#ulli-item5">
                            <a class="course-category-link" href="{:U('Home/Shops/ask')}">
                            	我的问答
                            </a>
                            <div class=""></div>
                        </li>
						<li class="course-category course-category-more" data-href="#ulli-item6">
                            <a class="course-category-link    curr" href="{:U('Home/Shops/addcourse')}">
                            	发布视频
                            </a>
                            <div class="vertical"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 左侧列表 end -->
        </div>
    </div>
</div>

				
 
   

     
    <script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
     <script src="__PUBLIC__/plugins/kindeditor/kindeditor.js"></script>
    <script src="__PUBLIC__/plugins/kindeditor/lang/zh-CN.js"></script>
   <script>
   $(function () {
	   KindEditor.ready(function(K) {
			editor1 = K.create('textarea[name="courseDetails"]', {
				height:'260px',
				allowFileManager : false,
				allowImageUpload : true,
				items:[
				        'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
				        'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
				        'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
				        'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
				        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
				        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|','image','table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
				        'anchor', 'link', 'unlink', '|', 'about'
				],
				afterBlur: function(){ this.sync(); }
			});
		});
	   $.formValidator.initConfig({
		   theme:'Default',mode:'AutoTip',formID:"myform",debug:false,submitOnce:false,onError:function(msg){
		}});
	  $("#courseName").formValidator({onFocus:"请输入课程标题"}).inputValidator({min:1,max:100,onError:"请输入100字以内课程标题"});
	  $("#courseIntro").formValidator({onFocus:"请输入课程简介"}).inputValidator({min:1,max:200,onError: "请输入200字以内课程标题"});
	  $("#courseTime").formValidator({onFocus:"请输入课程时长"}).inputValidator({min:1,max:500,onError:"请输入课程时长"});
	  $("#coursecatId").formValidator({onFocus:"请选择课程分类"}).inputValidator({min:1,max:10000,type: "value",onError:"请选择课程分类"});
	  $("#courseDetails").formValidator({onFocus:"请输入课程详情"}).inputValidator({min:1,max:1000000,onError:"请输入课程详情"});
	  // $("#courseThums").formValidator({onFocus:"请上传课程缩略图片",empty:false}).inputValidator({regexp:regexEnum.picture,onerror: "请上传课程缩略图片"});
	   
   });
  
  function livetime(){
  
  
  $("#liveTime").removeClass('liveOn');
  $("#liveNo").removeClass('liveOn');
 // 
  
  }
  
  function nolive(){
  $("#liveTime").addClass('liveOn');
  $("#liveNo").addClass('liveOn');
  }
  
  
  
   </script>
   
<script>
   
   
		$("#face_file").uploadify({
		   
			'swf': '__PUBLIC__/plugins/uploadify/uploadify.swf?t={$nowtime}',
			'uploader': '{:U("Home/Upload/uploadVideo")}',
			
			'cancelImg': '__PUBLIC__/plugins/uploadify/uploadify-cancel.png',
			 'height':'40',
			 'width':'300',
			'buttonText': '上传视频',
			'fileSizeLimit':'99999999999999',
			'fileTypeExts': '*.mp4;*.rmvb;*.flv',
			'queueSizeLimit': 1,
			//'debug':true,
			'onUploadSuccess': function (file, data, response) {
			var data=jQuery.parseJSON(data);
			  // var data=eval();
			     // alert(data);
			// alert(JSON.stringify(data));
				 var videodata=data.Filedata.savepath+data.Filedata.savename;
				//alert(videodata) ;
			  //var imgsv=" "+eval(data)+" ";
			   
			$("#jcrop-x1").val($.trim(videodata));
				
			
				
			}
		});
	</script> 

<include file="./Apps/Home/View/default/common_foot.html" />