<include file="./Apps/Home/View/default/common_head.html" />
 <style>
    	.laoshi_tx{
    		padding: 10px 0;
    	}	 	
		.con4 .btn{
		     width: 50%;
		     height: 30px;
		     line-height:30px;
		     text-align: center;
		     background: #ff8860;
		     display: block;
		     font-size: 14px;
		     border-radius: 5px;
		     margin: 20px auto 0;
		     display: block;
		     color: #fff;
		}
		.upload{
		     position: relative;
		}
		.upload_pic{
		     display: block;
		     width: 100%;
		     height: 30px;
		     position: absolute;
		     left: 0;
		     top: 0;
		     opacity: 0;
		     border-radius: 5px;
		}
		#cvs{
			border-radius: 45px;
			display: block;
			margin: 0 auto;
			z-index: 9555;
		}
		.laoshiinfotable{
			width: 80%;
			text-align: left;
		}
		.laoshiinfotable td{
			padding: 5px;
		}
		.laoshiinfotable td:first-child{
			font-size: 18px;
			text-align: right;
			width: 100px;
		}
		.laoshiinfotable input[type='text']{
			width: 100%;
			padding: 8px 10px ;
			box-sizing: border-box;
			border: 1px solid #ccc;
		}
		.laoshiinfotable input[type='radio']{
			width: 15px;
			height: 15px;
			margin-right: 5px;
		}
		.laoshiinfotable select{
			padding: 8px 10px;
			width: 100%;
		}
		.shanchang>div{
			float: left;
		}
		.shanchang input[type='checkbox']{
			width: 15px;
			height: 15px;
			margin-right: 5px;
			margin-top: 6px;
		}
		.shanchang span{
			display: inline-block;
			margin-right: 15px;
		}
		.shanchang .neirongxianshi{
			max-width: 300px;
			width: 70%;
			min-height: 65px;
			height: auto;
			float: left;
			border: 1px solid #ccc;
			color: #0ff;
		}
		.shanchang .neirongxianshi>span{
			display: block;
			padding: 5px 10px;
			margin: 10px;
			position: relative;			
			word-wrap: break-word;
			color: #000;
			border: 1px solid #d8d8d8;
		}
		.shanchang .neirongxianshi>span>span{
			display: inline-block;
			width: 15px;
			height: 15;
			position: absolute;
			right: -10px;
			top: -15px;
			display: none;
			color: #f00;
		}
		.shanchang .neirongxianshi>span:hover span{
			display: inline-block;
			cursor: pointer;
		}
		.shanchang .shuru-right{
			width: 30%;	
			float: right;
		}
		.shanchang .shuru-right input[type='button']{
			border-style: none;
			padding: 5px 20px;
			display: block;
			margin: 10px auto;
			background: #ff8860;
			color: #fff;
			border-radius: 5px;
		}
		.jianjietext{
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			min-height:100px;
			max-width: 534px;
		}
		.tijiaobtn{
			border-style: none;
			padding: 8px 50px;
			color: #fff;
			border-radius: 5px;
			background: #ff8860;
			display: block;
			margin: 0 auto;
		}
		#uploadvideo{cursor: pointer;}
		.up_progress{
			width: 95%;
			margin: 0 auto;
		}
		.up_progress table{
			width: 100%;
		}
		.up_progress table thead{
			color: #424242;
		}
		.up_progress table td{
			padding: 10px;
			box-sizing: border-box;
		}
		.up_progress table td:first-child{
			width: 150px;
		}
		.up_progress table tbody{
			font-size:16px;
			color: #737373;
		}
		.up_progress table textarea,.up_progress table input,.up_progress table select{
			width: 70%;
			padding: 10px;
			box-sizing: border-box;
		}
		.up_progress_img{
			width: 74.5%;
			border: 1px solid #b5b5b5;
			border-radius: 5px;
			position: relative;
			display: inline-block;
			float: left;
			padding: 10px;
			margin: 15px 0 13px 0;
			box-sizing: border-box;
		}
		.up_progress_img>div{
			background: -moz-linear-gradient(left, #fdac91 0%, #ff8860 100%); 
			background: -webkit-gradient(linear, left left, left right, color-stop(0%,#fdac91), color-stop(100%,#ff8860)); 
			background: -webkit-linear-gradient(left, #fdac91 0%,#ff8860 100%); 
			background: -o-linear-gradient(left, #fdac91 0%,#ff8860 100%);
		    background: -ms-linear-gradient(left, #fdac91 0%,#ff8860 100%);
		    background: linear-gradient(to right, #fdac91 0%,#ff8860 100%);
			width: 100%;
			height: 20px;
		}
		.info_progress{
			margin: 20px 0 13px 0;
			float: left;
			width: 20%;					
		}
		.info_progress>span{
			padding: 5px 20px;
		}
		.info_progress>span:first-child{
			font-size: 20px;
			color: #a4a4a4;
			
		}
		.info_progress span a{
			color: #3f9cfc;
		}
		.info_M{
			width: 74.5%;
			text-align: right;
			color: #a4a4a4;
		}
		.fb_video{
			/*display: block;*/
			float: left;
			width: 120px !important;
			padding: 10px 35px !important;
			border-style: none;
			margin-right: 10%;
			background: #FF8860;
			border-radius: 6px;
			color: #fff;
		}
		
		.uploadvideo{
			padding: 8px 40px;
			border-radius: 6px;
			background: #FF8860;
			color: #fff;
		}
		
    </style>
    <script>
    	$(function(){
    		$(".ulli-item li").click(function(){
    		//	var aitem = $(this).attr('data-href');
    			$(this).children('a').addClass('curr');
    			$(this).children('div').addClass('vertical');
    			$(this).siblings().children('a,div').removeClass('curr').removeClass('vertical');
    			//$(aitem).removeClass('hide');
    			//$(aitem).siblings().addClass('hide');
    		});		
    		//点击取消订单的时候获取该订单的id   		
    		$(".dingdantabletd .quxiaodd").click(function(){
    			var dataorderid = $(this).parent().parent().attr('data-order-id');
    			$(".overlay").removeClass('hide');
    			$(".cancel-order-layer").removeClass('hide');
    			
    			$(".cancel-order-btn").click(function(){
	    			$(".overlay").addClass('hide');
	    			$(".cancel-order-layer").addClass('hide');
	    			$("#order-status-"+dataorderid+"  .pay-txt").text('订单已取消');
	    			$('#order-option-'+dataorderid).html('--');
	    		});
    		});
    		$(".close-dialog-board,.not-cancel-order").click(function(){
    			$(".overlay").addClass('hide');
    			$(".cancel-order-layer").addClass('hide');
    		});    
    		
    		//点击上传视频
    		$("#uploadvideo").click(function(){
    			$('.ulliitem2_1').addClass('hide');
    			$('.ulliitem2_2').removeClass('hide');
    		});
    		$(".fb_video_fanhui").click(function(){
    			$('.ulliitem2_2').addClass('hide');
    			$('.ulliitem2_1').removeClass('hide');
    		});
    		
    		//点击上传视频
    		$("#videofile").click(function(){
    			//var videofile = $(this).files[0];
    			//alert(videofile);
    		});
    		//点击发布视频(获取视频信息)
    		$('#fabuvideo').click(function(){
    			var videobiaoti = $("#videobiaoti").val();//标题
    			var courseexpress = $("#courseexpress").val();//课程简介
    			var typetext = $("#typetext").val();// 分类
    			var videofile = $("#videofile").files[0];
    			//alert(videofile);
    			//var videofile = $("#videofile").val();//视频文件
    		});
    		
    	})
    </script>

<div id="main">
    <div class="major">
        <div class="container clearfix">
            <!-- 右侧内容 begin -->
            <div class="r about_content">              
              
           	<div id="ulli-item5">
					<div class="instructor-main clearfix">
						<div class="quan-main">
							<div class="module qa">
								<div class="module-body bd">
			                        <div>
			                            <div class="answer-list">
										   	<if  condition="!empty($replylist['root'])" > 
										  <volist   name="replylist['root']"   id="data"  >
			                                <dl>
			                                    <dt>
			                                        <a href=""  class="photo" target="_blank">
			                                        	<img src="__ROOT__/{$data['userPhoto']|default='Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}"  alt="{$data['loginName']}" />
			                                        </a>
			                                        <a href="" class="title" target="_blank">{$data['title']}</a>
			                                    </dt>
			                                    <dd>
			                                        <a href="" class="photo">
			                                        	<img src="__ROOT__/{$WST_USER['shopImg']|default='Apps/Home/View/default/img/turtor/5242c1db-3d93-a0e7-cd21-53953a79f2f4.jpg'}"   alt="{$WST_USER['loginName']}"  />
			                                        </a>
			                                        <p class="answer">
			                                       		{:WSTMSubstr($data['content'],0,20)}

														<a href="javascript:if(confirm('确认需要查看详情么'))window.location='' "  target="_blank">
			                                       		 	详情>>
			                                       		 	
			                                       		 </a>             
			                                        </p>
			                                    </dd>
			                                </dl>
											
											</volist>
											
											
											<else/>
											
											     <div class="toppic-bar concern-friends-box clearfix " >
												<p style="cousor:default;">暂时没有数据了 </p>
												 </div>
											
											
											
											
											
											
											 </if>
			                            
			                                </div>
			                            <div style="width: 100%;height: 80px;text-align: center;box-sizing: border-box;">
							    			<div class="page_course"    id="wst-page-items" >
							    				
							    			</div>
							    		</div> 
			                        </div>
			                    </div>
							</div>
						</div>
					</div>
					
					
				</div>

		   <script>
	
	      // alert({$Page['totalPage']});
			   
			     <if condition="$replylist['totalPage'] gt 1">
			    $(document).ready(function(){
					laypage({
					    cont: 'wst-page-items',
					    pages: {$replylist['totalPage']}, //总页数
					    skip: true, //是否开启跳页
					    skin: '#e23e3d',
					    groups: 3, //连续显示分页数
					    curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
					        var page = location.search.match(/p=(\d+)/);
					        return page ? page[1] : 1;
					    }(), 
					    jump: function(e, first){ //触发分页后的回调
					        if(!first){ //一定要加此判断，否则初始时会无限刷新
					        	var nuewurl = WST.splitURL("p");
					        	var ulist = nuewurl.split("?");
					        	if(ulist.length>1){
					        		location.href = nuewurl+'&p='+e.curr;
					        	}else{
					        		location.href = '?p='+e.curr;
					        	}
					            
					        }
					    }
					});
			    });
				</if>
				</script>
		  
		  
		  
            </div>
            <!-- 左侧列表 begin -->
            <div class="course-sidebar">
                <div class="course-sidebar-type">
                	<include file="./Apps/Home/View/default/shops/layout.html" />
                	
                    <ul class="ulli-item">                    	
                        <li class="course-category course-category-more" >
                            <a class="course-category-link curr" href="{:U('Home/Shops/index')}" >
                            	个人资料
                            </a>
                            <div class=""></div>
                        </li>
                        <li class="course-category course-category-more" data-href="#ulli-item2">
                            <a class="course-category-link " href="{:U('Home/Shops/course')}">
                            	我的课程
                            </a>
                            <div class=""></div>
                        </li>
                        <li class="course-category course-category-more" data-href="#ulli-item3">
                            <a class="course-category-link" href="{:U('Home/Shops/order')}">
                            	我的订单
                            </a>
                            <div class=""></div>
                        </li>
                        <li class="course-category course-category-more" data-href="#ulli-item4">
                            <a class="course-category-link" href="{:U('Home/Shops/follow')}">
                            	我的粉丝
                            </a>
                            <div class="vertical"></div>
                        </li>
                        <li class="course-category course-category-more" data-href="#ulli-item5">
                            <a class="course-category-link" href="{:U('Home/Shops/ask')}">
                            	我的问答
                            </a>
                            <div class=""></div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 左侧列表 end -->
        </div>
    </div>
</div>


  <script>
	
	      // alert({$Page['totalPage']});
			   
			     <if condition="$followslist['totalPage'] gt 1">
			    $(document).ready(function(){
					laypage({
					    cont: 'wst-page-items',
					    pages: {$followslist['totalPage']}, //总页数
					    skip: true, //是否开启跳页
					    skin: '#e23e3d',
					    groups: 3, //连续显示分页数
					    curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
					        var page = location.search.match(/p=(\d+)/);
					        return page ? page[1] : 1;
					    }(), 
					    jump: function(e, first){ //触发分页后的回调
					        if(!first){ //一定要加此判断，否则初始时会无限刷新
					        	var nuewurl = WST.splitURL("p");
					        	var ulist = nuewurl.split("?");
					        	if(ulist.length>1){
					        		location.href = nuewurl+'&p='+e.curr;
					        	}else{
					        		location.href = '?p='+e.curr;
					        	}
					            
					        }
					    }
					});
			    });
				</if>
				</script>






<include file="./Apps/Home/View/default/common_foot.html" />