

<include file="./Apps/Home/View/default/common_head.html" />
<style>
	.self_fangke{
		width: 50px;
		height: 50px;
		border-radius: 25px;
		overflow: hidden;		
	}
	.self_fangke img{
		width: 100%;
	}

    .laoshiinfotable {
        width: 80%;
        text-align: left;
    }

    .laoshiinfotable td {
        padding: 5px;
    }

    .laoshiinfotable td:first-child {
        font-size: 14px;
        text-align: right;
        width: 100px;
    }

    .laoshiinfotable input[type='text'] {
        width: 100%;
        padding: 8px 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
    }

    .laoshiinfotable input[type='radio'] {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    .laoshiinfotable select {
        padding: 8px 10px;
        width: 100%;
    }

    .tijiaobtn {
        border-style: none;
        padding: 8px 50px;
        color: #fff;
        border-radius: 5px;
        background: #ff8860;
        display: block;
        margin: 0 auto;
    }
</style>
<script>
	$(function(){
		$(".self_select a").click(function(){
			var a_index=$(this).index();
			$(".self_block_none").children('div').eq(a_index).show();
			$(".self_block_none").children('div').eq(a_index).siblings().hide();
			$(this).addClass('curr');
			$(this).children(".classify-line").removeClass('hide');
			$(this).siblings().removeClass('curr');
			$(this).siblings().children(".classify-line").addClass('hide');
		});
		$(".wode_quanzi li").click(function(){
			var li_idnex=$(this).index();
			var content='';
			$(this).parent().parent().next().children('.wodequanzi_content').children('div').eq(li_idnex).removeClass('hide');
			
			$(this).parent().parent().next().children('.wodequanzi_content').children('div').eq(li_idnex).html();
			$(this).parent().parent().next().children('.wodequanzi_content').children('div').eq(li_idnex).siblings().addClass('hide');
			$(this).addClass('cur');
			$(this).siblings().removeClass('cur');
			/*$(".wodequanzi_content")*/
		});
		$(".wodedingdan li").click(function(){
			$(this).addClass('cur');
			$(this).siblings().removeClass('cur');
			/*$(".wodequanzi_content")*/
		});
	})
</script>


<div id="main">
     <div class="major">
    <div class="container clearfix">
    <div class="right-wrapper">
    	
        <div class="content">
            <div>
                <div class="course-tools">
                    <div class="course-navigation self_select">
						<a class="classify curr" href="javascript:;">
						    我的课程
						    <div class="classify-line "> </div>
						</a>
						<a class="classify " href="#">
						    我的问答
						    <div class="classify-line  hide"> </div>
						</a>
						<a class="classify " href="#">
						    我的圈子
						    <div class="classify-line hide"> </div>
						</a>
						<!--<a class="classify "href="#">
						    我的听课码
						    <div class="classify-line hide"> </div>
						</a>-->
						<a class="classify " href="#">
						    我的订单
						    <div class="classify-line hide"> </div>
						</a>
                        <a class="classify " href="#">
                            账户设置
                            <div class="classify-line hide"></div>
                        </a>
                    </div>
                </div>
                <div class="self_block_none">
                	<div id="my_kc" class="">

					    <div class="course-list" style="padding-left: 15px;box-sizing: border-box;">
					        <!-- 我的课程 begin -->
					        <div>
					            <ul class="clearfix"  style="width:900px;">
					                <div id="myCourseListDiv">
									<volist   name="userresult"  id="vol" >
					                    <li>
											<span class="i-close-del hide" inventory-id="411844"></span>
											<a href="{:U('Home/Users/videoPlay',array('courseId'=>$vol['courseId'],orderId=>$vol['orderNo']))}" target="_blank">
											    <div class="course-list-img">
											        <img width="280" height="160" src="__ROOT__/{$vol.courseThums}" alt="{$vol.courseName}">
											    </div>
											    <h5>
											        <span>{$vol.courseName}</span>
											    </h5>
											    <div class="intro clearfix">
										            <p>{$vol.courseName}…</p>
										            <span class="l">1节视频课程</span>
										            <span class="r">时长0小时10分钟</span>
										        </div>
											    <div class="tips tips-schedule clearfix">
												  <if condition=" $vol['courseDifficulty']  eq  1"  >
										            <span class="l">初级课程</span>
													
													</if>
													<if condition=" $vol['courseDifficulty']  eq  2"  >
										            <span class="l">中级课程</span>
													
													</if>
													<if condition=" $vol['courseDifficulty']  eq  1"  >
										            <span class="l">高级课程</span>
													
													</if>
										            <em class="l">|</em>
										            <span class="l">{$vol.saleCount}人已学</span>
										            <span class="r">已学<em>0%</em></span>
										        </div>
											    <div class="schedule-bar">
											        <div style="width:0%;"></div>
											    </div>
											    <div class="course-free"></div>
													<if condition=" $vol['is_free']  eq  1"  >
											    <div class="cost">
								                    <span class="l free">免费</span>
								                </div>
												<else/>
												 <div class="cost">
								                    <span class="l free">{$vol.shopPrice}</span>
								                </div>
												
												</if>
											</a>
										</li>
									</volist>	

					                </div>
					                <li class="none-dynamic">
										<a href="{:U('Home/Course/index')}" target="_blank">
										    <div class="course-list-img">
										        <img width="280" height="160" src="__ROOT__/Apps/Home/View/default/img/self_/add-class.jpg" />
										    </div>
										    <div class="add-more">添加更多课程</div>
										</a>
									</li>                             
					            </ul>
					        </div>
					        <!-- 我的课程 end -->
					        <!--没有内容的时候 start  如果数据为0条则显示此处-->
					        <div class="no-class hide">
                                <img src="__ROOT__/Apps/Home/View/default/img/self_/null.png" height="170" width="500">
                                <p>啊喔！我没有看到任何内容，<a href="/live/" target="_blank" class="link-text">快去选课</a></p>
                            </div>
					        <!--没有内容的时候end-->
					    </div> 
					</div>
					<div id="my_wd" class="hide">
						<!-- 我的问答 begin -->
						
						 <div class="my-qa-list">
							<div class="null">
                                <div class="instructor-main">
                                    <div class="module-body">
                                        <div class="answer-list">
                                            <volist name="myquestion" id="v" empty="您还没有提过任何问题">
                                                <dl>
                                                    <dt>
                                                        <a href="#" class="photo">
                                                            <img src="{$WST_USER.userPhoto|default='/Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" alt="15617859168">
                                                        </a>
                                                        <a href="javascript:" class="title answer" target="_blank" data-id="{$v['id']}">{$v['title']}</a>
                                                    </dt>
                                                </dl>
                                            </volist>
                                        </div>
                                    </div>
                                </div>
					            <h3>导师问答，用专业态度，为您解惑</h3>
					            <div class="quan-block">
					                <div class="slider-three">
					                    <div class="slider-show">
					                        <ul>
                                                <volist name="specialist" id="data">
                                                    <li>
                                                        <div class="relative">

                                                            <a href="javascript:;" class="globe-btn50 globe-btn50-nobg questioning" tutor-id="1013">向Ta提问</a>
                                                            <a href="{:U('Home/Specialist/tutor',array('id'=>$data['shopId']))}" class="block-head avatar-80" target="_blank">
                                                                <img src="__ROOT__/{$data['shopImg']|default='__ROOT__/Apps/Home/View/default/img/turtor/5242c1db-3d93-a0e7-cd21-53953a79f2f4.jpg'}" alt="{$data['shopName']}">
                                                                <em>
                                                                    <img src="__ROOT__/Apps/Home/View/default/img/tag-V.png-v=1.10.1.png" alt="" title="认证导师"/>
                                                                </em>
                                                            </a>
                                                            <p>
                                                                <a href="{:U('Home/Specialist/tutor',array('id'=>$data['shopId']))}" target="_blank">{$data['shopName']}</a>
                                                            </p>
                                                            <p>{$data['shopIndustry']}</p>
                                                            <!-- 限制三条 -->
                                                            <p class="specializes">
                                                                <if condition="!empty($data['shopGoodat'])">
                                                                    <volist name="data['shopGoodat']" id="data1">
                                                                        <span><em></em><i>{$data1['shopGoodat']}</i></span>
                                                                    </volist>
                                                                </if>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </volist>
					                        </ul>
					                        <div class="clear"></div>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>                                          
																		
					    <!-- 我的问答 end -->                  
					</div>
                	<div class="hide">
                		<div class="hp-nav-large">
						    <ul class="clearfix wode_quanzi">
						        <li class="cur">
						        	<a href="#">我加入的圈子</a>
						        </li>
						        <li >
						        	<a href="#">我的发帖</a>
						        </li>
						        <li >
						        	<a href="#">我的回复</a>
						        </li>
						        <li >
						        	<a href="#">回复我的</a>
						        </li>
						    </ul>
						</div>
						
						<div class="quan-post">
	                        <div class="no-class wodequanzi_content" style="margin-top: 0;">
	                        	<div class="">
	                        		<ul class="quan-name clearfix">
                                        <volist name="forum" id="v">
                                            <li>
                                                <a href="{:U('Home/Forum/quan',array('id'=>$v['cid']))}" target="_blank">
                                                    <span class="iconfont icon-official"></span>
                                                    <div class="quan-intro">
                                                        <p>{$v['catName']}</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </volist>
                                    </ul>
	                        	</div>	
	                        	<div class="hide">
                                    <volist name="article" id="v">
                                        <div class="quan-post-item clearfix iten_quan" style="padding: 10px 0;margin-top: 0;">
                                            <div class="fl" style="float: left;">
                                                <a href="#" class="block-head common-avatar">
                                                    <img src="{$WST_USER.userPhoto|default='/Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="65" width="65">
                                                </a>
                                            </div>
                                            <div class="r-content" style="float: left;text-align: left;height: auto;line-height: normal;">
                                                <a href="{:U('Home/forum/article',array('cid'=>$v['catId'],'pid'=>$v['parentCatId'],'id'=>$v['articleId']))}" class="quan-post-title" target="_blank">
                                                    <!-- 标题30个字符 -->
                                                    <h2>{$v['articleTitle']}</h2>
                                                </a>
                                                <span class="quan-post-tag"></span>
                                                <div class="quan-post-info">
                                                    <div class="">
                                                        <span class="toppic-type">{$v['catName']}</span>
                                                        <span class="devide-line"></span>
                                                        <span class="post-data">阅读<i>{$v['readNum']}</i></span>
                                                        <span class="post-data">回复<i>{$v['commentNum']}</i></span>
                                                        <span class="devide-line"></span>
                                                        <a href="#" class="user">{$WST_USER.loginName}</a>
                                                        <span class="post-time">{$v['createTime']|mdate}</span>
                                                        <span class="post-type">发布</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </volist>
	                        	</div>
	                        	<div class="hide">

                                    <volist name="mycomment" id="v">
                                        <div class="quan-post-item quan-my-reply clearfix" style="text-align: left;padding: 10px 0;">
                                            <div class="hp-col3">
                                                <div class="hp-col3-row1">
                                                    <span class="reply-txt">回复</span>
                                                    <if condition="$v['parentId'] neq 0">
                                                    <a href="{:U('Home/Users/index',array('id'=>$v['cuid']))}" target="_blank">{$v['cuname']}</a>
                                                    </if>：{$v['content']}
                                                </div>
                                                <div class="hp-col3-row2">
								                <span class="fl-replyed">
								                	来自：
								                	<a href="{:U('Home/forum/article',array('cid'=>$v['catId'],'pid'=>$v['parentCatId'],'id'=>$v['aid']))}" target="_blank">{$v['articleTitle']}</a>
								                </span>
                                                    <span class="date">{$v['ctime']|mdate}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </volist>

	                        	</div>	
	                        	<div class="hide">
                                    <volist name="comment" id="v">
                                        <div class="quan-post-item clearfix" style="padding: 10px 0;margin-top: 0;">
                                            <div class="fl" style="float: left;">
                                                <a href="{:U('Home/Users/index',array('id'=>$v['uid']))}" class="block-head common-avatar" target="_blank">
                                                    <img src="{$v.userPhoto|default='/Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="65" width="65">
                                                </a>
                                            </div>
                                            <div class="r-content hp-col3" style="float: left;text-align: left;height: auto;line-height: normal;">
                                                <p class="hp-col3-row1" style="padding: 10px 0;">
                                                    <a href="{:U('Home/Users/index',array('id'=>$v['uid']))}" target="_blank">{$v.loginName}</a>
                                                    <span class="reply-me">回复我：</span>{$v['content']}
                                                </p>
                                                <p class="hp-col3-row2" style="text-align: left;padding: 10px 0;margin-top:0;">
									            <span class="fl-replyed">来自：
									            	<a href="{:U('Home/forum/article',array('cid'=>$v['catId'],'pid'=>$v['parentCatId'],'id'=>$v['aid']))}" target="_blank">{$v['articleTitle']}</a>
									            </span>
                                                    <span class="date">{$v['ctime']|mdate}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </volist>
	                        	</div>
							</div>    
						</div>
                	</div>
                	<div class="hide">
                		<!--<div class="hp-nav-large wodedingdan">
                            <ul class="clearfix">
                                <li class="cur">
                                	<a href="#">课程订单</a>
                                </li>
                                <li class="">
                                	<a href="#">会员订单</a>
                                </li>
                            </ul>
                        </div>-->
                          <!-- 课程订单 订单列表 begin -->
                        <div class="my-order wodedingdan_content">
                            <form id="searchForm" action="" method="get" name="searchForm">
                                <table class="order-tablet operate-tablet">
                                    <colgroup>
                                        <col width="15%">
                                        <col width="44%">
                                        <col width="13%">
                                        <col width="13%">
                                        <col width="15%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="align-l">订单信息</td>
                                        <td class="col-l-p">&nbsp;</td>
                                        <td>订单金额（元）</td>
                                        <td>操作</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
							<volist    name="orderList['root']"    id="order"    key='key1'>
                            <table class="order-tablet tablet-b order-pr0">
                                <colgroup>
                                    <col width="15%">
                                    <col width="44%">
                                    <col width="13%">
                                    <col width="13%">
                                    <col width="15%">
                                </colgroup>
                                <tbody>
								
								
                                    <tr>
                                		<td colspan="5" class="align-l col-bg">
                                            <span>
                                            	下单时间：<em>{$order['createTime']}</em>
                                            </span>
                                            <span>
                                            	订单编号：<em>{$order['orderunique']}</em>
                                            </span>
                                            <span>
                                            	课程数：<em><?php echo count($order['courselist']) ;?> 门</em>                                                                                                       
                                            </span>
                                        </td>
                                    </tr>
									   <volist name="order['courselist']"   id="goods"    key='key2'   >
                                    <tr>
                                        <td class="align-l">
										
                                        	<a href="{:U('Home/Course/getCourseDetails',array('courseId'=>$goods['courseId']))}" target="_blank">
                                        		<img src="__ROOT__/{$goods['courseThums']}"   height="68" width="120" alt=""/>
                                        	</a>
											
                                        </td>
                                        <td class="align-l valign-t col-l-p pl-20">
										
                                            <a href="{:U('Home/Course/getCourseDetails',array('courseId'=>$goods['courseId']))}" class="c-title" target="_blank">
                                            	{$goods['courseName']}
                                            </a>
									
                                        </td>
                                        <td rowspan="1" class="col-font"><b>￥{$goods['coursePrice']}</b></td>
                                        <td rowspan="1" id="order-status-1476078729">
                                            <p class="a-gap">
                                                <if condition='$order["payType"] eq 1'>
                                                    <if condition='$order["orderStatus"] eq -2'>
                                                        <span class="pay-txt">等待付款</span>
                                                    </if>
                                                </if>
                                            </p>
                                            <p class="a-gap">
                                            	<a href="#e" class="order-detail">订单详情</a>
                                            </p>
                                            </td>
                                        <td rowspan="1" class="l-td-p" data-order-id="1476078729" id="order-option-1476078729">
                                            <p><span class="pay-limit">剩余1小时16分</span></p>
														<if condition='$order["payType"] eq 1'>
       						          	<if condition='$order["orderStatus"] eq -2'>
											
                                            <a href="javascript:;" onclick="toPay({$order['orderId']})" class="globe-btn50 globe-btn50-ss" >立即支付</a>
											
											</if>
       						             </if>
                                            <p class="cancel-order course-order">
                                                <a href="javascript:;" class="order-status">取消订单</a>
                                            </p>                                                                                                                                                                  
                                        </td>
                                    </tr>
									</volist>                                                                                                                                 
                                </tbody>
                            </table> 

	                      </volist>							
                        </div>
                	</div>
                    <div class="r about_content hide" style="width: 950px;">
                        <div class="about_feedback" id="ulli-item1">
                            <form action="{:U('Home/Users/toEdit')}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="userId" value="{$WST_USER.userId}">
                                <table class="laoshiinfotable">
                                    <tr>
                                        <td>姓名：</td>
                                        <td>
                                            <input type="text" class="" name="shopName" placeholder="请输入姓名" value="{$WST_USER.loginName}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>性别：</td>
                                        <td>
                                            <input type="radio" value="1" name="sex" <eq name="WST_USER['userSex']" value="1"> checked</eq> />男
                                            <input type="radio" value="0" name="sex" <eq name="WST_USER['userSex']" value="0"> checked</eq> />女
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>上传头像：</td>
                                        <td><input type="file" class="" name="image" placeholder="请上传个人图像" value=""/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>行业：</td>
                                        <td>
                                            <select name="shopIndustry">
                                                <option value="1"
                                                <eq name="WST_USER['industry']" value="1"> selected</eq>
                                                >制药/医疗</option>
                                                <option value="2"
                                                <eq name="WST_USER['industry']" value="2"> selected</eq>
                                                >金融/银行/保险</option>
                                                <option value="3"
                                                <eq name="WST_USER['industry']" value="3"> selected</eq>
                                                >房地产/建筑</option>
                                                <option value="4"
                                                <eq name="WST_USER['industry']" value="4"> selected</eq>
                                                >计算机/互联网/通信/电子</option>
                                                <option value="5"
                                                <eq name="WST_USER['industry']" value="5"> selected</eq>
                                                >物流/运输</option>
                                                <option value="6"
                                                <eq name="WST_USER['industry']" value="6"> selected</eq>
                                                >服务业</option>
                                                <option value="7"
                                                <eq name="WST_USER['industry']" value="7"> selected</eq>
                                                >贸易/批发/零售/租赁</option>
                                                <option value="8"
                                                <eq name="WST_USER['industry']" value="8"> selected</eq>
                                                >专业服务/教育/培训</option>
                                                <option value="9"
                                                <eq name="WST_USER['industry']" value="9"> selected</eq>
                                                >制药/医疗</option>
                                                <option value="10"
                                                <eq name="WST_USER['industry']" value="10"> selected</eq>
                                                >广告/媒体</option>
                                                <option value="11"
                                                <eq name="WST_USER['industry']" value="11"> selected</eq>
                                                >能源/原材料</option>
                                                <option value="12"
                                                <eq name="WST_USER['industry']" value="12"> selected</eq>
                                                >政府/非盈利/其他</option>
                                                <option value="13"
                                                <eq name="WST_USER['industry']" value="13"> selected</eq>
                                                >生产/加工/制造</option>
                                                <option value="14"
                                                <eq name="WST_USER['industry']" value="14"> selected</eq>
                                                >农/林/牧/渔</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>公司：</td>
                                        <td class="shanchang">

                                            <div class="shuru-left" style="width:500px;">
                                                <input type="text" name="shopGoodat" id="gongsitext" value="{$WST_USER['company']}" placeholder="公司"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>职务：</td>
                                        <td class="shanchang">

                                            <div class="shuru-left" style="width:500px;">
                                                <input type="text" name="shopGoodat" id="zhiwutext" value="{$WST_USER['job']}" placeholder="职务"/>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>简介：</td>
                                        <td class="jianjie">
                                            <textarea name="shopDetails" class="jianjietext" rows="10" cols="94">   {$WST_USER['info']}</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <input type="submit" value="提交" class="tijiaobtn" name=""/>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
           		</div>
				
            </div>
		</div>
	</div>
        <!--账号设置-->
<div class="hp-side-bar">
    <div class="quan-block quan-hp-block">
        <div class="edit-info"><a href="" class="globe-btn50">账号设置</a></div>
        <form id="member_editor_form" name="member_editor" action="" enctype="multipart/form-data" method="post" onsubmit="return true;">
        <a href="javascript:;" class="user-head">
            <span class="head90-mask"></span>
            <img id="avatar" src="{$WST_USER.userPhoto|default='/Apps/Home/View/default/img/caiduoduo.png-v=1.10.1.png'}" height="90" width="90"  alt="{$WST_USER.loginName}">
            <div class="head-mask head-mask90"></div>
                        <div id="avatarProfileUpload"></div>
            <input type="hidden" name="avatar" id="head_pic" value="/assets/__ROOT__/Apps/Home/View/default/img/caiduoduo.png"/>
            <input type="hidden" name="avatar_large" id="head_pic_large" value="/assets/__ROOT__/Apps/Home/View/default/img/caiduoduo.png"/>
            <input type="hidden" id="img" name="img" />
            <input type="hidden" id="x" name="x" value="0" />
            <input type="hidden" id="y" name="y" value="0" />
            <input type="hidden" id="w" name="w" value="200" />
            <input type="hidden" id="h" name="h" value="200" />
            <input type="hidden" id="member_id" name="member_id" value="318438" />
        </a>
        </form>
        <div class="hp-user-zone" id="personal-info-div">
            <p class="user-name">
                <a href="/vip/" target="_blank" class="vip" title="了解秀财会员"><img src="__ROOT__/{$WST_USER.userPhoto|default='Apps/Home/View/default/img/vip.png'}" width="16" height="12" alt="会员特权" border="0"></a>
                <strong id="nickname-span">{$WST_USER.loginName}</strong>
            </p>
            <!-- 用户等级展示 -->
            <div class="user-level-display border-b-e6 clearfix">
                <p class="clearfix">
                    <a href="#" title="圈币" class="fl">
                        <span class="tag-qb"><img src="__ROOT__/Apps/Home/View/default/images/qb.png" alt="圈币" height="14" width="19">{$WST_USER.quanBi}</span>
                    </a>
                    <span class="fr r-wrap">
					<a href="#"  class="" title="经验值等级">
                    <span class="tag-level tag-level-LV{$WST_USER.userRank.rankId}">
                    <i>LV{$WST_USER.userRank.rankId}</i></span>
					</a>
					</span>
                </p>
        </div>
            <div class="hp-user-info">
                <div class="info-item">
                    <!-- 显示15个字 -->
                    <i class="company"></i>
                    <span id="company-span">{$WST_USER.loginName}</span>
                </div>
                <div class="info-item">
                    <i class="industry"></i><span id="bussiness_name-span">制药/医疗</span>
                </div>
                <div class="info-item">
                    <i class="position"></i><span id="position-span">税务专员</span>
                </div>
            </div>
        </div>

        <!-- 点击编辑显示 默认hide -->
        <div class="hp-user-zone hide" id="personal-info-edit">

        </div>

        <ul class="hp-user-show clearfix">
            <li>课程：{$userresult|count=###}</li>
            <li>问答：{$myquestion|count=###}</li>
            <li>发帖：{$article|count=###}</li>
            <li>回帖：{$mycomment|count=###}</li>
            <li>关注：{$WST_USER.userFollow}</li>
        </ul>
    </div>
            <div class="quan-block quan-title-block">
                <h2 class="relative"><em></em>获取圈币<a href="" target="_blank" class="link-more">查看更多 &raquo;</a></h2>
                <div class="hp-task-show">
                    <p class="task-undo clearfix">
                        <span class="fl"><strong>绑定邮箱</strong></span>
                        <span class="fr">奖：<span class="dark-red">1圈币</span></span>
                    </p>
                    <p class="task-describe">任务描述：进入安全中心绑定邮箱账号，并且登录邮箱激活<a href="" target="_blank" class="link-text">去做任务 &raquo;</a></p>
                </div>
            </div>
            <div class="quan-block quan-title-block">
				<h2 class="relative">
					<em></em>近期直播<a href="{:U('Home/Livecast/index')}" target="_blank" class="link-more">更多 &raquo;</a>
				</h2>
				<div class="live-slider">
					<div class="bd">
						<ul class="clearfix">
							<volist name="relatedArr['root']" id="v" empty="暂无信息~">
								<li>
									<a data-id="{$v.courseId}" href="{:U('Home/Livecast/course',array('id'=>$v['courseId']))}" target="_blank" class="hit_count">
										<img src="__ROOT__/{$v.courseThums}" width="224" height="128">
										<div class="quan-course">
											<p class="quan-course-title">{$v.courseName}</p>
											<p class="quan-course-date"><span>{$v['liveStartTime']|Date='m月d日 H:i',###}~{$v['liveEndTime']|Date='H:i',###}</span>
											</p>
										</div>
									</a>
								</li>
							</volist>
						</ul>
					</div>
					<div class="hd">
						<ul>
							<volist name="relatedArr['root']" id="v">
								<li></li>
							</volist>
						</ul>
					</div>
				</div>
    		</div>
    		<div class="quan-block quan-title-block">
                <h2 class="relative">
                	<em></em>最近访客
                </h2>
                <div class="hp-task-show">
                	<div class="self_fangke">
                		<img src="__ROOT__/Apps/Home/View/default/img/turtor/5242c1db-3d93-a0e7-cd21-53953a79f2f4.jpg" />
                	</div>
                </div>
            </div>
        </div>
<!--头像弹层-->
<div class="pop_bg hide" id="pop_bg">
    <div class="img_bg" style="margin:10px 0 0 10px;">
        <img id="target" border="0" src=""/>
    </div>
    <a href="javascript:;" id="avatar_submit" class="con globe-btn50">确定</a>
    <a href="javascript:;" class="res globe-btn50 globe-btn50-nobg">取消</a>
</div><div id="layer_bg" style=" background-color: #666666;"></div>
    </div>
    </div>
    <div class="dialog-board dialog-board-class-code hide" id="vip_out_day" style=" position: fixed;">
    <div class="dialog-board-bar">
        <h2>开通课程</h2>
        <a href="javascript:;" class="close-dialog-board" id="close_vip_out_day"></a>
    </div>
    <div class="dialog-board-content">
        <div class="box-container">
            <p class="text-c-tips">本课程为会员专享，开通会员即可报名听课</p>
            <div class="btn-col2 clearfix">
                <a href="javascript:;" id="view_course" target="_blank" class="fl common-all-btn long-blue-btn">查看课程</a>
                <a href="" target="_blank" class="fr common-all-btn long-blue-btn">开通会员</a>
            </div>
        </div>
    </div>
</div></div>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/jquery.SuperSlide.2.1.1.js?v=1.10.5"></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/thread_detail.js?v=1.10.5"></script>
  <include file="./Apps/Home/View/default/common_foot.html" />