

<include file="./Apps/Home/View/default/common_head.html" />

<div id="main">
            <div id="v-first">
        <div class="v-story">
            <div class="ele-wrap">
                <div class="ele-s-title"><img src="__ROOT__/Apps/Home/View/default/img/vip/s1-sub-title.png" height="20" width="322"></div>
                <div class="ele-title"><img src="__ROOT__/Apps/Home/View/default/img/vip/s1-title.png" height="48" width="572"></div>
                <div class="ele-line"></div>
                <div class="ele-data">
                    <span class="num"><i id='animateNum1'>500</i>+</span>
                    <span>精品课程</span>
                    <span class="num"><i id='animateNum2'>100</i>+</span>
                    <span>牛人分享</span>
                    <span class="num"><i id='animateNum3'>30</i>+</span>
                    <span>专家答疑</span>
                </div>
                <div class="ele-qq qq_help"><a href="" target="_blank"><img src="__ROOT__/Apps/Home/View/default/img/vip/s1-qq.png" height="32" width="210"></a></div>
                <div class="ele-tel"><img src="__ROOT__/Apps/Home/View/default/img/vip/s1-tel.png" height="14" width="183"></div>
            </div>
        </div>
    </div>
    <div id="v-second">
        <div class="v-story relative qy">
            <img src="__ROOT__/Apps/Home/View/default/img/vip/new-vip.png" height="788" width="1000" alt="">
            <p class="qq_help"><a href="" class="kf-qq" >2852263842</a></p>
            
        </div>
    </div>
    
    <div id="v-third">
        <div class="v-story relative">
            <h1 class="align-c">会员课程试听</h1>            
            <!-- Flipster List -->  
            <div class="flipster">
                <ul class="flip-items video_li">
                    <li id="Coverflow-1" title="">
                        <a href="javascript:;" data-title="成熟期企业适用的贷款产品" data-id="476079a9a32c7ee440134622d105e9d4_4	"><img src="__ROOT__/Apps/Home/View/default/img/vip/csqqysy.jpg" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-2" title="">
                        <a href="javascript:;" data-title="内控2.0之升维篇 —— 互联网 + 内控" data-id="476079a9a3b21f7b4f25aef70767cd0e_4"><img src="__ROOT__/Apps/Home/View/default/img/vip/neikong.jpg" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-3" title="">
                        <a href="javascript:;" data-title="营改增晒战果—财务引领业务部门降低成本百分之五" data-id="476079a9a3c5fde1f2971e32f554d9df_4"><img src="__ROOT__/Apps/Home/View/default/img/vip/ygzszg.jpg" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-4" title="">
                        <a href="javascript:;" data-title="Excel软技能：日期函数强助攻" data-id="476079a9a34de49c4dc067215e2b4bab_4"><img src="__ROOT__/Apps/Home/View/default/img/vip/hszg.png" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-5" title="">
                        <a href="javascript:;" data-title="财务报表解读基础知识" data-id="476079a9a3b2a6fa527b9b6bbcab4dc0_4"><img src="__ROOT__/Apps/Home/View/default/img/vip/cwbb.png" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-6" title="">
                        <a href="javascript:;" data-title="财务人员的情商修养与跨部门沟通" data-id="476079a9a36030fe98386a15e4550cf7_4"><img src="__ROOT__/Apps/Home/View/default/img/vip/qsxl.png" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-7" title="">
                        <a href="javascript:;" data-title="税务稽查难点重点及案例分析" data-id="476079a9a31d58a3342f8dbfdc9a6039_4"><img src="__ROOT__/Apps/Home/View/default/img/vip/swjc.png" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-8" title="">
                        <a href="javascript:;" data-title="2015合并报表特别注意事项" data-id="476079a9a309eecf751be12b7c09caa9_4"><img src="__ROOT__/Apps/Home/View/default/img/vip/hbbb.png" width="426" height="240"><em></em></a>
                    </li>
                </ul>

                <div class="l-shadow"></div>
                <div class="r-shadow"></div>
            </div>
            <!-- End Flipster List -->
        </div>
    </div>
    
    <div id="v-forth">
        <div class="v-story">                
            <h1>他们都在秀财</h1>
            <p>国内外知名企业的财税人员都在秀财网学习</p>                
            <img src="__ROOT__/Apps/Home/View/default/img/vip/company2.jpg" height="252" width="999">                          
        </div>
    </div>
    <div class="videoLayer hide" style="position:fixed;z-index: 1024;width: 70%;margin-left: 15%;top: 20%;">
        <div class="vl-bar" style="background-color: #34302f;padding: 10px 0;float: left;width: 100%;">
            <h1 style="color: #fff;font-weight: normal;padding-left: 10px;font-size: 15px;float: left;"></h1>
            <em id="closeVideoLayer" style="float: right;margin-right: 20px;cursor: pointer;">
            	<img src="__ROOT__/Apps/Home/View/default/img/close-icon.png" />
            </em>
        </div>
       <!--  <div class="v1-content">
            <iframe id="play-video" name="courseDetailPlayIframe" frameborder="0" scrolling="0" src="" style="display: none; width: 100%; height:570px;"></iframe>
        </div> -->
    </div>  
                                                                                                                                                                                                                                                                                                                                                  
</div>
   <script type="text/javascript" src="http://assets.xiucai.com/assets/js/jquery.easings.min.js?v=1.10.5"></script>
    <script type="text/javascript" src="http://assets.xiucai.com/assets/js/respond.min.js?v=1.10.5"></script>
    <script type="text/javascript" src="http://assets.xiucai.com/assets/js/countUp.js?v=1.10.5"></script>
    <script type="text/javascript" src="http://assets.xiucai.com/assets/js/jquery.flipster.js?v=1.10.5"></script>
    <script type="text/javascript">
        $(function(){
            // 初始化轮播
            $('.flipster').flipster({
                style:              'carousel', // Switch between 'coverflow' or 'carousel' display styles
                enableKeyboard:     false, // Enable left/right arrow navigation
                enableMousewheel:   false, // Enable scrollwheel navigation (up = left, down = right)
                enableTouch:        false, // Enable swipe navigation for touch devices
         
                enableNav:          true, // If true, flipster will insert an unordered list of the slides
                navPosition:      'after',
                enableNavButtons:   true, // If true, flipster will insert Previous / Next buttons
                prevText:           '',
                nextText:           ''
            })
        })
    </script>
   
   <!-- <video src="i/movie.ogg"  width="320" height="240" controls="controls">-->
    <script type="text/javascript">
       /* var play_video_url = "http://www.xiucai.com/vip/play_video/";*/
       var play_video_url = "movie.ogg";
        $(function(){
            // $("#footer").css({"padding-bottom":"60px"});
            $(".flip-items").on("click", "li a", function () {
                var videoId=$(this).data("id");
                $(this).addClass("on").siblings(".on").removeClass("on");
                var play_url = play_video_url+'?isAuto=1&vid='+videoId;
                $('#play-video').attr('src', play_url);
                $('.videoLayer h1').text($(this).data("title"));
                $('.overlay').show();
                $("#play-video:hidden").show();
                $('.videoLayer').show();
            });

            $("#closeVideoLayer").on("click", function () {
                $('#play-video').attr('src', '');
                $('.overlay').hide();
                $("#play-video:hidden").hide();
                $('.videoLayer').hide();
            });
            $(".vipPageLogin").click(function(){
                showLogin();
            });
        });
    </script><!---->
<include file="./Apps/Home/View/default/common_foot.html" />