<include file="./Apps/Home/View/default/common_head.html"/>

<div id="main">
    <div id="v-third">
        <div class="v-story relative">
            <h1 class="align-c">会员课程点播</h1>
            <!-- Flipster List -->
            <div class="flipster">
                <ul class="flip-items video_li">
                    <li id="Coverflow-1" title="">
                        <a href="javascript:;" data-title="{$courseOne['courseName']}" data-id="476079a9a32c7ee440134622d105e9d4_4	"><img src="http://assets.xiucai.com/assets/img/vip/csqqysy.jpg?v=1.10.5" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-2" title="">
                        <a href="javascript:;" data-title="{$courseOne['courseName']}" data-id="476079a9a3b21f7b4f25aef70767cd0e_4"><img src="http://assets.xiucai.com/assets/img/vip/neikong.jpg?v=1.10.5" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-3" title="">
                        <a href="javascript:;" data-title="{$courseOne['courseName']}" data-id="476079a9a3c5fde1f2971e32f554d9df_4"><img src="http://assets.xiucai.com/assets/img/vip/ygzszg.jpg?v=1.10.5" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-4" title="">
                        <a href="javascript:;" data-title="{$courseOne['courseName']}" data-id="476079a9a34de49c4dc067215e2b4bab_4"><img src="http://assets.xiucai.com/assets/img/vip/hszg.png?v=1.10.5" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-5" title="">
                        <a href="javascript:;" data-title="{$courseOne['courseName']}" data-id="476079a9a3b2a6fa527b9b6bbcab4dc0_4"><img src="http://assets.xiucai.com/assets/img/vip/cwbb.png?v=1.10.5" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-6" title="">
                        <a href="javascript:;" data-title="{$courseOne['courseName']}" data-id="476079a9a36030fe98386a15e4550cf7_4"><img src="http://assets.xiucai.com/assets/img/vip/qsxl.png?v=1.10.5" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-7" title="">
                        <a href="javascript:;" data-title="{$courseOne['courseName']}" data-id="476079a9a31d58a3342f8dbfdc9a6039_4"><img src="http://assets.xiucai.com/assets/img/vip/swjc.png?v=1.10.5" width="426" height="240"><em></em></a>
                    </li>
                    <li id="Coverflow-8" title="">
                        <a href="javascript:;" data-title="{$courseOne['courseName']}" data-id="476079a9a309eecf751be12b7c09caa9_4"><img src="http://assets.xiucai.com/assets/img/vip/hbbb.png?v=1.10.5" width="426" height="240"><em></em></a>
                    </li>
                </ul>

                <div class="l-shadow"></div>
                <div class="r-shadow"></div>
            </div>
            <!-- End Flipster List -->
        </div>
    </div>

    <div id="v-forth">
        <div class="v-story">
            <h1>他们都在乐上财税</h1>
            <p>国内外知名企业的财税人员都在乐上财税网学习</p>
            <img src="http://assets.xiucai.com/assets/img/vip/company2.jpg?v=1.10.5" height="252" width="999">
        </div>
    </div>
    <div class="videoLayer hide" style="position:fixed;z-index: 1024;width: 70%;margin-left: 15%;top: 8%;">
        <div class="vl-bar" style="background-color: #34302f;padding: 10px 0;float: left;width: 100%;">
            <h1 style="color: #fff;font-weight: normal;padding-left: 10px;font-size: 15px;float: left;"></h1>
            <em id="closeVideoLayer" style="float: right;margin-right: 20px;cursor: pointer;">
                <img src="__ROOT__/Apps/Home/View/default/img/close-icon.png"/>
            </em>
        </div>
        <div class="v1-content">
            <iframe id="play-video" name="courseDetailPlayIframe" frameborder="0" scrolling="0" src="" style="display: none; width: 100%; height:570px;"></iframe>
        </div>
    </div>
    <!-- Live800默认跟踪代码: 开始-->

    <!--<script language="javascript" src="http://chat32.live800.com/live800/chatClient/monitor.js?jid=9906359517&companyID=664267&configID=91142&codeType=custom"></script>
    -->

    <!-- Live800默认跟踪代码: 结束-->
</div>
<include file="./Apps/Home/View/default/common_foot.html"/>
<script>
    $(function () {
        $(".video_li li").click(function () {
            $(".overlay1").removeClass('hide');
        });
    })
</script>


<!-- <script type="text/javascript" src="http://assets.xiucai.com/assets/js/jquery.parallax-1.1.3.js?v=1.10.5"></script> -->
<script type="text/javascript" src="http://assets.xiucai.com/assets/js/jquery.easings.min.js?v=1.10.5"></script>
<script type="text/javascript" src="http://assets.xiucai.com/assets/js/respond.min.js?v=1.10.5"></script>
<script type="text/javascript" src="http://assets.xiucai.com/assets/js/countUp.js?v=1.10.5"></script>
<script type="text/javascript" src="http://assets.xiucai.com/assets/js/jquery.flipster.js?v=1.10.5"></script>
<script type="text/javascript">
    $(function () {
        // 初始化轮播
        $('.flipster').flipster({
            style: 'carousel', // Switch between 'coverflow' or 'carousel' display styles
            enableKeyboard: false, // Enable left/right arrow navigation
            enableMousewheel: false, // Enable scrollwheel navigation (up = left, down = right)
            enableTouch: false, // Enable swipe navigation for touch devices

            enableNav: true, // If true, flipster will insert an unordered list of the slides
            navPosition: 'after',
            enableNavButtons: true, // If true, flipster will insert Previous / Next buttons
            prevText: '',
            nextText: ''
        })
    })
</script>

<!-- <video src="i/movie.ogg"  width="320" height="240" controls="controls">-->
<script type="text/javascript">
    /* var play_video_url = "http://www.xiucai.com/vip/play_video/";*/
    var play_video_url = "{$courseOne['videoPath']}";
    $(function () {
        // $("#footer").css({"padding-bottom":"60px"});
            var videoId = $(this).data("id");
            $(".flip-items").addClass("on").siblings(".on").removeClass("on");
            var play_url = play_video_url + '?isAuto=1&vid=' + videoId;
            $('#play-video').attr('src', play_url);
            $('.videoLayer h1').text($(".flip-items").data("title"));
            $('.overlay').show();
            $("#play-video:hidden").show();
            $('.videoLayer').show();
        $(".flip-items").on("click", "li a", function () {
            var videoId = $(this).data("id");
            $(this).addClass("on").siblings(".on").removeClass("on");
            var play_url = play_video_url + '?isAuto=1&vid=' + videoId;
            $('#play-video').attr('src', play_url);
            $('.videoLayer h1').text($(this).data("title"));
            $('.overlay').show();
            $("#play-video:hidden").show();
            $('.videoLayer').show();
        });

        $("#closeVideoLayer").on("click", function () {
            $('#play-video').attr('src', '');
            $('.overlay').hide();
            $("#play-video:hidden").hide();
            $('.videoLayer').hide();
        });
        $(".vipPageLogin").click(function () {
            showLogin();
        });
    });
</script><!---->
<script type="text/javascript">
    randomQQ();

    var _height = window.ActiveXObject ? $("#footer").outerHeight() + 1 : $("#footer").outerHeight();
    // 判断滚动条是否滚动到底部
    $(window).scroll(function () {
        var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
        if (scrollTop + $(window).height() >= $(document).height() - 20) {
            $(".vip-footer").css("bottom", _height);
        }
        else {
            $(".vip-footer").css("bottom", "0");
        }
    });
    $(function () {
        // $('#v-first').parallax("50%", 0.1);
        // $('#v-third').parallax("50%", 0.1);

        // 首屏动画
        var isIE = function (ver) {
            var b = document.createElement('b')
            b.innerHTML = '<!--[if IE ' + ver + ']><i></i><![endif]-->'
            return b.getElementsByTagName('i').length === 1
        }
        if (isIE(8)) {
            $(".ele-wrap .ele-title").css("bottom", "152px")
        }
        ;
        $(".ele-wrap").addClass('ele-wrap-active');
        setTimeout(function () {
            $('.ele-wrap').find('.ele-line').animate({width: '620px'}, 300);
        }, 600, {easing: 'swing'});
        setTimeout(function () {
            $('.ele-s-title').find('img').animate({width: '322px'}, 300);
        }, 800, {easing: 'easeOutBounce'});
        setTimeout(function () {
            $('.ele-data').find('span').fadeIn({duration: 1000, easing: 'linear'});
            var numAnim1 = new CountUp("animateNum1", 0, 500, 0, 0);
            var numAnim2 = new CountUp("animateNum2", 0, 100, 0, 0);
            var numAnim3 = new CountUp("animateNum3", 0, 30, 0, 0);
            numAnim1.start();
            numAnim2.start();
            numAnim3.start();
        }, 1000);

        setTimeout(function () {
            $('.ele-wrap').find('.ele-qq').addClass('ele-qq-fade').animate({bottom: '48px'}, 500);
        }, 700, {easing: 'easeOutExpo'});

        setTimeout(function () {
            $('.ele-wrap').find('.ele-qq').addClass('ele-qq-active');
        }, 1100);

        setTimeout(function () {
            $('.ele-wrap').find('.ele-tel').addClass('ele-tel-fade');
        }, 1200);

        var timer = setInterval(function () {
            $(".tel-btn").find("i").toggleClass('infinite')
        }, 600);

        $('.buyVip').on('click', function () {
            if (needBindPhone == 1) {
                showBindPhone();
                return false;
            }
        });
    })
</script>
<script language="JavaScript" type="text/javascript">
    randomQQ();
    $(window).scroll(fixedPosition);
    $(window).resize(fixedPosition);
    function fixedPosition() {
        var s_left = $(window).scrollLeft();
        $(".fixed-head").css("left", ~s_left + 1);
    }
</script>