<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['mallTitle']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
      <script src="__PUBLIC__/js/jquery.min.js"></script>
      <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
   </head>
   <script>
   function del(id){
	   Plugins.confirm({title:'信息提示',content:'您确定要删除该问题吗?',okText:'确定',cancelText:'取消',okFun:function(){
		   Plugins.closeWindow();
		   Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
		   $.post("{:U('Admin/Specialist/del')}",{id:id},function(data,textStatus){
					var json = WST.toJson(data);
					if(json.status=='1'){
						Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
						location.reload();
						}});
					}else{
						Plugins.closeWindow();
						Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
					}
				});
	   }});
   }
   </script>
   <body class='wst-page'>
       <form method='post' action='{:U("Admin/Specialist/index")}'>
       <div class='wst-tbar' style='height:25px;'>
                    问题关键字：<input type='text' id='keyword' name='keyword' class='form-control wst-ipt-15' value='{$keyword}'/>
       <button type="submit" class="btn btn-primary glyphicon glyphicon-search">查询</button>
       </div>
       </form>
       <div class="wst-body"> 
        <table class="table table-hover table-striped table-bordered wst-list">
           <thead>
             <tr>
                 <th width='40'>序号</th>
                 <th>标题</th>
                 <th width='80'>提问者</th>
                 <th width="80">解答状态</th>
                 <th width='150'>发布时间</th>
                 <th width='200'>操作</th>
             </tr>
           </thead>
           <tbody>
            <volist name="Page['root']" id="vo" key='i'>
             <tr>
                 <td>{$i}</td>
                 <td>{$vo['title']}</td>
                 <td>{$vo['loginName']}</td>
                 <td>
                     <php>if($vo['is_answered'] == 0){</php>
                     <span>未解答</span>
                     <php>}</php>
                     <php>if($vo['is_answered'] == 1){</php>
                     <span>已解答</span>
                     <php>}</php>
                 </td>
                 <td>{$vo['ctime']|date='Y-m-d H:i:s',###}</td>
                 <td>
                     <php>if(in_array('wdlb_02',$WST_STAFF['grant'])){</php>
                     <a class="btn btn-default glyphicon glyphicon-list-alt" href="{:U('Admin/Specialist/replyList',array('id'=>$vo['id']))}">查看回复</a>&nbsp;
                     <php>}</php>
                     <php>if(in_array('wdlb_03',$WST_STAFF['grant'])){</php>
                     <a class="btn btn-default glyphicon glyphicon-trash" href="javascript:del({$vo['id']})"">刪除</a>
                     <php>}</php>
                 </td>
             </tr>
             </volist>
             <tr>
                 <td colspan='7' align='center'>{$Page['pager']}</td>
             </tr>
           </tbody>
        </table>
       </div>
   </body>
</html>